<ol class="breadcrumb">
	<li><a ui-sref="main.admin.users" translate="shared.settings"></a></li>
	<li class="active" translate="client.clients"></li>
</ol>

<table class="table table-stripped table-bordered table-condensed">
	<thead>
		<tr>
			<th translate="client.id"></th>
			<th translate="client.name"></th>
			<th translate="client.num_tokens"></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="client in clients track by client._id">
			<td>{{client._id}}</td>
			<td>{{client.name}}</td>
			<td>{{client.__numTokens}}</td>
			<td>
				<a class="btn btn-xs btn-default"
				   ui-sref="main.admin.client({clientId:client._id})"
				   translate="shared.edit"></a>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<div class="input-group input-group-sm" style="width: 100%">
					<a class="btn btn-default btn-xs" ui-sref="main.admin.client({clientId:'new'})" style="width: 100%" translate="shared.add"></a>
				</div>
			</td>
		</tr>
	</tbody>
</table>
