<ol class="breadcrumb">
	<li><a ui-sref="main.admin.users" translate>shared.settings</a></li>
	<li class="active" translate ng-if="entityType === 'theme'">indicator.themes_list</li>
	<li class="active" translate ng-if="entityType === 'type'">indicator.types_list</li>
</ol>

<doc-reminder pages="general.translation"></doc-reminder>

<table class="table table-stripped table-bordered table-condensed">
	<thead>
		<tr>
			<th ng-repeat="(code, language) in languages">{{('menu.'+language)|translate}}</th>

			<th ng-if="entityType === 'theme'" translate="indicator.num_projects"></th>
			<th translate="indicator.num_indicators"></th>
			<th style="width:225px" acl-has-role="indicator"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(entityIndex, entity) in entities track by entity._id">
			<td acl-has-role="indicator" acl-fallback="entity.name[code]" ng-repeat="(code, language) in languages">
				<ng-form name="entityForm">
					<div class="form-group" show-errors style="margin: 0">
						<input type="text" name="name" ng-model="entity.name[code]" class="form-control input-sm" required />
					</div>
				</ng-form>
			</td>
			<td ng-if="entityType === 'theme'">{{entity.__projectUsage || 0}}</td>
			<td>{{entity.__indicatorUsage || 0}}</td>
			<td acl-has-role="indicator">
				<button class="btn btn-primary btn-sm" ng-click="save(entityIndex)" ng-disabled="!entity.name || !hasChanged(entityIndex)">
					<i class="fa fa-floppy-o"></i>
					<span translate>shared.save</span>
				</button>
				<button class="btn btn-danger btn-sm" ng-disabled="entity.__projectUsage || entity.__indicatorUsage" ng-click="remove(entityIndex)">
					<i class="fa fa-remove"></i>
					<span translate>shared.delete</span>
				</button>
			</td>
		</tr>
		<tr acl-has-role="indicator">
			<!-- should be len(languages + 3) -->
			<td colspan="{{entityType === 'theme' ? 6 : 5}}">
				<div class="input-group input-group-sm" style="width: 100%">
					<button class="btn btn-default btn-xs" ng-click="create()" style="width: 100%" translate>shared.add</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
