<ol class="breadcrumb">
	<li class="active" translate="shared.settings"></li>
	<li class="active" translate="shared.users"></li>
</ol>

<doc-reminder pages="general.acls"></doc-reminder>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th translate="shared.name"></th>
			<th translate="shared.administrator"></th>
			<th translate="shared.projects"></th>
			<th translate="shared.indicators"></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users track by user._id">
			<td>{{user.name}}</td>
			<td><input type="checkbox" ng-model="user.__choices._admin" /></td>
			<td><input type="checkbox" ng-model="user.__choices.project" ng-disabled="user.__choices._admin" /></td>
			<td><input type="checkbox" ng-model="user.__choices.indicator" ng-disabled="user.__choices._admin" /></td>
			<td>
				<button
					class="btn btn-primary btn-xs"
					ng-disabled="isUnchanged($index)"
					ng-click="save($index)"
					translate="shared.save"></button>
				<button
					class="btn btn-default btn-xs"
					ng-disabled="isUnchanged($index)"
					ng-click="reset($index)"
					translate="shared.remove_changes"></button>
			</td>
		</tr>
	</tbody>
</table>
