<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.country}}" ng-bind="masterProject.country|maxLength:50"></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li class="active" translate="project.collection_site_list"></li>
</ol>


<div class="alert alert-info" translate="project.collection_site_info"></div>

<form name="forms.current" novalidate>

	<legend translate="project.collection_site_list"></legend>

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th style="width: 30px"></th>
				<th translate="project.entity_name"></th>
				<th style="width: 200px" translate="project.specific_start"></th>
				<th style="width: 200px" translate="project.specific_end"></th>
				<th style="width: 30px"></th>
			</tr>
		</thead>
		<tbody ng-if="editableProject.entities.length == 0">
			<tr>
				<td colspan="5" style="text-align: center" translate="project.no_input_entities"></td>
			</tr>
		</tbody>
		<tbody ng-if="editableProject.entities.length != 0" ng-sortable="{handle: '.handle'}">
			<tr ng-repeat="inputEntity in editableProject.entities track by inputEntity.id">
				<td class="handle"><i class="fa fa-sort fa-fw"></i></td>

				<td>
					<ng-form name="center">
						<div class="form-group" show-errors style="margin: 0">
							<input type="text"
								   name="name"
								   ng-model="inputEntity.name"
								   class="form-control input-sm"
								   placeholder="{{'project.entity_name_placeholder'|translate}}"
								   required />
						</div>
					</ng-form>
				</td>
				<td>
					<optional-date ng-model="inputEntity.start" default="editableProject.start" message="project.same_as_start"></optional-date>
				</td>
				<td>
					<optional-date ng-model="inputEntity.end" default="editableProject.end" message="project.same_as_end"></optional-date>
				</td>
				<td style="text-align: right">
					<a class="btn btn-danger btn-sm" ng-click="deleteEntity(inputEntity.id)">
						<i class="fa fa-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" style="text-align: center">
					<a class="btn btn-default btn-xs" ng-click="createEntity()">
						<i class="fa fa-plus"></i>
						<span translate="shared.add"></span>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>

	<legend translate="project.groups"></legend>

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th style="width: 30px"></th>
				<th style="width: 300px" translate="project.group_name"></th>
				<th translate="shared.members"></th>
				<th style="width: 30px;"></th>
			</tr>
		</thead>
		<tbody ng-if="editableProject.groups.length == 0">
			<tr>
				<td colspan="4" style="text-align: center" translate="project.no_input_groups"></td>
			</tr>
		</tbody>
		<tbody ng-if="editableProject.groups.length != 0" ng-sortable="{handle: '.handle'}">
			<tr ng-repeat="inputGroup in editableProject.groups track by inputGroup.id">
				<td class="handle"><i class="fa fa-sort fa-fw"></i></td>

				<td>
					<ng-form name="center">
						<div class="form-group" show-errors style="margin: 0">
							<input type="text"
								   name="name"
								   placeholder="{{'project.group_name_placeholder'|translate}}"
								   ng-model="inputGroup.name"
								   class="form-control error input-sm"
								   required />
						</div>
					</ng-form>
				</td>

				<td>
					<ui-select multiple ng-model="inputGroup.members" theme="bootstrap">
						<ui-select-match placeholder="">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="inputEntity.id as inputEntity in editableProject.entities">
							{{inputEntity.name}}
						</ui-select-choices>
					</ui-select>
				</td>

				<td style="text-align: right">
					<a class="btn btn-danger btn-sm" ng-click="deleteGroup(inputGroup.id)">
						<i class="fa fa-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" style="text-align: center">
					<a class="btn btn-default btn-xs" ng-click="createGroup()">
						<i class="fa fa-plus"></i>
						<span translate="shared.add"></span>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</form>
