<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.country}}" ng-bind="masterProject.country|maxLength:50"></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li><a ui-sref="main.project.structure.logical_frame_list" translate="shared.logical_frames"></a></li>
	<li class="active">
		<span ng-show="editableProject.logicalFrames[logicalFrameIndex].name">{{editableProject.logicalFrames[logicalFrameIndex].name|maxLength:50}}</span>
		<span ng-hide="editableProject.logicalFrames[logicalFrameIndex].name" translate="project.unnamed_logframe"></span>
	</li>
</ol>

<form class="form-horizontal noprint" role="form" name="projectForm" novalidate ng-if="logicalFrameIndex !== null">

	<!-- [General information] -->
	<fieldset>
		<legend>
			<span translate="project.general_informations"></span>
		</legend>

		<!-- [Name] -->
		<div class="form-group" show-errors>
			<label for="logframe-name-input" class="col-sm-2 control-label" translate="shared.name"></label>

			<div class="col-sm-10">
				<textarea auto-resize
						  class="form-control"
						  name="nameDesc"
						  id="logframe-name-input"
						  placeholder="{{'project.logframe_ph_name'|translate}}"
						  ng-required="1"
						  ng-minlength="1"
						  ng-model="editableProject.logicalFrames[logicalFrameIndex].name"></textarea>

				<span class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.logframe_help_name"></span>
				</span>
			</div>
		</div>
		<!-- [/Name] -->

		<!-- [Specific dates] -->
		<div class="form-group">
			<label for="logframe-startdate-input" class="col-sm-2 control-label" translate="project.specific_start"></label>
			<div class="col-sm-10">
				<optional-date
					ng-model="editableProject.logicalFrames[logicalFrameIndex].start"
					default="editableProject.start"
					message="project.same_as_start"></optional-date>

				<span class="help-block">
					<i class="fa fa-info-circle"></i>
					{{'project.logframe_edit_help_start'|translate}}
				</span>
			</div>
		</div>

		<div class="form-group">
			<label for="logframe-enddate-input" class="col-sm-2 control-label" translate="project.specific_end"></label>
			<div class="col-sm-10">
				<optional-date
					ng-model="editableProject.logicalFrames[logicalFrameIndex].end"
					default="editableProject.end"
					message="project.same_as_end"></optional-date>

				<span class="help-block">
					<i class="fa fa-info-circle"></i>
					{{'project.logframe_edit_help_end'|translate}}
				</span>
			</div>
		</div>
		<!-- [/Specific dates] -->
	</fieldset>
	<!-- [/General information] -->

	<!-- [General objective] -->
	<fieldset>
		<legend>
			<span translate="project.goal"></span>
		</legend>

		<!-- [General objective description] -->
		<div class="form-group" show-errors>
			<label for="logframe-goal-input" class="col-sm-2 control-label" translate="project.goal"></label>

			<div class="col-sm-10">
				<textarea auto-resize
						  class="form-control"
						  name="goalDesc"
						  id="logframe-goal-input"
						  placeholder="{{'project.intervention_logic_goal_ph'|translate}}"
						  ng-model="editableProject.logicalFrames[logicalFrameIndex].goal"></textarea>

				<span class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.logframe_help_goal"></span>
				</span>
			</div>
		</div>
		<!-- [/General objective description] -->

		<!-- [General objective indicators] -->
		<div class="form-group">
			<label class="col-sm-2 control-label" translate="shared.indicators"></label>
			<div class="col-sm-10">
				<div class="form-control-static">
					<div
						class="drag-destination"
						ng-sortable="indicatorsSortOptions"
						ng-mouseenter="onSortableMouseEvent('indicators', true)"
						ng-mouseleave="onSortableMouseEvent('indicators', false)"><indicator
							ng-repeat="indicator in editableProject.logicalFrames[logicalFrameIndex].indicators"
							indicator="indicator"
							indicator-list="editableProject.logicalFrames[logicalFrameIndex].indicators"
							project="editableProject"></indicator></div>

					<p>
						<a class="btn btn-default btn-sm" ng-click="addIndicator(editableProject.logicalFrames[logicalFrameIndex].indicators)">
							<i class="fa fa-plus"></i>
							{{"project.add_indicator"|translate}}
						</a>
					</p>

					<span class="help-block">
						<i class="fa fa-info-circle"></i>
						<span translate="project.logframe_help_goal_indicators"></span>
					</span>
				</div>
			</div>
		</div>
		<!-- [/General objective indicators] -->
	</fieldset>
	<!-- [/General objective] -->

	<!-- [Purposes] -->
	<fieldset>
		<legend translate="project.purposes"></legend>

		<p ng-if="editableProject.logicalFrames[logicalFrameIndex].purposes.length == 0" translate="project.no_purposes"></p>

		<div ng-sortable="purposeSortOptions" ng-mouseenter="onSortableMouseEvent('purposes', true)" ng-mouseleave="onSortableMouseEvent('purposes', false)">

			<!-- [Purpose repeat] -->
			<div class="panel panel-primary" ng-repeat="(purposeId, purpose) in editableProject.logicalFrames[logicalFrameIndex].purposes">

				<div class="panel-heading">
					<div class="panel-title">
						<a class="btn btn-danger btn-xs pull-right"
						   ng-click="remove(purpose, editableProject.logicalFrames[logicalFrameIndex].purposes)">

							<i class="fa fa-remove"></i>
							<span translate="project.delete_purpose"></span>
						</a>

						<i class="fa fa-sort fa-fw purpose-handle"></i>

						{{'project.purpose'|translate}} {{purposeId + 1}}: {{purpose.description}}
					</div>
				</div>

				<div class="panel-body">
					<ng-form name="purposeForm">
						<!-- [Purpose description] -->
						<div class="form-group" show-errors>
							<label for="purpose-desc-{{purposeId}}-input" class="col-sm-2 control-label" translate="project.purpose"></label>
							<div class="col-sm-10">
								<textarea auto-resize class="form-control"
										  name="description"
										  id="purpose-desc-{{purposeId}}-input"
										  placeholder="{{'project.intervention_logic_purpose_ph'|translate}}"
										  ng-model="purpose.description"></textarea>

								<span class="help-block">
									<i class="fa fa-info-circle"></i>
									<span translate="project.logframe_help_purpose_desc"></span>
								</span>
							</div>
						</div>
						<!-- [/Purpose description] -->

						<!-- [Purpose assumption] -->
						<div class="form-group" show-errors>
							<label for="purpose-assum-{{purposeId}}-input" class="col-sm-2 control-label" translate="project.assumptions"></label>
							<div class="col-sm-10">
								<textarea auto-resize class="form-control"
										  name="assumptions"
										  id="purpose-assum-{{purposeId}}-input"
										  placeholder="{{'project.assumptions_purpose_ph'|translate}}"
										  ng-model="purpose.assumptions"></textarea>

								<span class="help-block">
									<i class="fa fa-info-circle"></i>
									<span translate="project.logframe_help_purpose_assumptions"></span>
								</span>
							</div>
						</div>
						<!-- [/Purpose assumption] -->

						<!-- [Purpose indicators] -->
						<div class="form-group">
							<label class="col-sm-2 control-label" translate="shared.indicators"></label>
							<div class="col-sm-10">
								<div class="form-control-static">

									<div
										class="drag-destination"
										ng-sortable="indicatorsSortOptions"
										ng-mouseenter="onSortableMouseEvent('indicators', true)"
										ng-mouseleave="onSortableMouseEvent('indicators', false)"><indicator
											ng-repeat="indicator in purpose.indicators"
											indicator="indicator"
											indicator-list="purpose.indicators"
											project="editableProject"></indicator></div>

									<p>
										<a class="btn btn-default btn-sm" ng-click="addIndicator(purpose.indicators)">
											<i class="fa fa-plus"></i>
											{{"project.add_indicator"|translate}}
										</a>
									</p>

									<span class="help-block">
										<i class="fa fa-info-circle"></i>
										<span translate="project.logframe_help_purpose_indicators"></span>
									</span>
								</div>
							</div>
						</div>
						<!-- [/Purpose indicators] -->

						<!-- [Outputs] -->
						<div
							ng-sortable="outputSortOptions"
							ng-mouseenter="onSortableMouseEvent('outputs', true)"
							ng-mouseleave="onSortableMouseEvent('outputs', false)">

							<!-- [Output repeat] -->
							<div class="panel panel-info" ng-repeat="(outputId, output) in purpose.outputs">
								<div class="panel-heading">
									<div class="panel-title">
										<span class="pull-right">
											<a class="btn btn-danger btn-xs" ng-click="remove(output, purpose.outputs)">
												<i class="fa fa-remove"></i>
												<span translate="project.delete_result"></span>
											</a>
										</span>
										<i class="fa fa-sort fa-fw output-handle"></i>
										{{'project.output'|translate}} {{purposeId + 1}}.{{outputId + 1}}: {{output.description}}
									</div>
								</div>

								<div class="panel-body">
									<ng-form name="outputForm">
										<!-- [Output description] -->
										<div class="form-group" show-errors>
											<label for="output-desc-{{purposeId}}-{{outputId}}-input" class="col-sm-2 control-label" translate="project.output"></label>
											<div class="col-sm-10">
												<textarea auto-resize class="form-control"
														  id="output-desc-{{purposeId}}-{{outputId}}-input"
														  name="description"
														  placeholder="{{'project.output_desc_ph'|translate}}"
														  ng-model="output.description"></textarea>

												<span class="help-block">
													<i class="fa fa-info-circle"></i>
													<span translate="project.logframe_help_output_desc"></span>
												</span>
											</div>
										</div>
										<!-- [/Output description] -->

										<!-- [Output assumptions] -->
										<div class="form-group" show-errors>
											<label for="output-assump-{{purposeId}}-{{outputId}}-input" class="col-sm-2 control-label" translate="project.assumptions"></label>
											<div class="col-sm-10">
												<textarea auto-resize class="form-control"
														  id="output-assump-{{purposeId}}-{{outputId}}-input"
														  name="assumptions"
														  placeholder="{{'project.output_assumptions_ph'|translate}}"
														  ng-model="output.assumptions"></textarea>

												<span class="help-block">
													<i class="fa fa-info-circle"></i>
													<span translate="project.logframe_help_output_assumptions"></span>
												</span>
											</div>
										</div>
										<!-- [/Output assumptions] -->

										<!-- [Output indicators] -->
										<div class="form-group">
											<label class="col-sm-2 control-label" translate="shared.indicators"></label>
											<div class="col-sm-10">
												<div class="form-control-static">

													<div
														class="drag-destination"
														ng-sortable="indicatorsSortOptions"
														ng-mouseenter="onSortableMouseEvent('indicators', true)"
														ng-mouseleave="onSortableMouseEvent('indicators', false)"><indicator
															ng-repeat="indicator in output.indicators"
															indicator="indicator"
															indicator-list="output.indicators"
															project="editableProject"></indicator></div>

													<p>
														<a class="btn btn-default btn-sm" ng-click="addIndicator(output.indicators)">
															<i class="fa fa-plus"></i>
															{{"project.add_indicator"|translate}}
														</a>
													</p>

													<span class="help-block">
														<i class="fa fa-info-circle"></i>
														<span translate="project.logframe_help_output_indicators"></span>
													</span>
												</div>
											</div>
										</div>
										<!-- [/Output indicators] -->

									</ng-form>

									<!-- [Activities] -->
									<div
										ng-sortable="activitySortOptions"
										ng-mouseenter="onSortableMouseEvent('activities', true)"
										ng-mouseleave="onSortableMouseEvent('activities', false)">

										<!-- [Activity repeat] -->
										<div class="panel panel-default" ng-repeat="(activityId, activity) in output.activities">
											<div class="panel-heading">
												<div class="panel-title">
													<span class="pull-right">
														<a class="btn btn-danger btn-xs" ng-click="remove(activity, output.activities)">
															<i class="fa fa-remove"></i>
															<span translate="project.delete_activity"></span>
														</a>
													</span>
													<i class="fa fa-sort fa-fw activity-handle"></i>
													{{'project.activity'|translate}} {{purposeId + 1}}.{{outputId + 1}}.{{activityId + 1}}: {{activity.description}}
												</div>
											</div>

											<div class="panel-body">
												<ng-form name="activityForm">

													<!-- [Activity description] -->
													<div class="form-group" show-errors>
														<label
															for="activity-desc-{{purposeId}}-{{outputId}}-{{activityId}}-input"
															class="col-sm-2 control-label"
															translate="project.activity"></label>

														<div class="col-sm-10">
															<textarea
																auto-resize
																class="form-control"
																id="activity-desc-{{purposeId}}-{{outputId}}-{{activityId}}-input"
																name="description"
																placeholder="{{'project.activity_desc_ph'|translate}}"
																ng-model="activity.description"></textarea>

															<span class="help-block">
																<i class="fa fa-info-circle"></i>
																<span translate="project.logframe_help_activity_desc"></span>
															</span>
														</div>
													</div>
													<!-- [/Activity description] -->

													<!-- [Activity indicators] -->
													<div class="form-group">
														<label class="col-sm-2 control-label" translate="shared.indicators"></label>
														<div class="col-sm-10">
															<div class="form-control-static">

																<div
																	class="drag-destination"
																	ng-sortable="indicatorsSortOptions"
																	ng-mouseenter="onSortableMouseEvent('indicators', true)"
																	ng-mouseleave="onSortableMouseEvent('indicators', false)"><indicator
																		ng-repeat="indicator in activity.indicators"
																		indicator="indicator"
																		indicator-list="activity.indicators"
																		project="editableProject"></indicator></div>

																<p>
																	<a class="btn btn-default btn-sm" ng-click="addIndicator(activity.indicators)">
																		<i class="fa fa-plus"></i>
																		{{"project.add_indicator"|translate}}
																	</a>
																</p>

																<span class="help-block">
																	<i class="fa fa-info-circle"></i>
																	<span translate="project.logframe_help_activity_indicators"></span>
																</span>
															</div>
														</div>
													</div>
													<!-- [/Activity indicators] -->
												</ng-form>
											</div>
										</div>
										<!-- [/Activity repeat] -->
									</div>

									<a class="btn btn-default" ng-click="addActivity(output)">
										<i class="fa fa-plus"></i>
										<span translate="project.add_activity"></span>
									</a>
									<!-- [/Activities] -->

								</div>
							</div>
							<!-- [/Output repeat] -->
						</div>

						<a class="btn btn-default" ng-click="addOutput(purpose)">
							<i class="fa fa-plus"></i>
							<span translate="project.add_output"></span>
						</a>
						<!-- [/Outputs] -->
					</ng-form>
				</div>
			</div>
			<!-- [/Purpose repeat] -->

		</div>

		<a class="btn btn-default" ng-click="addPurpose()">
			<i class="fa fa-plus"></i>
			<span translate="project.add_purpose"></span>
		</a>
	</fieldset>
	<!-- [/Purposes] -->

</form>


<div class="pull-right">
	<button ng-click="deleteLogicalFrame()" ng-if="masterProject.logicalFrames[logicalFrameIndex]" class="btn btn-danger">
		<i class="fa fa-times"></i>
		<span translate="project.delete_logical_frame"></span>
	</button>
</div>

<br/>
<br/>
