<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.country}}" ng-bind="masterProject.country|maxLength:20"></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li class="active" translate="project.revisions"></li>
</ol>

<div class="alert alert-info" translate="project.revision_info"></div>

<legend translate="project.revisions"></legend>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 15%" translate="project.revision_datetime"></th>
			<th translate="project.revision_changes"></th>
		</tr>
	</thead>
	<tbody ng-if="!revisions.length">
		<tr>
			<td style="text-align: center" colspan="2" translate="project.revision_none"></td>
		</tr>
	</tbody>
	<tbody ng-repeat="(revIndex, revision) in revisions" class="revtbody">
		<tr>
			<td>
				{{::revision.time|date:'medium'}}<br/>
				{{::revision.user|formatUser}}
			</td>
			<td ng-bind-html="::revision|humanizePatch"></td>
		</tr>
		<tr class="restore"
			ng-class="{'selected': revIndex == selectedIndex}">

			<td colspan="2" style="text-align: center">
				<a ng-show="!revision.isEquivalent && revIndex != selectedIndex"
					class="btn btn-xxs btn-default"
					ng-click="restore(revIndex)"
					translate="project.revision_restore"></a>

				<span ng-show="!revision.isEquivalent && revIndex == selectedIndex" translate="project.revision_save_to_confirm"></span>
				<span ng-show="revision.isEquivalent" translate="project.revision_is_equivalent"></span>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr ng-if="revisions.length && !finished">
			<td style="text-align: center" colspan="2">
				<a ng-click="showMore()" translate="project.revision_show_more"></a>
			</td>
		</tr>
	</tfoot>
</table>

