<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.country}}" ng-bind="masterProject.country|maxLength:50"></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li class="active" translate="project.revisions"></li>
</ol>

<div class="alert alert-info" translate="project.revision_info"></div>

<legend translate="project.revisions"></legend>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 15%" translate="project.revision_datetime"></th>
			<th translate="project.revision_changes"></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(revIndex, revision) in revisions">
			<td>
				{{::revision.time|date:'medium'}}<br/>
				{{::revision.user|formatUser}}
			</td>
			<td ng-bind-html="::revision|humanizePatch"></td>
			<td>
				<a
					class="btn btn-xxs"
					ng-class="{'btn-default': revIndex != selectedIndex, 'btn-primary': revIndex == selectedIndex}"
					ng-click="restore(revIndex)"
					translate="project.revision_restore"></a>
			</td>
		</tr>
		<tr ng-if="::!revisions.length">
			<td style="text-align: center" colspan="3" translate="project.revision_none"></td>
		</tr>
	</tbody>
	<tfoot>
		<tr ng-if="revisions.length && !finished">
			<td style="text-align: center" colspan="3">
				<a ng-click="showMore()" translate="project.revision_show_more"></a>
			</td>
		</tr>
	</tfoot>
</table>

