<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.country}}" ng-bind="masterProject.country|maxLength:50"></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li class="active" translate="project.revisions"></li>
</ol>

<div class="alert alert-info" translate="project.revisions_info"></div>

<legend translate="project.revisions"></legend>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 15%">Date / Heure</th>
			<th>Modification apportées</th>
		</tr>
	</thead>
	<tbody ng-repeat="revision in ::revisions">
		<tr>
			<td>{{::revision.time|date:'medium'}}</td>
			<td ng-bind-html="::revision|humanizePatch"></td>
		</tr>
	</tbody>
</table>

