<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.country}}" ng-bind="masterProject.country|maxLength:50"></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li class="active" translate="project.users"></li>
</ol>

<div class="alert alert-info" translate="project.users_list_info"></div>

<legend translate="project.users"></legend>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th style="width: 30px"></th>
			<th translate="shared.name"></th>
			<th translate="project.username"></th>
			<th style="width: 150px" translate="project.user_role"></th>
			<th style="width: 60%" translate="project.authorization"></th>
		</tr>
	</thead>
	<tbody ng-if="editableProject.users.length == 0">
		<tr>
			<td colspan="5" style="text-align: center" translate="project.no_users"></td>
		</tr>
	</tbody>

	<tbody ng-if="editableProject.users.length != 0" ng-sortable="{handle: '.handle'}">
		<tr ng-repeat="user in editableProject.users">
			<td class="handle"><i class="fa fa-sort fa-fw"></i></td>
			<td>
				<a ng-click="editUser(user)">
					{{user.name || users[user.id].name}}
				</a>
			</td>
			<td>
				<img src="/img/logo_blue.svg" style="height: 17px" ng-if="user.type=='internal'" />
				{{user.username}}
			</td>
			<td>{{('project.user_roles.' + user.role)|translate}}</td>
			<td>
				<span ng-if="user.role == 'input'">
					<span translate="project.collection_site_list" style="font-weight: bold"></span>:
					{{user.entities|getObjects:masterProject.entities|pluck:'name'|translate_list|join:', '}}<br/>
					<span translate="project.collection_form_list" style="font-weight: bold"></span>:
					{{user.dataSources|getObjects:masterProject.forms|pluck:'name'|translate_list|join:', '}}
				</span>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" style="text-align: center">
				<a class="btn btn-default btn-xs" ng-click="editUser()">
					<i class="fa fa-plus"></i>
					<span translate="shared.add"></span>
				</a>
			</td>
		</tr>
	</tfoot>
</table>
