

Ici on peut voir si on utilise l'API ou si on est sur indexedDB.
En gros on a trois modes de fonctionnement:

indexed db off, indexed db on, et remote.




<!-- 
On a trois booleans

- 
- 
- 


<table>
	<tr>
		<th></th>
		<th>Est ce que je suis lié à une base distante</th>
		<th></th>
	</tr>
	<tr>
		<th>Est ce que je suis connecté a internet maintenant</th>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th></th>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th></th>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table> -->