
<ol class="breadcrumb">
	<li><a href="#inputs">Saisies en attente</a></li>
	<li><a href="#inputs/{{period}}">{{period}}</a></li>
	<li class="active">{{center.name}}</li>
</ol>


<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th style="width: 300px;">Nom</th>
			<th>Nouvelle valeur</th>
			<th>Mois précédant</th>
		</tr>
	</thead>
	<tbody ng-repeat="indicator in indicators">
		<tr ng-repeat="dependency in indicator.dependencies">
			<td>
				{{dependency.name}}
			</td>
			<td>
				<input id="input-{{dependency.id}}"
					   ng-model="values[dependency.id]"
					   ng-change="evaluate()"
					   ng-disabled="isDisabled(dependency.id)"
					   class="form-control input-sm"
					   smart-float />
			</td>
			<td>{{lastValues[dependency.id]}}</td>
		</tr>
		<tr>
			<td>
				<strong>{{indicator.name}}</strong>
			</td>
			<td>
				<input id="input-{{indicator.id}}"
					   ng-model="values[indicator.id]"
					   ng-change="evaluate()"
					   ng-disabled="isDisabled(indicator.id)"
					   class="form-control input-sm"
					   smart-float />
			</td>
			<td>{{lastValues[indicator.id]}}</td>
		</tr>
	</tbody>
</table>

<button class="btn btn-default" ng-click="save()">Sauvegarder</button>
<button class="btn btn-danger" ng-click="delete()">Supprimer</button>
