<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate>shared.projects</a></li>
	<li><a ui-sref="main.project.logical_frame({projectId: project._id})">{{project.name}}</a></li>
	<li class="active" translate>project.input_forms</li>
</ol>

<h4 translate="project.input_form_list"></h4>
<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th></th>
			<th translate="shared.name"></th>
			<th translate="shared.begin"></th>
			<th translate="shared.end"></th>
			<th translate="shared.active"></th>
			<th translate="project.periodicity"></th>
			<th translate="project.collect"></th>
			<th style="width:100px"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="project.dataCollection.length == 0">
			<td colspan="8" style="text-align: center" translate="project.no_forms"></td>
		</tr>
		<tr ng-repeat="form in project.dataCollection">
			<td ng-style="{'background-color': colors[$index]}"></td>
			<td>{{form.name}}</td>
			<td>{{form.start | amDateFormat: 'D MMMM YYYY'}}</td>
			<td>{{form.end | amDateFormat: 'D MMMM YYYY'}}</td>
			<td><i fa-boolean="form.active"></i></td>
			<td>{{'project.periodicities.' + form.periodicity|translate}}</td>
			<td>{{'project.collects.' + form.collect|translate}}</td>
			<td>
				<a class="btn btn-default btn-xs" ui-sref="main.project.form({formId: form.id})">
					<i class="fa fa-pencil"></i>
					<span translate="shared.edit" acl-has-project-role="owner"></span>
					<span translate="shared.display" acl-lacks-project-role="owner"></span>
				</a>
			</td>
		</tr>
	</tbody>
	<tfoot acl-has-project-role="owner">
		<tr>
			<td colspan="8">
				<button class="btn btn-default btn-xs" style="width: 100%" ui-sref="main.project.form({formId: 'new'})" translate>shared.add</button>
			</td>
		</tr>
	</tfoot>
</table>

<hr/>

<h4 translate="project.indicator_distribution"></h4>
<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th translate="shared.indicator"></th>
			<th ng-repeat="interval in intervals">{{interval}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="usages.length === 0">
			<td colspan="2" translate="project.no_indicators" style="text-align: center"></td>
		</tr>
		<tr ng-repeat="usage in usages">
			<td>{{indicatorsById[usage.id].name}}</td>
			<td ng-repeat="usage in usage.usage" ng-style="{'background-color': usage.color, color: 'white'}" colspan="{{usage.length}}">{{usage.name}}</td>
		</tr>
	</tbody>
</table>
