
<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.logical_frame({projectId: project._id})">{{project.name}}</a></li>
	<li><a ui-sref="main.project.forms({projectId: project._id})" translate="project.input_forms"></a></li>
	<li class="active">{{form.name}}</li>
</ol>

<form class="form-horizontal" role="form" name="formForm" novalidate>
	<div class="alert alert-danger" ng-if="!isNew" acl-has-project-role="owner" translate="project.form_warning"></div>

	<fieldset>
		<legend translate="project.data_collection"></legend>

		<div class="form-group" show-errors>
			<label for="input-name" class="col-sm-2 control-label" translate="shared.name"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="form.name">
				<input type="text"
					   class="form-control"
					   id="input-name"
					   name="name"
					   ng-model="form.name"
					   placeholder="Exemple: Sondage trimestriel"
					   required />
				
				<p class="help-block" ng-if="formForm.name.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="active-input" class="col-sm-2 control-label" translate="shared.active"></label>
			<div class="col-sm-10">
				<p class="form-control-static" acl-has-project-role="owner" acl-fallback="form.active">
					<input type="checkbox" id="active-input" ng-model="form.active" />
				</p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="periodicity-input" class="col-sm-2 control-label" translate="project.periodicity"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="'project.'+form.periodicity+'ly'|translate">
				<select class="form-control" name="periodicity" id="periodicity-input" ng-model="form.periodicity">
					<option value="day" translate="project.daily"></option>
					<option value="week" translate="project.weekly"></option>
					<option value="month" translate="project.monthly"></option>
					<option value="quarter" translate="project.quarterly"></option>
					<option value="year" translate="project.yearly"></option>
					<option value="planned" translate="project.planned"></option>
				</select>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="periodicity" class="col-sm-2 control-label" translate="shared.begin"></label>
			<div class="col-sm-10">
				<div class="input-group" acl-has-project-role="owner">
					<div class="input-group-addon">
						<input type="checkbox" ng-model="form.useProjectStart" />
						{{'project.begin'|translate}}
					</div>

					<input type="text" 
						   datepicker-popup="longDate"
						   name="start"
						   ng-model="form.start"
						   is-open="startDateOpen"
						   ng-click = "startDateOpen = true"
						   ng-disabled="form.useProjectStart"
						   ng-required="!form.useProjectStart"
						   ng-max="form.end"
						   class="form-control" />
				</div>

				<p class="form-control-static" acl-lacks-project-role="owner">
					<span ng-if="form.useProjectStart" translate="project.begin"></span>
					<span ng-if="!form.useProjectStart">{{form.start | amDateFormat: 'D MMMM YYYY'}}</span>
				</p>
			</div>
		</div>

		<div class="form-group" ng-if="form.periodicity === 'planned'">
			<label class="col-sm-2 control-label" translate="project.intermediary_periods"></label>
			<div class="col-sm-10">
				<div ng-repeat="(index, period) in form.intermediaryDates" class="row" style="padding-bottom: 10px">
					<ng-form name="intermediaryForm">
						<div class="col-sm-10 form-group" show-errors style="margin: 0">
							<input type="text" 
								   datepicker-popup="longDate"
								   name="period"
								   ng-model="form.intermediaryDates[index]"
								   is-open="periodDateOpen"
								   ng-click="periodDateOpen=true"
								   required
								   ng-min="form.start"
								   ng-max="form.end"
								   class="form-control" />
						</div>
						<div class="col-sm-2">
							<button class="btn btn-danger" ng-click="removeIntermediary(index)" translate="shared.delete"></button>
						</div>
					</ng-form>
				</div>

				<div class="row" acl-has-project-role="owner">
					<div class="col-sm-12">
						<button class="btn btn-default" ng-click="addIntermediary()" translate="project.add_intermediary"></button>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="periodicity" class="col-sm-2 control-label" translate="shared.end"></label>
			<div class="col-sm-10">
				<div class="input-group" acl-has-project-role="owner">
					<div class="input-group-addon">
						<input type="checkbox" ng-model="form.useProjectEnd" />
						{{'project.end'|translate}}
					</div>

					<input type="text" 
						   datepicker-popup="longDate"
						   name="end"
						   ng-model="form.end"
						   is-open="endDateOpen"
						   ng-click="endDateOpen=true"
						   ng-disabled="form.useProjectEnd"
						   ng-required="!form.useProjectEnd"
						   ng-min="form.start"
						   class="form-control" />
				</div>

				<p class="form-control-static" acl-lacks-project-role="owner">
					<span ng-if="form.useProjectEnd" translate="project.end"></span>
					<span ng-if="!form.useProjectEnd">{{form.end | amDateFormat: 'D MMMM YYYY'}}</span>
				</p>
			</div>
		</div>

		<div class="form-group" acl-has-project-role="owner">
			<label for="indicators-input" class="col-md-2 control-label" translate="shared.indicators"></label>
			<div class="col-sm-10">
				<ui-select multiple ng-model="container.chosenIndicatorIds" theme="bootstrap">
					<ui-select-match placeholder="">{{$item.name}}</ui-select-match>
					<ui-select-choices repeat="indicator._id as indicator in availableIndicators">{{indicator.name}}</ui-select-choices>
				</ui-select>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend translate="project.input_form"></legend>

		<!-- FIXME move this to another file... -->
		<script type="text/ng-template" id="form-sub-element.html">
			<div class="panel-heading">
				<span class="pull-right" style="font-size: 18px;">
					<span acl-has-project-role="owner">
						<i class="fa fa-caret-square-o-up" ng-if="!key && !$first" ng-click="move($index, -1)" tooltip="{{'project.move_up'|translate}}"></i>
						<i class="fa fa-caret-square-o-down" ng-if="!key && !$last" ng-click="move($index, 1)" tooltip="{{'project.move_down'|translate}}"></i>
					</span>

					<i class="fa fa-compass" ng-style="{color: indicator.geoAggregationRec != 'none' ? 'green' : 'red'}" tooltip="{{'indicator.geo_aggregation'|translate}}"></i>
					<i class="fa fa-clock-o" ng-style="{color: indicator.timeAggregationRec != 'none' ? 'green' : 'red'}" tooltip="{{'indicator.time_aggregation'|translate}}"></i>
				</span>

				<i class="fa fa-pencil" ng-if="indicator.type === 'input'"></i>
				<i class="fa fa-calculator" ng-if="indicator.type.substring(0, 'compute'.length) === 'compute'"></i>
				<i class="fa fa-link" ng-if="indicator.type.substring(0, 'link'.length) === 'link'"></i>

				<span ng-if="!key"><span translate="shared.indicator"></span>: </span>
				<span ng-if="key"><span translate="indicator.parameter"></span> <strong>"{{key}}"</strong>: </span>
				{{indicator.name}}
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-2 control-label" translate="project.indicator_source"></label>
					<div class="col-sm-10">
						<select class="form-control"
								acl-has-project-role="owner"
								ng-model="indicator.type"
								ng-change="sourceChanged(indicator)"
								ng-options="i.value as i.label|translate:i group by i.group|translate for i in indicator.availableTypes">
						</select>

						<p class="form-control-static" acl-lacks-project-role="owner" ng-repeat="i in indicator.availableTypes" ng-if="i.value === indicator.type">
							{{i.label|translate:i}}
						</p>
					</div>
				</div>

				<div class="form-group" ng-if="indicator.type == 'input'">
					<label class="col-sm-2 control-label" translate="project.source"></label>
					<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="indicator.source">
						<input type="text" class="form-control" ng-model="indicator.source" />
					</div>
				</div>

				<div class="panel panel-info"
					 ng-repeat="(key, indicator) in indicator.parameters"
					 ng-include="'form-sub-element.html'"></div>
			</div>
		</script>
	
		<div class="panel panel-info" ng-repeat="indicator in form.fields" ng-include="'form-sub-element.html'"></div>
	</fieldset>

	<div acl-has-project-role="owner">
		<br/>
		<button ng-click="save()" ng-disabled="formForm.$invalid || isUnchanged()" class="btn btn-primary">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</button>

		<button ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</button>
	</div>
</form>
