<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.logical_frame({projectId: project._id})" ng-bind="::project.name"></a></li>
	<li class="active" translate="project.waiting_inputs"></li>
</ol>

<!-- <input type="checkbox" id="see-all-input" ng-model="showFinished" />
<label for="see-all-input" translate="project.see_all_inputs"></label>
 -->

<ul class="nav nav-tabs" role="tablist">
	<li ng-class="{active:inputs==waitingInputs}">
		<a ng-click="inputs=waitingInputs">{{'project.waiting_inputs'|translate}}</a>
	</li>
	<li ng-class="{active:inputs==finishedInputs}">
		<a ng-click="inputs=finishedInputs">{{'project.finished_inputs'|translate}}</a>
	</li>
	<li ng-class="{active:inputs==invalidInputs}">
		<a ng-click="inputs=invalidInputs">{{'project.invalid_inputs'|translate}}</a>
	</li>
</ul>

<br/>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th><a ng-click="pred='period';rev=!rev">{{'shared.date'|translate}}</a></th>
			<th><a ng-click="pred='inputEntityName';rev=!rev">{{'shared.input_entities'|translate}}</a></th>
			<th><a ng-click="pred='formName';rev=!rev">{{'project.input_forms'|translate}}</a></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="!inputs.length">
			<td colspan="4" style="text-align: center" translate="project.no_inputs"></td>
		</tr>
		<tr ng-repeat="input in inputs|orderBy:pred:rev">
			<td ng-bind="input.period|amDateFormat:'D MMMM YYYY'"></td>
			<td ng-bind="::input.inputEntityName"></td>
			<td ng-bind="::input.formName"></td>
			<td>
				<a class="btn btn-default btn-xs" 
				   acl-has-project-role="input"
				   ui-sref="main.project.input({period: input.period.format('YYYY-MM-DD'), formId: input.formId, entityId: input.inputEntityId})">
					<i class="fa fa-pencil-square-o"></i>
					<span translate>{{::input.filled ? "shared.edit" : "project.input"}}</span>
				</a>

				<a class="btn btn-default btn-xs" 
				   acl-lacks-project-role="input"
				   ng-if="::input.filled"
				   ui-sref="main.project.input({period: input.period.format('YYYY-MM-DD'), formId: input.formId, entityId: input.inputEntityId})">
					<i class="fa fa-pencil-square-o"></i>
					<span translate="shared.display"></span>
				</a>
			</td>
		</tr>
	</tbody>
	<tbody ng-if="allDone && !showFinished">
		<tr>
			<td colspan="5" translate="project.no_waiting_inputs"></td>
		</tr>
	</tbody>
</table>
