<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate>shared.projects</a></li>
	<li><a ui-sref="main.project.logical_frame({projectId: project._id})">{{project.name}}</a></li>
	<li class="active" translate>project.waiting_inputs</li>
</ol>

<input type="checkbox" id="see-all-input" ng-model="showFinished" />
<label for="see-all-input" translate>project.see_all_inputs</label>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th translate>shared.done</th>
			<th translate>shared.month</th>
			<th translate>shared.input_entities</th>
			<th translate>project.input_forms</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="!inputs.length">
			<td colspan="5" style="text-align: center" translate>project.no_waiting_inputs</td>
		</tr>
		<tr ng-repeat="input in inputs" ng-if="input.filled == 'no' || input.filled == 'invalid' || showFinished">
			<td>
				<i ng-init="ok=input.filled"
				   ng-class="{fa: true, 'fa-check': input.filled=='yes', 'fa-times': input.filled=='no', 'fa-calendar': input.filled=='invalid'}"
				   ng-style="{color:{yes:'green',no:'red',invalid:'orange'}[input.filled]}"></i>
			</td>
			<td>{{input.period | amDateFormat: 'D MMMM YYYY'}}</td>
			<td>{{input.inputEntityName}}</td>
			<td>{{input.formName}}</td>
			<td>
				<a class="btn btn-default btn-xs" 
				   acl-has-project-role="input"
				   ui-sref="main.project.input({period: input.period.format('YYYY-MM-DD'), formId: input.formId, entityId: input.inputEntityId})">
					<i class="fa fa-pencil-square-o"></i>
					<span translate>{{input.filled ? "shared.edit" : "project.input"}}</span>
				</a>

				<a class="btn btn-default btn-xs" 
				   acl-lacks-project-role="input"
				   ng-if="input.filled"
				   ui-sref="main.project.input({period: input.period.format('YYYY-MM-DD'), formId: input.formId, entityId: input.inputEntityId})">
					<i class="fa fa-pencil-square-o"></i>
					<span translate="shared.display"></span>
				</a>
			</td>
		</tr>
	</tbody>
	<tbody ng-if="allDone && !showFinished">
		<tr>
			<td colspan="5" translate>project.no_waiting_inputs</td>
		</tr>
	</tbody>
</table>
