
<doc-reminder pages="project.presentation_project"></doc-reminder>


<a class="btn btn-primary pull-right" ui-sref="main.project.logical_frame({projectId: 'new'})" acl-has-role="project">
	<i class="fa fa-plus"></i>
	<span translate="project.create"></span>
</a>

<ul class="nav nav-tabs" role="tablist">
	<li ng-class="{active:projects==runningProjects}">
		<a ng-click="projects=runningProjects">{{'project.running'|translate}}</a>
	</li>
	<li ng-class="{active:projects==finishedProjects}">
		<a ng-click="projects=finishedProjects">{{'project.finished'|translate}}</a>
	</li>
</ul>

<br/>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th style="width: 55px"></th>
			<th><a ng-click="pred='name';rev=!rev">{{'shared.name'|translate}}</a></th>
			<th><a ng-click="pred='themes';rev=!rev">{{'indicator.themes'|translate}}</a></th>
			<th style="width: 100px;"><a ng-click="pred='begin';rev=!rev">{{'shared.begin'|translate}}</a></th>
			<th style="width: 100px;"><a ng-click="pred='end';rev=!rev">{{'shared.end'|translate}}</a></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="projects.length == 0">
			<td colspan="5" style="text-align: center" translate="project.noproject">
		</tr>
		<tr ng-repeat="project in projects|orderBy:pred:rev">
			<td style="text-align: center">
				<i class="fa fa-building-o fa-fw"
				   tooltip="{{'project.you_are_owner'|translate}}"
				   tooltip-placement="right" acl-has-project-role="owner" acl-project="project"></i>

				<i class="fa fa-pencil fa-fw"
				   tooltip="{{'project.you_are_editor'|translate}}"
				   tooltip-placement="right" acl-has-project-role="input" acl-project="project"></i>
			</td>
			<td><a ui-sref="main.project.logical_frame({projectId: project._id})">{{project.name}}</a></td>
			<td>{{project.themes|getObjects:themes|pluck:'name'|pluck:language|join:', '}}</td>
			<td>{{project.begin|amDateFormat:'YYYY-MM-DD'}}</td>
			<td>{{project.end|amDateFormat:'YYYY-MM-DD'}}</td>
		</tr>
	</tbody>
</table>




<div ng-init="data={}">

	{{data|json}}

	<input-grid
		partitions="[[{id:'12f07d2b-dda2-4774-b95d-940f639616da','name':'Homme'},{id:'ac91badf-2dee-4a16-8fba-8523117f3782','name':'Femme'}],[{id:'d38723a4-04e0-450a-8e58-fa6cbfcea6ef','name':'Communaute'},{id:'103d6c48-1dfa-47be-8d7c-c03bf68c2ce2','name':'Partenaire'},{id:'fb853cf1-fe6c-42bb-8d7d-77519b411bd8','name':'MDM'},{id:'9e6ea0ac-d7d1-4bc5-866c-280c51d9e9c0','name':'Machin'}],[{id:'9f88254c-df41-445a-8f9e-d0a3de5df554','name':'-15 ans'},{id:'d1cb2ad7-56e2-4ac4-bdea-ac764a2428aa','name':'entre 15 et 20 ans'},{id:'517a37c9-ad02-44de-9644-d2b3ec585d54','name':'Plus de 20 ans'}],[{id:'87255456-bba1-444b-adbe-26bc45f86d1c','name':'Grippe'},{id:'59c4df93-4cb4-4a8d-aa24-5d7ac10d1dd9','name':'SIDA'},{id:'4efe5e1d-1d24-42db-abcf-94c91b118d94','name':'HIV'},{id:'bc727e2d-3daa-47b1-a535-bd32a7779f0f','name':'Rhinite'}]]"
		data="data" />
</div>