
<doc-reminder pages="project.presentation_project"></doc-reminder>

<ul class="nav nav-tabs" role="tablist">
	<li ng-class="{active:projects==runningProjects}">
		<a ng-click="projects=runningProjects">{{'project.running'|translate}}</a>
	</li>
	<li ng-class="{active:projects==finishedProjects}">
		<a ng-click="projects=finishedProjects">{{'project.finished'|translate}}</a>
	</li>
</ul>

<br/>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th style="width: 55px"></th>
			<th><a ng-click="pred='name';rev=!rev">{{'shared.name'|translate}}</a></th>
			<th><a ng-click="pred='themes';rev=!rev">{{'indicator.themes'|translate}}</a></th>
			<th style="width: 100px;"><a ng-click="pred='begin';rev=!rev">{{'shared.begin'|translate}}</a></th>
			<th style="width: 100px;"><a ng-click="pred='end';rev=!rev">{{'shared.end'|translate}}</a></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="projects.length == 0">
			<td colspan="5" style="text-align: center" translate="project.noproject">
		</tr>
		<tr ng-repeat="project in projects|orderBy:pred:rev">
			<td style="text-align: center">
				<i class="fa fa-building-o fa-fw"
				   tooltip="{{'project.you_are_owner'|translate}}"
				   tooltip-placement="right" acl-has-project-role="owner" acl-project="project"></i>

				<i class="fa fa-pencil fa-fw"
				   tooltip="{{'project.you_are_editor'|translate}}"
				   tooltip-placement="right" acl-has-project-role="input" acl-project="project"></i>
			</td>
			<td><a ui-sref="main.project.logical_frame({projectId: project._id})">{{project.name}}</a></td>
			<td>{{project.themes|getObjects:themes|pluck:'name'|pluck:language|join:', '}}</td>
			<td>{{project.begin|amDateFormat:'YYYY-MM-DD'}}</td>
			<td>{{project.end|amDateFormat:'YYYY-MM-DD'}}</td>
		</tr>
	</tbody>
</table>

<a class="btn btn-default" ui-sref="main.project.logical_frame({projectId: 'new'})" acl-has-role="project">
	<i class="fa fa-plus"></i>
	<span translate="project.create"></span>
</a>
