
<div print-logframe class="print"></div>

<ol class="breadcrumb noprint">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active">{{project.name}}</li>
	<li class="active" translate="shared.logical_frame"></li>
</ol>

<form class="form-horizontal noprint" role="form" name="projectForm" novalidate>
	<fieldset>
		<legend translate="project.general_data"></legend>

		<div class="form-group" show-errors>
			<label for="input-name" class="col-sm-2 control-label" translate="shared.name"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.name">
				<input id="input-name"
					   type="text"
					   class="form-control"
					   name="name"
					   ng-model="project.name"
					   placeholder="{{'project.name_ph'|translate}}"
					   required />
				
				<p class="help-block" ng-if="projectForm.name.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group">
			<label for="input-themes" class="col-sm-2 control-label" translate="indicator.themes"></label>
			<div class="col-sm-10">
				<ui-select id="input-themes" multiple ng-model="project.themes" name="themes" theme="bootstrap" required acl-has-project-role="owner">
					<ui-select-match placeholder="{{'indicator.select_themes'|translate}}">{{$item.name}}</ui-select-match>
					<ui-select-choices repeat="theme._id as theme in themes | filter: {name: $select.search}">{{theme.name}}</ui-select-choices>
				</ui-select>

				<p class="form-control-static" acl-lacks-project-role="owner">{{project.themes | getObjects:themes | pluck:'name' | join:', '}}</p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="input-begin" class="col-sm-2 control-label" translate="project.begin_date"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.begin">

				<input type="text" 
					   datepicker-popup="longDate"
					   name="begin"
					   ng-model="project.begin"
					   is-open="beginDateOpen"
					   ng-click = "beginDateOpen = true"
					   required
					   ng-max="project.end"
					   class="form-control" />

				<p class="help-block" ng-if="projectForm.begin.$error.required" translate="form.mandatory"></p>
				<p class="help-block" ng-if="projectForm.begin.$error.lowerThan" translate="form.begin_lower_than_end"></p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="input-end" class="col-sm-2 control-label" translate="project.end_date"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.end">

				<input type="text" 
					   datepicker-popup="longDate"
					   name="end"
					   ng-model="project.end"
					   is-open="endDateOpen"
					   ng-click = "endDateOpen = true"
					   required
					   ng-min="project.begin"
					   class="form-control" />

				<p class="help-block" ng-if="projectForm.end.$error.required" translate="form.mandatory"></p>
				<p class="help-block" ng-if="projectForm.end.$error.greaterThan" translate="form.end_greater_than_begin"></p>
			</div>
		</div>

 	</fieldset>

	<fieldset>
		<legend translate="project.goal"></legend>

		<div class="form-group" show-errors>
			<label for="logframe-goal-input" class="col-sm-2 control-label" translate="project.goal"></label>

			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.logicalFrame.goal">
				<textarea class="form-control"
						  name="goalDesc"
						  id="logframe-goal-input"
						  required
						  placeholder="{{'project.intervention_logic_goal_ph'|translate}}"
						  ng-model="project.logicalFrame.goal"></textarea>

				<p class="help-block" ng-if="projectForm.goalDesc.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" translate="shared.indicators"></label>
			<div class="col-sm-10">
				<div class="form-control-static">
					<p ng-repeat="indicatorId in project.logicalFrame.indicators">
						<i class="fa fa-external-link fa-fw"
							ng-if="isExternal(indicatorId)"
							tooltip="{{'indicator.is_external'|translate}}"
							tooltip-placement="right"></i>

						<i class="fa fa-question fa-fw"
							ng-if="!isExternal(indicatorId) && indicatorsById[indicatorId].operation == 'common'"
							tooltip="{{'indicator.is_common'|translate}}"
							tooltip-placement="right"></i>

						<i class="fa fa-asterisk fa-fw"
							ng-if="!isExternal(indicatorId) && indicatorsById[indicatorId].operation == 'mandatory'"
							tooltip="{{'indicator.is_mandatory'|translate}}"
							tooltip-placement="right"></i>

						<a ng-click="editIndicator(indicatorId, project.logicalFrame.indicators)">{{indicatorsById[indicatorId].name}}</a>
						
						<a ng-click="detachIndicator(indicatorId, project.logicalFrame.indicators)"
						   translate="shared.detach"
						   class="btn btn-default btn-xs"
						   acl-has-project-role="owner"></a>
					</p>
					<p acl-has-project-role="owner">
						<a ng-click="editIndicator('new', project.logicalFrame.indicators)" translate="project.add_indicator"></a>
					</p>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend translate="project.purposes"></legend>
		
		<p ng-if="project.logicalFrame.purposes.length == 0" translate="project.no_purposes"></p>

		<div class="panel panel-primary" ng-repeat="(purposeId, purpose) in project.logicalFrame.purposes" ng-init="tabOpen=false">

			<div class="panel-heading">
				<div class="panel-title">
					<button class="btn btn-danger btn-xs pull-right" ng-click="removePurpose(purpose)" acl-has-project-role="owner">
						<i class="fa fa-remove"></i>
						<span translate="shared.delete"></span>
					</button>

					<i class="fa" ng-class="{'fa-minus-circle': tabOpen, 'fa-plus-circle': !tabOpen}"></i>
					<a ng-click="tabOpen = !tabOpen">{{'project.purpose'|translate}} {{purposeId + 1}}: {{purpose.description}}</a>
				</div>
			</div>

			<div class="panel-body" ng-show="tabOpen">
				<ng-form name="purposeForm">
					<div class="form-group" show-errors>
						<label for="purpose-desc-{{purposeId}}-input" class="col-sm-2 control-label" translate="project.purpose"></label>
						<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="purpose.description">
							<input type="text"
								   class="form-control"
								   name="description"
								   id="purpose-desc-{{purposeId}}-input"
								   placeholder="{{'project.intervention_logic_purpose_ph'|translate}}"
								   ng-model="purpose.description"
								   required />

							<p class="help-block" ng-if="purposeForm.description.$error.required" translate="form.mandatory"></p>
						</div>
					</div>

					<div class="form-group" show-errors>
						<label for="purpose-assum-{{purposeId}}-input" class="col-sm-2 control-label" translate="project.assumptions"></label>
						<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="purpose.assumptions">
							<textarea class="form-control"
									  name="assumptions"
									  id="purpose-assum-{{purposeId}}-input"
									  placeholder="{{'project.assumptions_purpose_ph'|translate}}"
									  ng-model="purpose.assumptions"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" translate="shared.indicators"></label>
						<div class="col-sm-10">
							<div class="form-control-static">
								<p ng-repeat="indicatorId in purpose.indicators">
									<i class="fa fa-external-link fa-fw"
										ng-if="isExternal(indicatorId)"
										tooltip="{{'indicator.is_external'|translate}}"
										tooltip-placement="right"></i>

									<i class="fa fa-question fa-fw"
										ng-if="!isExternal(indicatorId) && indicatorsById[indicatorId].operation == 'common'"
										tooltip="{{'indicator.is_common'|translate}}"
										tooltip-placement="right"></i>

									<i class="fa fa-asterisk fa-fw"
										ng-if="!isExternal(indicatorId) && indicatorsById[indicatorId].operation == 'mandatory'"
										tooltip="{{'indicator.is_mandatory'|translate}}"
										tooltip-placement="right"></i>

									<a ng-click="editIndicator(indicatorId, purpose.indicators)">{{indicatorsById[indicatorId].name}}</a>

									<a ng-click="detachIndicator(indicatorId, purpose.indicators)"
									   translate="shared.detach"
									   class="btn btn-default btn-xs"
									   acl-has-project-role="owner"></a>
								</p>
								<p acl-has-project-role="owner">
									<a ng-click="editIndicator('new', purpose.indicators)" translate="project.add_indicator"></a>
								</p>
							</div>
						</div>
					</div>

					<div class="panel panel-info" ng-repeat="(outputId, output) in purpose.outputs" ng-init="tabOpen=false">
						<div class="panel-heading">
							<div class="panel-title">
								<button class="btn btn-danger btn-xs pull-right" ng-click="removeOutput(output, purpose)" acl-has-project-role="owner">
									<i class="fa fa-remove"></i>
									<span translate="shared.delete"></span>
								</button>

								<i class="fa" ng-class="{'fa-minus-circle': tabOpen, 'fa-plus-circle': !tabOpen}"></i>
								<a ng-click="tabOpen = !tabOpen"> {{'project.output'|translate}} {{purposeId + 1}}.{{outputId + 1}}: {{output.description}}</a>
							</div>
						</div>

						<div class="panel-body" ng-show="tabOpen">
							<ng-form name="outputForm">
								<div class="form-group" show-errors>
									<label for="output-desc-{{purposeId}}-{{outputId}}-input" class="col-sm-2 control-label" translate="project.output"></label>
									<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="output.description">
										<textarea class="form-control"
												  required
												  id="output-desc-{{purposeId}}-{{outputId}}-input"
												  name="description"
												  placeholder="{{'project.output_desc_ph'|translate}}"
												  ng-model="output.description"></textarea>

										<p class="help-block" ng-if="outputForm.description.$error.required" translate="form.mandatory"></p>
									</div>
								</div>

								<div class="form-group" show-errors>
									<label for="output-assump-{{purposeId}}-{{outputId}}-input" class="col-sm-2 control-label" translate="project.assumptions"></label>
									<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="output.assumptions">
										<textarea class="form-control"
												  id="output-assump-{{purposeId}}-{{outputId}}-input"
												  name="assumptions"
												  placeholder="{{'project.output_assumptions_ph'|translate}}"
												  ng-model="output.assumptions"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label" translate="shared.indicators"></label>
									<div class="col-sm-10">
										<div class="form-control-static">
											<p ng-repeat="indicatorId in output.indicators">
												<i class="fa fa-external-link fa-fw"
													ng-if="isExternal(indicatorId)"
													tooltip="{{'indicator.is_external'|translate}}"
													tooltip-placement="right"></i>

												<i class="fa fa-question fa-fw"
													ng-if="!isExternal(indicatorId) && indicatorsById[indicatorId].operation == 'common'"
													tooltip="{{'indicator.is_common'|translate}}"
													tooltip-placement="right"></i>

												<i class="fa fa-asterisk fa-fw"
													ng-if="!isExternal(indicatorId) && indicatorsById[indicatorId].operation == 'mandatory'"
													tooltip="{{'indicator.is_mandatory'|translate}}"
													tooltip-placement="right"></i>

												<a ng-click="editIndicator(indicatorId, output.indicators)">{{indicatorsById[indicatorId].name}}</a>
												
												<a ng-click="detachIndicator(indicatorId, output.indicators)"
												   translate="shared.detach"
												   class="btn btn-default btn-xs"
												   acl-has-project-role="owner"></a>
											</p>
											<p acl-has-project-role="owner">
												<a ng-click="editIndicator('new', output.indicators)" translate="project.add_indicator"></a>
											</p>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label" translate="project.activities"></label>
									<div class="col-sm-10">
										<ng-form name="activityForm" ng-repeat="activity in output.activities">
											<div class="form-group" show-errors style="margin: 0; padding:0">
												<div class="input-group" style="margin-bottom: 5px; ">
													<input type="text"
														   class="form-control"
														   name="description"
														   placeholder="{{'project.activity_desc_ph'|translate}}"
														   ng-model="activity.description"
														   required/>

													<span class="input-group-btn">
														<button class="btn btn-danger ng-scope" ng-click="removeActivity(activity, output)" translate="shared.remove">Retirer</button>
													</span>
												</div>
											</div>
										</ng-form>

										<p acl-has-project-role="owner">
											<a ng-click="addActivity(output)" translate="project.add_indicator"></a>
										</p>
									</div>
								</div>
							</ng-form>
						</div>
					</div>
					
					<button class="btn btn-default" ng-click="addOutput(purpose)" acl-has-project-role="owner">
						<i class="fa fa-plus"></i>
						<span translate="project.add_output"></span>
					</button>
				</ng-form>
			</div>
		</div>

		<button class="btn btn-default" ng-click="addPurpose()" acl-has-project-role="owner">
			<i class="fa fa-plus"></i>
			<span translate="project.add_purpose"></span>
		</button>
	</fieldset>
	<br/>

	<fieldset>
		<legend translate="project.additional_indicators"></legend>

		<p ng-if="otherIndicators.length == 0" translate="project.no_additional_indicators"></p>

		<p ng-repeat="indicatorId in otherIndicators">
			<i class="fa fa-external-link fa-fw"
				ng-if="isExternal(indicatorId)"
				tooltip="{{'indicator.is_external'|translate}}"
				tooltip-placement="right"></i>

			<i class="fa fa-question fa-fw"
				ng-if="!isExternal(indicatorId) && indicatorsById[indicatorId].operation == 'common'"
				tooltip="{{'indicator.is_common'|translate}}"
				tooltip-placement="right"></i>

			<i class="fa fa-asterisk fa-fw"
				ng-if="!isExternal(indicatorId) && indicatorsById[indicatorId].operation == 'mandatory'"
				tooltip="{{'indicator.is_mandatory'|translate}}"
				tooltip-placement="right"></i>


			<a ng-click="editIndicator(indicatorId, null)">{{indicatorsById[indicatorId].name}}</a>
		</p>
		<p acl-has-project-role="owner">
			<a ng-click="editIndicator('new', null)" translate="project.add_indicator"></a>
		</p>
	</fieldset>
	
	<div acl-has-project-role="owner">
		<br/><br/>

		<button ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary" ng-click="save()">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</button>

		<button ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</button>
	</div>
</form>
