<script type="text/ng-template" id="indicator_tree.html">
	<div class="indicator-level-2" ng-repeat="type in theme.children" ng-if="theme.open">
		<div class="indicator-header" ng-click="type.open=!type.open">
			<i class="fa" ng-class="{'fa-plus-circle':!type.open,'fa-minus-circle':type.open}"></i>
			{{(type.name || 'indicator.no_type')|translate}}
			<span class="badge pull-right" ng-bind="type.children.length"></span>
		</div>

		<div class="indicator-level-3" ng-repeat="indicator in type.children" ng-if="type.open">
			<span class="pull-right">
				{{indicator.__mainUsage}} <i class="fa fa-building-o"></i>

				<a class="btn btn-xs btn-default"
					ng-click="choose(indicator._id)"
					ng-disabled="forbidden.indexOf(indicator._id) !== -1"
					translate="shared.choose"></a>
			</span>

			<i class="fa fa-question fa-fw"
				ng-if="project.themes.indexOf(theme._id) !== -1 && indicator.operation == 'common'"
				tooltip="{{'indicator.is_common'|translate}}"
				tooltip-placement="right"></i>

			<i class="fa fa-asterisk fa-fw"
				ng-if="project.themes.indexOf(theme._id) !== -1 && indicator.operation == 'mandatory'"
				tooltip="{{'indicator.is_mandatory'|translate}}"
				tooltip-placement="right"></i>

			<i class="fa fa-book fa-fw"
				ng-if="project.themes.indexOf(theme._id) !== -1 && indicator.operation == 'recommended'"
				tooltip="{{'indicator.is_recommended'|translate}}"
				tooltip-placement="right"></i>

			<i class="fa fa-external-link fa-fw"
				ng-if="project.themes.indexOf(theme._id) === -1"
				tooltip="{{'indicator.is_external'|translate}}"
				tooltip-placement="right"></i>

			{{indicator.name}}
		</div>
	</div>
</script>

<div class="modal-body">
	<div ng-if="missingIndicators.length">
		<legend translate="project.missing_mandatory_indicators"></legend>
		<ul>
			<li ng-repeat="indicator in missingIndicators">
				<a ng-click="choose(indicator._id)">{{indicator.name}}</a>
			</li>
		</ul>
		<legend translate="project.other_indicators"></legend>
	</div>

	<legend ng-if="!missingIndicators.length" translate="shared.indicators"></legend>

	<div class="form-horizontal">
		<div class="form-group">
			<label for="search-input" class="col-sm-2" translate="indicator.search"></label>
			<div class="col-sm-10">
				<input id="search-input" type="text" ng-model="searchField" class="form-control input-sm" placeholder="{{'indicator.search_ph'|translate}}" />
			</div>
		</div>
	</div>

	<div ng-if="showAllIndicators || project.themes.length == 0">
		<div class="indicator-level-1" ng-repeat="theme in hierarchy|hierarchyFilter:searchField">
			<div class="indicator-header" ng-click="theme.open=!theme.open">
				<i class="fa" ng-class="{'fa-plus-circle': !theme.open,'fa-minus-circle':theme.open}"></i>
				{{(theme.name || 'indicator.no_theme')|translate}}
				<span class="badge pull-right" ng-bind="theme.children.length"></span>
			</div>

			<div ng-include="'indicator_tree.html'"></div>
		</div>
	</div>

	<div ng-if="!showAllIndicators">
		<div ng-if="project.themes.length == 1">
			<div style="margin-left: -40px"
				ng-include="'indicator_tree.html'"
				ng-repeat="theme in hierarchy|hierarchyFilter:searchField"
				ng-if="theme._id === project.themes[0]"
 				ng-init="theme.open = true"></div>
		</div>

		<div ng-if="project.themes.length != 1">
			<div class="indicator-level-1" ng-repeat="theme in hierarchy|hierarchyFilter:searchField" ng-if="project.themes.indexOf(theme._id) !== -1">
				<div class="indicator-header" ng-click="theme.open=!theme.open">
					<i class="fa" ng-class="{'fa-plus-circle':!theme.open,'fa-minus-circle':theme.open}"></i>
					{{(theme.name || 'indicator.no_theme')|translate}}
					<span class="badge pull-right" ng-bind="theme.children.length"></span>
				</div>

				<div ng-include="'indicator_tree.html'"></div>
			</div>
		</div>
	</div>

	<a ng-click="$parent.showAllIndicators=1" class="pull-right" ng-if="!showAllIndicators && project.themes.length !== 0">
		<i class="fa fa-eye"></i>
		<span translate="project.see_other_themes"></span>
	</a>

	<div style="clear: both"></div>
</div>

<div class="modal-footer">
	<button ng-click="cancel()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.cancel">
	</button>
</div>
