<div class="modal-body">
	<form class="form-horizontal" role="form" name="planningForm" novalidate>
		<legend translate="shared.edition"></legend>

		<div class="form-group">
			<label for="relevance-input" class="col-sm-2 control-label" translate="shared.indicator"></label>
			<div class="col-sm-10">
				<input type="text" ng-model="indicator.name" class="form-control" disabled />
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="relevance-input" class="col-sm-2 control-label" translate="project.relevance"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="planning.relevance">
				<textarea class="form-control"
						  id="relevance-input"
						  name="relevance"
						  ng-model="planning.relevance"
						  placeholder="{{'project.relevance_ph'|translate}}"
						  required></textarea>

				<p class="help-block" ng-if="planningForm.relevance.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="source-input" class="col-sm-2 control-label" translate="project.source"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="planning.source">
				<input class="form-control" id="source-input" name="source" ng-model="planning.source" placeholder="{{'project.source_ph'|translate}}" required />
				<p class="help-block" ng-if="planningForm.source.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="in-charge-input" class="col-sm-2 control-label" translate="project.in_charge"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="planning.inCharge">
				<input class="form-control" id="in-charge-input" name="inCharge" ng-model="planning.inCharge" placeholder="{{'project.in_charge_ph'|translate}}" required />
				<p class="help-block" ng-if="planningForm.inCharge.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="baseline-input" class="col-sm-2 control-label" translate="project.baseline"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="planning.baseline">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" ng-model="planning.__baselineUnknown" id="baseline_unknown_input" ng-change="planning.__baselineUnknown&&(planning.baseline=null);">
						<label for="baseline_unknown_input" style="font-weight: normal" translate="project.unknown"></label>
					</span>

					<input class="form-control"
						   id="baseline-input"
						   name="baseline"
						   type="number"
						   ng-model="planning.baseline"
						   ng-disabled="planning.__baselineUnknown"
						   placeholder="{{'project.baseline_ph'|translate}}"
						   ng-required="!planning.__baselineUnknown" />
				</div>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="target-input" class="col-sm-2 control-label" translate="project.target"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="planning.target">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" ng-model="planning.__targetUnknown" id="target_unknown_input" ng-change="planning.__targetUnknown&&(planning.target=null);">
						<label for="target_unknown_input" style="font-weight: normal" translate="project.unknown"></label>
					</span>

					<input id="target-input"
						   class="form-control"
						   type="number"
						   name="target"
						   ng-model="planning.target"
						   ng-disabled="planning.__targetUnknown"
						   placeholder="{{'project.target_ph'|translate}}"
						   ng-required="!planning.__targetUnknown" />
				</div>
			</div>
		</div>

		<div class="row" style="margin-bottom: 15px;" ng-if="!planning.__baselineUnknown && !planning.__targetUnknown" acl-has-project-role="owner">
			<label for="show_red-input" class="col-sm-2 control-label" translate="project.color"></label>
			<div class="col-sm-10">
				<div class="form-group" show-errors style="margin: 0">
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon alert-danger" style="width: 280px;" translate="project.red_for_target"></span>
						<input id="show_red-input"
							   class="form-control"
							   type="number"
							   name="show_red"
							   ng-model="planning.showRed"
							   ng-min="0"
							   required />
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="form-group" show-errors style="margin: 0">
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon alert-warning" style="width: 280px;">
							{{'project.orange_for_target'|translate:{value:planning.showRed} }}
						</span>
						<input id="show_yellow-input"
							   class="form-control"
							   type="number"
							   name="show_yellow"
							   ng-model="planning.showYellow"
							   ng-min="planning.showRed"
							   ng-max="100"
							   required />

						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="alert alert-success" style="padding: 6px 12px; text-align: center">
					{{'project.green_for_target'|translate:{value:planning.showYellow} }}
				</div>

				<a class="pull-right" ng-click="show_more=!show_more">
					<i class="fa fa-info"></i>
					{{'project.what_is_progress'|translate}}
				</a>
				<div ng-show="show_more" style="clear: both" ng-bind-html="'project.what_is_progress_detail'|translate"></div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button ng-click="save()" ng-disabled="planningForm.$invalid || isUnchanged()" class="btn btn-primary" ng-if="isNew" acl-has-project-role="owner">
		<i class="fa fa-plus"></i>
		<span translate="shared.add"></span>
	</button>

	<button ng-click="save()" ng-disabled="planningForm.$invalid || isUnchanged()" class="btn btn-primary" ng-if="!isNew" acl-has-project-role="owner">
		<i class="fa fa-floppy-o"></i>
		<span translate="shared.edit"></span>
	</button>

	<button ng-click="delete()" class="btn btn-danger" ng-if="!isNew" acl-has-project-role="owner" ng-disabled="!isDeletable">
		<i class="fa fa-remove"></i>
		<span translate="shared.delete"></span>
	</button>

	<button ng-click="cancel()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.cancel"></span>
	</button>
</div>
