
<div class="row">
	<div class="col-md-2 noprint">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.general"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">
						<a ui-sref="main.project.save.basics"
						   ui-sref-active="active"
						   class="list-group-item">

							<i class="fa fa-info-circle fa-fw"></i>
							<span translate="project.basics"></span>
						</a>

						<a ui-sref="main.project.save.collection_site_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   eat-click-if="!project._rev"
						   disable-if="!project._rev">

							<span class="label label-default pull-right">{{project.entities.length}}</span>
							<i class="fa fa-map-marker fa-fw"></i>
							<span translate="project.collection_site_list"></span>

						</a>

						<a ui-sref="main.project.save.user_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   eat-click-if="!project._rev" disable-if="!project._rev">

						   <span class="label label-default pull-right">{{project.users.length}}</span>
							<i class="fa fa-user fa-fw"></i>
							<span translate="project.users"></span>
						</a>
					</div>
				</div>
			</div>

			<div style="text-align: center"><i class="fa fa-angle-down"></i></div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.activity_management"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">

						<a ui-sref="main.project.save.collection_form_list"
						   class="list-group-item"
						   ng-class="{active: $state.is('main.project.save.collection_form_list') || $state.is('main.project.save.collection_form_edition')}"
						   eat-click-if="!project._rev"
						   disable-if="!project._rev">
							
							<span class="label label-default pull-right">{{project.forms.length}}</span>
							<i class="fa fa-table fa-fw"></i>
							<span translate="project.collection_form_list"></span>

						</a>

						<a ui-sref="main.project.collection_input_list"
						   class="list-group-item"
						   ng-class="{active: $state.is('main.project.collection_input_list') || $state.is('main.project.collection_input_edition')}"
						   eat-click-if="!project._rev || !projectActivityReady"
						   disable-if="!project._rev || !projectActivityReady">
							
							<i class="fa fa-pencil fa-fw"></i>
							<span translate="project.collection_input_list"></span>
						</a>

						<a ui-sref="main.project.activity_reporting"
						   ui-sref-active="active"
						   class="list-group-item"
						   eat-click-if="!project._rev || !projectActivityReady"
						   disable-if="!project._rev || !projectActivityReady">

							<i class="fa fa-line-chart fa-fw"></i>
							<span translate="shared.reporting_general"></span>
						</a>

						<a ui-sref="main.project.detailed_activity_reporting"
						   ui-sref-active="active"
						   class="list-group-item"
						   eat-click-if="!project._rev || !projectActivityReady"
						   disable-if="!project._rev || !projectActivityReady">
							<i class="fa fa-bar-chart fa-fw"></i>
							<span translate="project.reporting_compare_sites"></span>
						</a>

						<a ui-sref="main.project.olap"
						   ui-sref-active="active"
						   class="list-group-item"
						   eat-click-if="!project._rev || !projectActivityReady"
						   disable-if="!project._rev || !projectActivityReady">
							<i class="fa fa-table fa-fw"></i>
							<span translate="project.pivot_table"></span>
						</a>
					</div>
				</div>
			</div>

			<div style="text-align: center"><i class="fa fa-angle-down"></i></div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.result_management"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">

						<a ui-sref="main.project.save.logical_frame"
						   ui-sref-active="active"
						   class="list-group-item"
						   eat-click-if="!project._rev" disable-if="!project._rev">

							<span class="label label-default pull-right">{{project.logicalFrames.length}}</span>
							<i class="fa fa-object-group fa-fw"></i>
							<span translate="shared.logical_frames"></span>
						</a>

						<a ui-sref="main.project.indicators_reporting"
						   ui-sref-active="active"
						   class="list-group-item"
						   eat-click-if="!project._rev || !projectHasIndicators"
						   disable-if="!project._rev || !projectHasIndicators">
							<i class="fa fa-line-chart fa-fw"></i>
							<span translate="shared.reporting_general"></span>
						</a>

						<a ui-sref="main.project.detailed_indicators_reporting"
						   ui-sref-active="active"
						   class="list-group-item"
						   eat-click-if="!project._rev || !projectHasIndicators"
						   disable-if="!project._rev || !projectHasIndicators">

							<i class="fa fa-bar-chart fa-fw"></i>
							<span translate="project.reporting_compare_sites"></span>
						</a>
 					</div>
				</div>
			</div>

			<div class="panel panel-default" ng-if="userCtx.type == 'user'">
				<div class="panel-collapse">
					<div class="list-group">
						<a class="list-group-item list-group-item-info" ng-click="cloneProject()" eat-click-if="!project._rev" disable-if="!project._rev" acl-has-role="project">
							<i class="fa fa-clone fa-fw"></i>
							<span translate="shared.clone"></span>
						</a>

						<a class="list-group-item list-group-item-info" disable-if="1" acl-lacks-role="project" tooltip="{{'project.cant_create'|translate}}">
							<i class="fa fa-clone fa-fw"></i>
							<span translate="shared.clone"></span>
						</a>						

						<a class="list-group-item list-group-item-danger" ng-click="deleteProject()" eat-click-if="!project._rev" disable-if="!project._rev" acl-has-project-role="owner">
							<i class="fa fa-trash fa-fw"></i>
							<span translate="shared.delete"></span>
						</a>
 					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-10 print-full-width" ui-view></div>
</div>

