<div class="row">
	<div class="col-md-2 noprint">

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.general"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">
						<a ui-sref="main.project.basics" ui-sref-active="active" class="list-group-item">
							<i class="fa fa-info-circle fa-fw"></i>
							<span translate="project.basics"></span>
						</a>

						<a ui-sref="main.project.user_list" ui-sref-active="active" class="list-group-item" disable-if="!project._id">
							<i class="fa fa-user fa-fw"></i>
							<span translate="project.users"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.activity_management"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">
						<a ui-sref="main.project.collection_site_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!project._id">

							<i class="fa fa-map-marker fa-fw"></i>
							<span translate="project.collection_site_list"></span>
						</a>

						<a ui-sref="main.project.collection_form_list"
						   class="list-group-item"
						   ng-class="{active: $state.is('main.project.collection_form_list') || $state.is('main.project.collection_form_edition')}"
						   disable-if="!project._id">
							
							<i class="fa fa-table fa-fw"></i>
							<span translate="project.collection_form_list"></span>
						</a>

						<a ui-sref="main.project.collection_input_list"
						   class="list-group-item"
						   ng-class="{active: $state.is('main.project.collection_input_list') || $state.is('main.project.collection_input_edition')}"
						   disable-if="!project._id">
							
							<i class="fa fa-pencil fa-fw"></i>
							<span translate="project.collection_input_list"></span>
						</a>

						<a ui-sref="main.project.activity_reporting"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!project._id">

							<i class="fa fa-line-chart fa-fw"></i>
							<span translate="shared.reporting"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.indicators_management"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">

						<a ui-sref="main.project.logical_frame" ui-sref-active="active" class="list-group-item" disable-if="!project._id">
							<i class="fa fa-building-o fa-fw"></i>
							<span translate="shared.logical_frame"></span>
						</a>

						<a ui-sref="main.project.indicators_reporting" ui-sref-active="active" class="list-group-item" disable-if="!project._id">
							<i class="fa fa-line-chart fa-fw"></i>
							<span translate="shared.reporting"></span>
						</a>

						<a ui-sref="main.project.reporting_analysis_list" ui-sref-active="active" class="list-group-item" disable-if="!project._id">
							<i class="fa fa-lightbulb-o fa-fw"></i>
							<span translate="shared.reporting_analysis"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-10 print-full-width" ui-view></div>
</div>
