<div class="modal-body">

	<legend>Paramétrage tableau</legend>

	<div class="row">
		<label for="indicator" class="col-sm-1 control-label" translate="shared.begin"></label>
		<div class="col-sm-5">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				<input type="text" 
					   datepicker-popup="longDate"
					   name="begin"
					   ng-model="dates.begin"
					   is-open="beginDateOpen"
					   ng-click = "beginDateOpen = true"
					   required
					   ng-max="dates.end"
					   class="form-control" />
			</div>
		</div>

		<label for="indicator" class="col-sm-1 control-label" translate="shared.end"></label>
		<div class="col-sm-5">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				<input type="text" 
					   datepicker-popup="longDate"
					   name="end"
					   ng-model="dates.end"
					   is-open="endDateOpen"
					   ng-click = "endDateOpen = true"
					   ng-min="dates.begin"
					   class="form-control"
					   required />
			</div>
		</div>
	</div>

	<div class="row">
		<label for="group-by-input" class="col-sm-1 control-label" translate="shared.columns"></label>
		<div class="col-sm-5">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-columns"></i></span>
				<select class="form-control" id="group-by-input" ng-model="query.groupBy">
					<option value="day" translate="shared.day"></option>
					<option value="week" translate="shared.week"></option>
					<option value="month" translate="shared.month"></option>
					<option value="year" translate="shared.year"></option>
					<option value="entity" translate="shared.input_entity"></option>
					<option value="group" translate="shared.input_group"></option>
				</select>
			</div>
		</div>

		<label for="filter-by-input" class="col-sm-1 control-label" translate="shared.filter"></label>
		<div class="col-sm-5">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-filter"></i></span>
				<select class="form-control" id="filter-by-input" ng-model="filter">
					<option value="">Tout le projet</option>
					<optgroup label="Lieux d'activité">
						<option ng-repeat="entity in project.inputEntities" value="{{entity.id}}" ng-bind="entity.name"></option>
					</optgroup>
					<optgroup label="Groupes d'activité">
						<option ng-repeat="group in project.inputGroups" value="{{group.id}}" ng-bind="group.name"></option>
					</optgroup>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<label for="indicators-input" class="col-md-1 control-label" translate="shared.indicators"></label>
		<div class="col-sm-11">
			<ui-select multiple ng-model="container.chosenIndicatorIds" theme="bootstrap">
				<ui-select-match placeholder="">{{$item.name}}</ui-select-match>
				<ui-select-choices repeat="indicator._id as indicator in availableIndicators">{{indicator.name}}</ui-select-choices>
			</ui-select>
		</div>
	</div>


	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th ng-repeat="head in result[0]" ng-bind="head"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in result track by $index" ng-if="$index !== 0">
				<td ng-repeat="field in row track by $index" ng-bind="field"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal-footer">
	<button ng-click="save()" class="btn btn-primary">
		<i class="fa fa-floppy-o"></i>
		<span translate="shared.edit"></span>
	</button>

	<button ng-click="cancel()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.cancel">
	</button>
</div>
