
<table id="reporting" class="table table-bordered table-condensed">
	<tbody
		ng-repeat="tbody in $ctrl.tbodies"
		tbody-indicators

		project="$ctrl.project"
		columns="$ctrl.columns"
		filter="$ctrl.filter"
		group-by="$ctrl.groupBy"

		first-col-style="$ctrl.firstColStyle"

		prefix="tbody.prefix"
		name="tbody.name"
		sections="tbody.sections"

		on-plot-toggle="$ctrl.onPlotToggle({id: id, name: name, data: data})">
	</tbody>
	<thead ng-style="$ctrl.headerStyle">
		<tr>
			<th class="row-graph" ng-style="$ctrl.firstColStyle"></th>
			<th class="row-title" translate="shared.name" ng-style="$ctrl.firstColStyle"></th>
			<th class="row-dimension" ng-style="$ctrl.firstColStyle"></th>
			<th translate="project.baseline"></th>
			<th translate="project.target"></th>
			<th ng-repeat="col in $ctrl.columns track by col.id" title="{{col.title}}">
				{{col.name}}
			</th>
		</tr>
	</thead>
</table>
