<tr ng-click="$ctrl.onOpenToggle()" style="cursor: pointer">
	<th colspan="{{4 + $ctrl.columns.length}}"
		ng-style="$ctrl.firstColStyle">

		<fa-open value="$ctrl.open" class="noprint"></fa-open>
		<span ng-if="$ctrl.prefix">
			{{$ctrl.prefix|translate}}:
		</span>
		{{$ctrl.name|translate}}
	</th>
</tr>

<tr ng-repeat-start="row in $ctrl.rows track by row.id"
	ng-if="$ctrl.open && row.type == 'header'"
	class="indent{{row.indent}}">

	<td class="noprint"
		ng-style="$ctrl.firstColStyle"></td>

	<th class="row-title"
		colspan="{{3 + $ctrl.columns.length}}"
		ng-style="$ctrl.firstColStyle">
		{{row.name|translate}}
	</th>
</tr>

<tr ng-if="$ctrl.open && row.type == 'no_indicators'"
	class="indent{{row.indent}}">

	<td class="noprint"
		ng-style="$ctrl.firstColStyle"></td>
	<td class="row-title"
		colspan="{{3 + $ctrl.columns.length}}"
		translate="project.reporting_empty"
		ng-style="$ctrl.firstColStyle"></td>
</tr>
<tr	ng-repeat-end
	ng-if="$ctrl.open && row.type == 'indicator'"
	class="indent{{row.indent}}"

	tr-indicator
	columns="$ctrl.columns"
	project="$ctrl.project"
	group-by="$ctrl.groupBy"
	split="$ctrl.splits[row.id]"
	first-col-style="$ctrl.firstColStyle"

	name="row.name"
	is-group="row.isGroup"
	filter="row.filter"
	indicator="row.indicator"
	on-split-toggle="$ctrl.onSplitToggle(row.id, partitionId)"
	on-plot-toggle="$ctrl.onPlotToggle({id: row.id, name: name, data: data})">
</tr>
