<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li><a ui-sref="main.project.reporting_analysis_list" translate="shared.reporting_analysis"></a></li>
	<li class="active" ng-bind="report.date|amDateFormat:'YYYY-MM-DD'"></li>
	<li class="active" ng-bind="report.name"></li>
</ol>

<doc-reminder pages="project.presentation_project,project.statistics,project.descriptive_analysis"></doc-reminder>

<form class="form-horizontal" role="form" name="reportForm" novalidate>

	<div class="form-group" show-errors>
		<label for="input-name" class="col-sm-1 control-label" translate="shared.name"></label>
		<div class="col-sm-11" acl-has-project-role="input" acl-fallback="report.name">
			<input id="input-name"
				   type="text"
				   class="form-control input-sm"
				   name="name"
				   ng-model="report.name"
				   placeholder="{{'project.report_name_ph'|translate}}"
				   required />
			
			<p class="help-block" ng-if="reportForm.name.$error.required" translate="form.mandatory"></p>
		</div>
	</div>

	<div class="form-group" show-errors>
		<label for="input-date" class="col-sm-1 control-label" translate="shared.date"></label>
		<div class="col-sm-11" acl-has-project-role="input" acl-fallback="report.date">

			<input id="input-date"
				   type="text" 
				   datepicker-popup="longDate"
				   name="date"
				   ng-model="report.date"
				   is-open="reportDateOpen"
				   ng-click = "reportDateOpen = true"
				   required
				   class="form-control input-sm" />

			<p class="help-block" ng-if="reportForm.begin.$error.required" translate="form.mandatory"></p>
		</div>
	</div>

	<div class="form-group">
		<label for="input-analysis" class="col-sm-1 control-label" translate="project.analysis"></label>
		<div class="col-sm-11">
			<div ng-repeat="element in report.elements">
				<div class="show-on-hover" acl-has-project-role="input">
					<button class="btn btn-primary btn-sm" ng-click="addReportGrid($index)">
						<i class="fa fa-table"></i>
						<span translate="project.analysis_insert_data"></span>
					</button>
					<button class="btn btn-primary btn-sm" ng-click="addReportText($index)">
						<i class="fa fa-pencil"></i>
						<span translate="project.analysis_insert_text"></span>
					</button>
					
					<div class="pull-right">
						<button class="btn btn-default btn-sm" ng-click="move($index, -1)" ng-if="!$first">
							<i class="fa fa-caret-square-o-up"></i>
							<span translate="project.analysis_up_next"></span>
						</button>
						
						<button class="btn btn-default btn-sm" ng-click="move($index, 1)" ng-if="!$last">
							<i class="fa fa-caret-square-o-down"></i>
							<span translate="project.analysis_down_next"></span>
						</button>
						
						<button class="btn btn-danger btn-sm" ng-click="remove($index)">
							<i class="fa fa-times"></i>
							<span translate="project.analysis_delete_next"></span>
						</button>
					</div>
				</div>

				<div ng-if="element.type === 'data'">
					<report-preview data="element"></report-preview>
				</div>
				<div ng-if="element.type === 'text'">
					<text-angular acl-has-project-role="input" ng-model="element.content" ta-toolbar="[['h1','h2','h3','h4','p','pre','quote'],['bold','italics','underline','strikeThrough','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent']]"></text-angular>
					<div acl-lacks-project-role="input" ng-bind-html="element.content" style="margin: 10px 0; border: 1px solid #ddd; padding: 5px"></div>
				</div>
			</div>

			<div style="margin: 10px 0" acl-has-project-role="input">
				<button class="btn btn-primary btn-sm" ng-click="addReportGrid(report.elements.length)">
					<i class="fa fa-table"></i>
					<span translate="project.analysis_insert_data"></span>
				</button>
				<button class="btn btn-primary btn-sm" ng-click="addReportText(report.elements.length)">
					<i class="fa fa-pencil"></i>
					<span translate="project.analysis_insert_text"></span>
				</button>
			</div>
		</div>
	</div>

	<div acl-has-project-role="input">
		<button ng-disabled="reportForm.$invalid || isUnchanged()" class="btn btn-primary" ng-click="save()">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</button>

		<button ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</button>
	</div>

</form>
