<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.logical_frame">{{project.name}}</a></li>
	<li class="active" translate="shared.reporting_analysis"></li>
</ol>

<doc-reminder pages="project.presentation_project,project.statistics,project.descriptive_analysis"></doc-reminder>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th translate="shared.date"></th>
			<th translate="shared.name"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="!reports.length">
			<td colspan="2" style="text-align: center" translate="project.no_reports"></td>
		</tr>
		<tr ng-repeat="report in reports track by $index">
			<td ng-bind="report.date|amDateFormat:'YYYY-MM-DD'"></td>
			<td>
				<a ui-sref="main.project.reporting_analysis({reportId:report._id})" ng-bind="report.name"></a>
			</td>
		</tr>
	</tbody>
	<tfoot acl-has-project-role="input">
		<tr>
			<td colspan="3">
				<a class="btn btn-default btn-xs" style="width: 100%" translate="shared.add" ui-sref="main.project.reporting_analysis({reportId:'new'})" ></a>
			</td>
		</tr>
	</tfoot>
</table>
