<ol class="breadcrumb noprint">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="shared.logical_frame"></li>
</ol>

<doc-reminder pages="create_project.objectives_results"></doc-reminder>


<form class="form-horizontal noprint" role="form" name="projectForm" novalidate>

	<fieldset>
		<legend>
			<a class="btn btn-primary btn-xs pull-right noprint" log-frame-xls style="margin-bottom: 10px;">
				<i class="fa fa-download"></i>
				<span translate="shared.download_table"></span>
			</a>
			<span translate="project.goal"></span>
		</legend>

		<div class="form-group" show-errors>
			<label for="logframe-goal-input" class="col-sm-2 control-label" translate="project.goal"></label>

			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.logicalFrame.goal">
				<textarea class="form-control"
						  name="goalDesc"
						  id="logframe-goal-input"
						  placeholder="{{'project.intervention_logic_goal_ph'|translate}}"
						  ng-model="project.logicalFrame.goal"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" translate="shared.indicators"></label>
			<div class="col-sm-10">
				<div class="form-control-static">
					<ul>
						<li ng-repeat="indicatorId in project.logicalFrame.indicators">
							<a ng-click="editIndicator(indicatorId, project.logicalFrame.indicators)">{{indicatorsById[indicatorId].name[language]}}</a>
						</li>
					</ul>

 					<p acl-has-project-role="owner">
						<a class="btn btn-default" ng-click="editIndicator('new', project.logicalFrame.indicators)">
							<i class="fa fa-plus"></i>
							{{"project.add_indicator"|translate}}
						</a>
					</p>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend translate="project.purposes"></legend>
		
		<p ng-if="project.logicalFrame.purposes.length == 0" translate="project.no_purposes"></p>

		<div class="panel panel-primary" ng-repeat="(purposeId, purpose) in project.logicalFrame.purposes">

			<div class="panel-heading">
				<div class="panel-title">
					<a class="btn btn-danger btn-xs pull-right" ng-click="removePurpose(purpose)" acl-has-project-role="owner">
						<i class="fa fa-remove"></i>
						<span translate="shared.delete"></span>
					</a>

					{{'project.purpose'|translate}} {{purposeId + 1}}: {{purpose.description}}
				</div>
			</div>

			<div class="panel-body">
				<ng-form name="purposeForm">
					<div class="form-group" show-errors>
						<label for="purpose-desc-{{purposeId}}-input" class="col-sm-2 control-label" translate="project.purpose"></label>
						<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="purpose.description">
							<textarea class="form-control"
									  name="description"
									  id="purpose-desc-{{purposeId}}-input"
									  placeholder="{{'project.intervention_logic_purpose_ph'|translate}}"
									  ng-model="purpose.description"></textarea>
						</div>
					</div>

					<div class="form-group" show-errors>
						<label for="purpose-assum-{{purposeId}}-input" class="col-sm-2 control-label" translate="project.assumptions"></label>
						<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="purpose.assumptions">
							<textarea class="form-control"
									  name="assumptions"
									  id="purpose-assum-{{purposeId}}-input"
									  placeholder="{{'project.assumptions_purpose_ph'|translate}}"
									  ng-model="purpose.assumptions"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" translate="shared.indicators"></label>
						<div class="col-sm-10">
							<div class="form-control-static">
								<ul>
									<li ng-repeat="indicatorId in purpose.indicators">
										<a ng-click="editIndicator(indicatorId, purpose.indicators)">{{indicatorsById[indicatorId].name[language]}}</a>
									</li>
								</ul>

								<p acl-has-project-role="owner">
									<a class="btn btn-default" ng-click="editIndicator('new', purpose.indicators)">
										<i class="fa fa-plus"></i>
										{{"project.add_indicator"|translate}}
									</a>
								</p>
							</div>
						</div>
					</div>

					<div class="panel panel-info" ng-repeat="(outputId, output) in purpose.outputs">
						<div class="panel-heading">
							<div class="panel-title">
								<span class="pull-right">
									<a class="btn btn-danger btn-xs" ng-click="removeOutput(output, purpose)" acl-has-project-role="owner">
										<i class="fa fa-remove"></i>
										<span translate="shared.delete"></span>
									</a>
								</span>

								{{'project.output'|translate}} {{purposeId + 1}}.{{outputId + 1}}: {{output.description}}
							</div>
						</div>

						<div class="panel-body">
							<ng-form name="outputForm">
								<div class="form-group" show-errors>
									<label for="output-desc-{{purposeId}}-{{outputId}}-input" class="col-sm-2 control-label" translate="project.output"></label>
									<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="output.description">
										<textarea class="form-control"
												  id="output-desc-{{purposeId}}-{{outputId}}-input"
												  name="description"
												  placeholder="{{'project.output_desc_ph'|translate}}"
												  ng-model="output.description"></textarea>
									</div>
								</div>

								<div class="form-group" show-errors>
									<label for="output-assump-{{purposeId}}-{{outputId}}-input" class="col-sm-2 control-label" translate="project.assumptions"></label>
									<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="output.assumptions">
										<textarea class="form-control"
												  id="output-assump-{{purposeId}}-{{outputId}}-input"
												  name="assumptions"
												  placeholder="{{'project.output_assumptions_ph'|translate}}"
												  ng-model="output.assumptions"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label" translate="shared.indicators"></label>
									<div class="col-sm-10">
										<div class="form-control-static">
											<ul>
												<li ng-repeat="indicatorId in output.indicators">
													<a ng-click="editIndicator(indicatorId, output.indicators)">{{indicatorsById[indicatorId].name[language]}}</a>
												</li>
											</ul>

											<p acl-has-project-role="owner">
												<a class="btn btn-default" ng-click="editIndicator('new', output.indicators)">
													<i class="fa fa-plus"></i>
													{{"project.add_indicator"|translate}}
												</a>
											</p>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label" translate="project.activities"></label>
									<div class="col-sm-10" acl-has-project-role="owner">
										<div class="input-group" style="margin-bottom: 5px;" ng-repeat="activity in output.activities">
											<input type="text" class="form-control" name="activity"
												   placeholder="{{'project.activity_desc_ph'|translate}}"
												   ng-model="activity.description"/>

											<span class="input-group-btn">
												<a class="btn btn-danger" ng-click="removeActivity(activity, output)" translate="shared.remove">Retirer</a>
											</span>
										</div>

										<p class="form-control-static">
											<a ng-click="addActivity(output)" class="btn btn-default">
												<i class="fa fa-plus"></i>
												{{"project.add_activity"|translate}}
											</a>
										</p>
									</div>

									<div class="col-sm-10" acl-lacks-project-role="owner">
										<ul>
											<li ng-repeat="activity in output.activities">{{activity.description}}</li>
										</ul>
									</div>
								</div>
							</ng-form>
						</div>
					</div>
					
					<a class="btn btn-default" ng-click="addOutput(purpose)" acl-has-project-role="owner">
						<i class="fa fa-plus"></i>
						<span translate="project.add_output"></span>
					</a>
				</ng-form>
			</div>
		</div>

		<a class="btn btn-default" ng-click="addPurpose()" acl-has-project-role="owner">
			<i class="fa fa-plus"></i>
			<span translate="project.add_purpose"></span>
		</a>
	</fieldset>
	<br/>

	<fieldset>
		<legend translate="project.additional_indicators"></legend>

		<p ng-if="otherIndicators.length == 0" translate="project.no_additional_indicators"></p>

		<ul>
			<li ng-repeat="indicatorId in otherIndicators">
				<a ng-click="editIndicator(indicatorId, null)">{{indicatorsById[indicatorId].name[language]}}</a>
			</li>
		</ul>

		<p acl-has-project-role="owner">
			<a class="btn btn-default" ng-click="editIndicator('new', null)">
				<i class="fa fa-plus"></i>
				{{"project.add_indicator"|translate}}
			</a>
		</p>
	</fieldset>
	
	<div acl-has-project-role="owner">
		<br/><br/>

		<a ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary" ng-click="save()">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</a>

		<a ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</a>
	</div>
</form>