<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.save.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="project.reporting_compare_sites"></li>
</ol>

<doc-reminder pages="project.objectives_results"></doc-reminder>

<form class="form-horizontal noprint" novalidate>
	<div class="row">
		
		<div class="col-sm-12">
			<div class="form-group">
				<label for="indicator-input" class="col-sm-1 control-label" translate="shared.indicator"></label>
				<div class="col-sm-11">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-tachometer fa-fw"></i></span>
						<select id="indicator-input"
								class="form-control input-sm"
								ng-model="indicator"
								ng-options="i.indicator as i.name group by i.group for i in indicators"></select>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate="shared.start"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
						<input type="text" 
							   uib-datepicker-popup="longDate"
							   name="start"
							   ng-model="filters._start"
							   is-open="startDateOpen"
							   ng-click="startDateOpen=true"
							   required
							   ng-max="filters._end"
							   class="form-control input-sm" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate="shared.end"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
						<input type="text" 
							   uib-datepicker-popup="longDate"
							   name="end"
							   ng-model="filters._end"
							   is-open="endDateOpen"
							   ng-click="endDateOpen=true"
							   ng-min="filters._start"
							   class="form-control input-sm"
							   required />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="group-by-input" class="col-sm-1 control-label" translate="shared.columns"></label>
				<div class="col-sm-11">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-columns fa-fw"></i></span>
						<select class="form-control input-sm" id="group-by-input" ng-model="groupBy">
							<option value="day" translate="shared.day"></option>
							<option value="week" translate="shared.week"></option>
							<option value="month" translate="shared.month"></option>
							<option value="quarter" translate="shared.quarter"></option>
							<option value="year" translate="shared.year"></option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<button class="btn btn-primary btn-xs pull-right noprint" svg-save>
	<i class="fa fa-download"></i>
	<span translate="shared.download_plot"></span>
</button>
<div style="clear: both"></div>

<reporting-graph-adapter
	type="['year', 'quarter', 'month', 'week', 'day'].indexOf(groupBy) !== -1 ? 'line' : 'bar'"
	rows="rows" cols="cols" plots="plots">
</reporting-graph-adapter>

<div style="clear: both"></div>

<button class="btn btn-primary btn-xs pull-right noprint" csv-save style="margin-bottom: 10px;">
	<i class="fa fa-download"></i>
	<span translate="shared.download_table"></span>
</button>

<table id="reporting" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 30px"></th>
			<th translate="shared.name"></th>
			<th ng-repeat="col in cols">{{col.name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rows">
			<td style="text-align: center">
				<input id="{{row.id}}" type="checkbox" ng-model="plots[row.id]" ng-if="row.type === 'data' && row.cols" />
			</td>

			<th ng-if="row.type === 'header'" colspan="{{3 + cols.length}}" class="indent{{row.indent}}">{{row.text}}</th>
			<td ng-if="row.type === 'data'" class="indent{{row.indent}}">
				<label for="{{row.id}}">{{row.name}}</label>
			</td>
			<td ng-if="row.type === 'data'" ng-repeat="col in row.cols track by $index" indicator-reporting-field></td>
			<td ng-if="row.type === 'data' && !row.cols" colspan="{{cols.length}}" style="background-color: rgb(238, 238, 238);"></td>
		</tr>
	</tbody>
</table>


