<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="shared.reporting_general"></li>
</ol>

<doc-reminder pages="project.presentation_project,project.statistics"></doc-reminder>


<form class="form-horizontal noprint" novalidate>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate="shared.begin"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
						<input type="text" 
							   datepicker-popup="longDate"
							   name="begin"
							   ng-model="filters.begin"
							   is-open="beginDateOpen"
							   ng-click = "beginDateOpen = true"
							   required
							   ng-max="filters.end"
							   class="form-control input-sm" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate="shared.end"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
						<input type="text" 
							   datepicker-popup="longDate"
							   name="end"
							   ng-model="filters.end"
							   is-open="endDateOpen"
							   ng-click = "endDateOpen = true"
							   ng-min="filters.begin"
							   class="form-control input-sm"
							   required />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="group-by-input" class="col-sm-2 control-label" translate="shared.columns"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-columns fa-fw"></i></span>
						<select class="form-control input-sm" id="group-by-input" ng-model="groupBy">
							<option value="day" translate="shared.day"></option>
							<option value="week" translate="shared.week"></option>
							<option value="month" translate="shared.month"></option>
							<option value="quarter" translate="shared.quarter"></option>
							<option value="year" translate="shared.year"></option>
							<option value="entity" translate="project.collection_site_list"></option>
							<option value="group" translate="project.groups"></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="filter-by-input" class="col-sm-2 control-label" translate="shared.filter"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-filter fa-fw"></i></span>
						<select class="form-control input-sm" id="filter-by-input" ng-model="filters.entityId">
							<option value="" translate="project.full_project"></option>
							<optgroup label="{{'project.collection_site_list'|translate}}">
								<option ng-repeat="entity in project.entities" value="{{entity.id}}">{{entity.name}}</option>
							</optgroup>
							<optgroup label="{{'project.groups'|translate}}">
								<option ng-repeat="group in project.groups" value="{{group.id}}">{{group.name}}</option>
							</optgroup>
						</select>
					</div>
				</div>
			</div>
		</div>

	</div>
</form>

<button class="btn btn-primary btn-xs pull-right noprint" svg-save>
	<i class="fa fa-download"></i>
	<span translate="shared.download_plot"></span>
</button>
<div style="clear: both"></div>

<reporting-graph-adapter
	type="['year', 'quarter', 'month', 'week', 'day'].indexOf(groupBy) !== -1 ? 'line' : 'bar'"
	rows="rows" cols="cols" plots="plots">
</reporting-graph-adapter>

<div style="clear: both"></div>

<button class="btn btn-primary btn-xs pull-right noprint" csv-save style="margin-bottom: 10px;">
	<i class="fa fa-download"></i>
	<span translate="shared.download_table"></span>
</button>

<table id="reporting" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 30px"></th>
			<th translate="shared.name"></th>
			<th translate="project.baseline"></th>
			<th translate="project.target"></th>
			<th ng-repeat="col in cols">{{col.name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rows">
			<td style="text-align: center">
				<input id="{{row.id}}" type="checkbox" ng-model="plots[row.id]" ng-if="row.type === 'data'" />
			</td>

			<th ng-if="row.type === 'header'" colspan="{{3 + cols.length}}" class="indent{{row.indent}}">{{row.text}}</th>
			<td ng-if="row.type === 'data'" class="indent{{row.indent}}">
				<label for="{{row.id}}">{{row.name[language]}}</label>
			</td>
			<td ng-if="row.type === 'data'">{{row.baseline}}{{row.unit}}</td>
			<td ng-if="row.type === 'data'">{{row.target}}{{row.unit}}</td>
			<td ng-if="row.type === 'data'" ng-repeat="col in row.cols track by $index" indicator-reporting-field></td>
		</tr>
	</tbody>
</table>


