
<div class="indicator-level-2" ng-repeat="type in theme.children" ng-if="theme.open">
	<div class="indicator-header" ng-click="type.open=!type.open">
		<i fa-open="type.open"></i>
		{{type.name[language] || ('indicator.no_type'|translate)}}
		<span class="badge pull-right" ng-bind="type.children.length"></span>
	</div>

	<div class="indicator-level-3" ng-repeat="indicator in type.children" ng-if="type.open">
		<span class="pull-right">
			<span class="label label-default" tooltip="{{'indicator.num_collecting_projects'|translate}}">{{indicator.__usage}}</span>

			<a class="btn btn-xs btn-default"
				ng-click="choose(indicator._id)"
				ng-disabled="forbidden.indexOf(indicator._id) !== -1"
				translate="shared.choose"></a>
		</span>

		<indicator-operation indicator="indicator"></indicator-operation>

		{{indicator.name[language]}}
	</div>
</div>
