
<div print-logframe class="print"></div>

<ol class="breadcrumb noprint">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.logical_frame">{{project.name}}</a></li>
	<li class="active" translate="project.indicator_selection"></li>
</ol>

<form class="form-horizontal noprint" role="form" name="projectForm" novalidate>

	<fieldset>
		<legend>{{"project.goal"|translate}}: {{project.logicalFrame.goal}}</legend>
		
		<ul>
			<li ng-repeat="indicatorId in project.logicalFrame.indicators">
				<!-- indicator icon -->
				<i class="fa fa-external-link fa-fw" ng-if="isExternal(indicatorId)" tooltip="{{'indicator.is_external'|translate}}" tooltip-placement="right"></i>
				<indicator-icon ng-if="!isExternal(indicatorId)" operation="indicatorsById[indicatorId].operation"></indicator-icon>

				<!-- indicator name in current language -->
				<a ng-click="editIndicator(indicatorId, project.logicalFrame.indicators)" ng-bind="indicatorsById[indicatorId].name[language]"></a>
			</li>
			<li acl-has-project-role="owner">
				<a ng-click="editIndicator('new', project.logicalFrame.indicators)" translate="project.add_indicator"></a>
			</li>
		</ul>
	</fieldset>

	<fieldset>
		<legend translate="project.purposes"></legend>
		
		<p ng-if="project.logicalFrame.purposes.length == 0" translate="project.no_purposes"></p>

		<div class="panel panel-primary" ng-repeat="(purposeId, purpose) in project.logicalFrame.purposes">

			<div class="panel-heading">
				<div class="panel-title">{{'project.purpose'|translate}} {{purposeId + 1}}: {{purpose.description}}</div>
			</div>

			<div class="panel-body">

				<ul>
					<li ng-repeat="indicatorId in purpose.indicators">
						<!-- indicator icon -->
						<i class="fa fa-external-link fa-fw" ng-if="isExternal(indicatorId)" tooltip="{{'indicator.is_external'|translate}}" tooltip-placement="right"></i>
						<indicator-icon ng-if="!isExternal(indicatorId)" operation="indicatorsById[indicatorId].operation"></indicator-icon>

						<!-- indicator name in current language -->
						<a ng-click="editIndicator(indicatorId, purpose.indicators)" ng-bind="indicatorsById[indicatorId].name[language]"></a>
					</li>
					<li acl-has-project-role="owner">
						<a ng-click="editIndicator('new', purpose.indicators)" translate="project.add_indicator"></a>
					</li>
				</ul>

				<div class="panel panel-info" ng-repeat="(outputId, output) in purpose.outputs">
					<div class="panel-heading">
						<div class="panel-title">{{'project.output'|translate}} {{purposeId + 1}}.{{outputId + 1}}: {{output.description}}</div>
					</div>

					<div class="panel-body">
						<ul>
							<li ng-repeat="indicatorId in output.indicators">
								<!-- indicator icon -->
								<i class="fa fa-external-link fa-fw" ng-if="isExternal(indicatorId)" tooltip="{{'indicator.is_external'|translate}}" tooltip-placement="right"></i>
								<indicator-icon ng-if="!isExternal(indicatorId)" operation="indicatorsById[indicatorId].operation"></indicator-icon>
								
								<!-- indicator name in current language -->
								<a ng-click="editIndicator(indicatorId, output.indicators)" ng-bind="indicatorsById[indicatorId].name[language]"></a>
							</li>
							<li acl-has-project-role="owner">
								<a ng-click="editIndicator('new', output.indicators)" translate="project.add_indicator"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</fieldset>

	<fieldset>
		<legend translate="project.additional_indicators"></legend>

		<p ng-if="otherIndicators.length == 0" translate="project.no_additional_indicators"></p>

		<p ng-repeat="indicatorId in otherIndicators">
			<!-- indicator icon -->
			<i class="fa fa-external-link fa-fw" ng-if="isExternal(indicatorId)" tooltip="{{'indicator.is_external'|translate}}" tooltip-placement="right"></i>
			<indicator-icon ng-if="!isExternal(indicatorId)" operation="indicatorsById[indicatorId].operation"></indicator-icon>

			<!-- indicator name in current language -->
			<a ng-click="editIndicator(indicatorId, null)">{{indicatorsById[indicatorId].name[language]}}</a>
		</p>

		<p acl-has-project-role="owner">
			<a ng-click="editIndicator('new', null)" translate="project.add_indicator"></a>
		</p>
	</fieldset>
	
	<div acl-has-project-role="owner">
		<a ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary" ng-click="save()">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</a>

		<a ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</a>
	</div>
</form>
