<ol class="breadcrumb">
	<li><a ui-sref="main.admin.users" translate="shared.settings"></a></li>
	<li class="active" translate="theme.themes"></li>
</ol>

<div class="alert alert-info" translate="theme.list_info"></div>

<div>
	<div class="panel panel-default columns-panel"
		ng-repeat="theme in $ctrl.themes|orderBy:('shortName.' + $root.language)">
		<div class="panel-heading">
			<div class="panel-title" title="{{theme.name[$root.language]}}">{{theme.shortName[$root.language]}}</div>
		</div>

		<div class="panel-body">
			<div>
				<strong translate="shared.name"></strong>
				{{theme.name[$root.language]}}
			</div>

			<div class="panel-buttons btn-group">
				<a ng-click="$ctrl.edit(theme)" class="btn btn-xxs btn-default" translate="shared.edit"></a>

				<div class="btn-group" uib-dropdown>
					<a class="btn btn-default btn-xxs" uib-dropdown-toggle>
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li>
							<a ng-click="$ctrl.onDeleteClicked(theme)">
								<i class="fa fa-trash text-danger"></i>
								<span class="text-danger" translate="shared.delete"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<a ng-click="$ctrl.create()" class="btn btn-default">
	<i class="fa fa-plus"></i>
	<span translate="theme.create_new"></span>
</a>