<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.structure.basics" ng-bind="project.name"></a></li>
	<li><a ui-sref="main.project.input.list">{{form.name}}</a></li>
	<li class="active" ng-bind="inputEntity.name" ng-if="inputEntity"></li>
	<li class="active" ng-bind="currentInput.period|date"></li>
</ol>

<form class="form-horizontal">
	
	<div class="form-group" ng-repeat="element in form.elements">
		<label class="col-sm-2 control-label">
			<a ng-click="currentInput.values[element.id] = lastInput.values[element.id]"
			   tooltip="{{'project.fill_with_last_input' | translate}}"
			   ng-if="lastInput" class="noprint"><i class="fa fa-clipboard"></i></a>

			{{element.name}}<br/>
		</label>

		<div class="col-sm-10">
			{{partitions[element.id]}}

			<input-grid ng-model="currentInput.values[element.id]"
						partitions="element.partitions"
						distribution="element.distribution"
						order="element.order"></input-grid>
		</div>
	</div>
</form>

<div ng-if="canEdit" class="noprint">
	<a class="btn btn-primary" ng-click="save()">
		<i class="fa fa-floppy-o"></i>
		<span translate="shared.save"></span>
	</a>

	<a ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.remove_changes"></span>
	</a>

	<a class="btn btn-danger" ng-click="delete()" ng-if="!isNew">
		<i class="fa fa-remove"></i>
		<span translate="shared.delete"></span>
	</a>
</div>
