<html>
	<head>
		<title>Monitool</title>
		<meta charset="UTF-8">

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
	</head>
	<body ng-app="myServiceModule">

		<div id="simple" ng-controller="MyController">
			<p>Let's try this simple notify service, injected into the controller...</p>
			<input ng-init="message='test'" ng-model="message" >
			<button ng-click="callNotify(message);">NOTIFY</button>
			<p>(you have to click 3 times to see an alert)</p>
		</div>

		<script type="text/javascript">

			var myServiceModule = angular.module('myServiceModule', []);

			myServiceModule.controller('MyController', function($scope, notify) {
				$scope.callNotify = function(msg) {
					notify(msg);
				};
			});

			myServiceModule.factory('notify', ['$window', function(win) {
				var msgs = [];
				return function(msg) {
					msgs.push(msg);
					if (msgs.length == 3) {
						win.alert(msgs.join("\n"));
						msgs = [];
					}
				};
			}]);

		</script>

	</body>
</html>
