
<ol class="breadcrumb noprint">
	<li ng-if="$root.userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="shared.reporting"></li>
</ol>

<div class="row">
	<div class="col-md-4">
		<div class="project-content-inner">
			<p>Cette section vous permet de suivre votre projet.</p>
		</div>

	</div>
	<div class="col-md-8">

	</div>
</div>


