
<div class="row">
	<div class="col-md-2 noprint">
		<div class="panel-group">

			<div class="panel panel-default" acl-has-project-role="owner" acl-project="$ctrl.project">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.structure"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">
						<a ui-sref="main.project.structure.basics"
						   ui-sref-active="active"
						   class="list-group-item">

							<i class="fa fa-object-group fa-fw"></i>
							<span translate="project.basics"></span>
						</a>

						<a ui-sref="main.project.structure.collection_site_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project._rev">

							<span class="label label-default pull-right">{{$ctrl.project.entities.length}}</span>
							<i class="fa fa-map-marker fa-fw"></i>
							<span translate="project.collection_site_list"></span>
						</a>

						<a ui-sref="main.project.structure.collection_form_list"
						   class="list-group-item"
						   ui-sref-active="active"
						   disable-if="!$ctrl.project._rev">

							<span class="label label-default pull-right">{{$ctrl.project.forms.length}}</span>
							<i class="fa fa-sign-in fa-fw"></i>
							<span translate="project.collection_form_list"></span>
						</a>

						<a ui-sref="main.project.structure.logical_frame_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project._rev">

							<span class="label label-default pull-right">{{$ctrl.project.logicalFrames.length}}</span>
							<i class="fa fa-sign-out fa-fw"></i>
							<span translate="shared.logical_frames"></span>
						</a>

						<a ui-sref="main.project.structure.cross_cutting"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project._rev">

							<span class="label label-default pull-right">{{$ctrl.project.crossCutting|length}}</span>
							<i class="fa fa-sign-out fa-fw"></i>
							<span translate="indicator.cross_cutting"></span>
						</a>

						<a ui-sref="main.project.structure.extra"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project._rev">

							<span class="label label-default pull-right">{{$ctrl.project.extraIndicators.length}}</span>
							<i class="fa fa-sign-out fa-fw"></i>
							<span translate="indicator.extra"></span>
						</a>

						<a ui-sref="main.project.structure.user_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project._rev">

						   <span class="label label-default pull-right">{{$ctrl.project.users.length}}</span>
							<i class="fa fa-user fa-fw"></i>
							<span translate="project.users"></span>
						</a>


						<a ui-sref="main.project.structure.history"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project._rev">

							<i class="fa fa-history fa-fw"></i>
							<span translate="project.revisions"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="panel panel-default" acl-has-project-role="input" acl-project="$ctrl.project">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.input"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">

						<a ui-sref="main.project.input_list({formId: form.id})"
						   ui-sref-active="active"
						   class="list-group-item"
						   acl-has-input-form="form.id" acl-project="$ctrl.project"
						   ng-repeat="form in $ctrl.project.forms"
						   disable-if="!$ctrl.project.isReadyForReporting">
							<i class="fa fa-pencil fa-fw"></i>
							<span>{{form.name}}</span>
						</a>


						<a class="list-group-item" ng-if="!$ctrl.project.forms.length" disable-if="1">
							<i class="fa fa-pencil fa-fw"></i>
							<span translate="project.no_data_source"></span>
						</a>

					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="shared.reporting"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">

						<a ui-sref="main.project.reporting_general"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project.isReadyForReporting">

							<i class="fa fa-line-chart fa-fw"></i>
							<span translate="shared.reporting_general"></span>
						</a>

						<a ui-sref="main.project.reporting_detailed"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project.isReadyForReporting">
							<i class="fa fa-bar-chart fa-fw"></i>
							<span translate="project.reporting_compare_sites"></span>
						</a>

						<a ui-sref="main.project.reporting_olap"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.project.isReadyForReporting">
							<i class="fa fa-table fa-fw"></i>
							<span translate="project.pivot_table"></span>
						</a>
 					</div>
				</div>
			</div>

			<div class="panel panel-default" ng-if="$root.userCtx.type == 'user'">
				<div class="panel-collapse">
					<div class="list-group">
						<a class="list-group-item list-group-item-info"
							ng-click="$ctrl.cloneProject()"
							disable-if="!$ctrl.project._rev"
							acl-has-project-creation acl-project="$ctrl.project">

							<i class="fa fa-clone fa-fw"></i>
							<span translate="shared.clone"></span>
						</a>

						<a	class="list-group-item list-group-item-info"
							disable-if="1"
							acl-lacks-project-creation acl-project="$ctrl.project"
							style="cursor: not-allowed">
							<i class="fa fa-clone fa-fw"></i>
							<span translate="shared.clone"></span>
						</a>

						<a class="list-group-item list-group-item-danger"
							ng-click="$ctrl.deleteProject()"
							disable-if="!$ctrl.project._rev"
							acl-has-project-role="owner" acl-project="$ctrl.project">

							<i class="fa fa-trash fa-fw"></i>
							<span translate="shared.delete"></span>
						</a>
 					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-10 print-full-width">
		<ui-view
			project="$ctrl.project"
			on-project-save-success="$ctrl.onProjectSaveSuccess(newProject)"></ui-view>
	</div>
</div>
