<div class="modal-header">
	<h3 class="modal-title">
		<a ng-click="$ctrl.dismiss()" class="pull-right" style="cursor: pointer">
			<i class="fa fa-times"></i>
		</a>
		<span translate="indicator.edit_title"></span>
	</h3>
</div>

<div class="modal-body">

	<form class="form-horizontal" role="form" name="indicatorForm" novalidate>

		<div class="alert alert-info" translate="indicator.edit_info"></div>

		<div class="form-group">
			<label for="input-themes" class="col-sm-2 control-label" translate="indicator.themes_label"></label>

			<div class="col-sm-10">
				<ui-select id="input-themes" multiple ng-model="$ctrl.indicator.themes" name="themes" theme="bootstrap" required>
					<ui-select-match placeholder="{{'indicator.select_themes'|translate}}">{{$item.name[$root.language]}}</ui-select-match>
					<ui-select-choices repeat="theme._id as theme in $ctrl.themes">{{theme.name[$root.language]}}</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="form-group" ng-repeat="(language_code, language) in $root.languages">
			<label for="input-name-{{language_code}}" class="col-sm-2 control-label">
				{{'shared.name_label_' + language_code | translate}}
			</label>

			<div class="col-sm-10">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="translate('name', language_code)">
							<i class="fa fa-language"></i>
						</button>
					</span>

					<textarea auto-resize
						id="input-name-{{language_code}}"
						type="text"
						class="form-control"
						name="name_{{language_code}}"
						ng-model="$ctrl.indicator.name[language_code]"
						placeholder="{{'indicator.name_placeholder_' + language_code|translate}}"
						required></textarea>
				</div>
			</div>
		</div>

		<div class="form-group" ng-repeat="(language_code, language) in $root.languages">
			<label for="input-description-{{language_code}}" class="col-sm-2 control-label">
				{{'shared.description_label_' + language_code | translate}}
			</label>

			<div class="col-sm-10">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="translate('description', language_code)">
							<i class="fa fa-language"></i>
						</button>
					</span>

					<textarea auto-resize
						id="input-description-{{language_code}}"
						type="text"
						class="form-control"
						name="description_{{language_code}}"
						ng-model="$ctrl.indicator.description[language_code]"
						placeholder="{{'indicator.description_placeholder_' + language_code|translate}}"></textarea>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button ng-click="$ctrl.save()" ng-disabled="!$ctrl.indicatorSavable" class="btn btn-primary">
		<i class="fa fa-object-group"></i>
		<span translate="indicator.save"></span>
	</button>
</div>
