<ol class="breadcrumb noprint">
	<li class="active" translate="shared.projects"></li>
</ol>

<div style="margin-bottom: 10px">
	<input type="text" ng-change="$ctrl.filter()" ng-model="$ctrl.filterValue" class="form-control" placeholder="{{'project.filter_placeholder'|translate}}">
</div>
<div style="margin-bottom: 10px">
	<div class="pull-right">
		<a class="btn btn-primary" ng-click="$ctrl.createProject()" acl-has-project-creation>
			<i class="fa fa-plus"></i>
			<span translate="project.create"></span>
		</a>

		<div title="{{'project.cant_create'|translate}}" acl-lacks-project-creation style="cursor: not-allowed">
			<a class="btn btn-primary disabled">
				<i class="fa fa-plus"></i>
				<span translate="project.create"></span>
			</a>
		</div>
	</div>

	<div class="btn-group">
		<a ng-click="$ctrl.toggleOngoing()" class="btn btn-default" ng-class="{active: $ctrl.displayOngoing}" translate="project.show_ongoing_projects"></a>
		<a ng-click="$ctrl.toggleFinished()" class="btn btn-default" ng-class="{active: $ctrl.displayFinished}" translate="project.show_finished_projects"></a>
		<a ng-click="$ctrl.toggleDeleted()" class="btn btn-default" ng-class="{active: $ctrl.displayDeleted}" translate="project.show_deleted_projects"></a>
	</div>
</div>



<div>
	<div class="panel columns-panel"
		 ng-class="{'panel-default': p.active && p.running, 'panel-dashed': p.active && !p.running, 'panel-deleted': !p.active}"
		 ng-repeat="p in $ctrl.displayedProjects track by p._id">

		<div class="panel-heading">
			<div class="panel-title">
				<i class="fa pull-right fa-user" ng-if="p.isUser" style="margin-top: 3px" title="{{'project.is_user'|translate}}"></i>
				<i class="fa pull-right fa-star" ng-if="!p.isUser && p.favorite" style="margin-top: 3px; cursor: pointer" ng-click="$ctrl.toggleFavorite(p)"></i>
				<i class="fa pull-right fa-star-o" ng-if="!p.isUser && !p.favorite" style="margin-top: 3px; cursor: pointer" ng-click="$ctrl.toggleFavorite(p)"></i>
				{{p.country}}
			</div>
		</div>
		<div class="panel-body">
			<div>
				<strong translate="shared.name"></strong>
				{{p.name}}
			</div>
			<div>
				<strong translate="shared.date"></strong>
				{{p.start|date}} - {{p.end|date}}
			</div>

			<div>
				<strong translate="project.last_entry"></strong>
				<span ng-if="p.inputDate">{{p.inputDate|date}}</span>
				<span ng-if="!p.inputDate" translate="shared.none"></span>
			</div>

			<div class="panel-buttons btn-group">
				<a ng-if="p.active" class="btn btn-default btn-xxs" ng-click="$ctrl.onOpenClicked(p)" translate="shared.open"></a>
				<a ng-if="!p.active && p.isOwner" class="btn btn-default btn-xxs" ng-click="$ctrl.onRestoreClicked(p)" translate="shared.restore"></a>

				<div class="btn-group" uib-dropdown ng-if="p.active">
					<a class="btn btn-default btn-xxs" uib-dropdown-toggle>
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li acl-has-project-creation>
							<a ng-click="$ctrl.onCloneClicked(p)">
								<i class="fa fa-clone"></i>
								<span translate="shared.clone"></span>
							</a>
						</li>
						<li acl-has-project-role="owner" acl-project="p">
							<a ng-click="$ctrl.onDeleteClicked(p)">
								<i class="fa fa-trash text-danger"></i>
								<span class="text-danger" translate="shared.delete"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="bl-info">
				<div ng-if="!p.active" class="text-danger">
					<i class="fa fa-trash"></i>
					<span translate="project.was_deleted"></span>
				</div>
				<div ng-if="p.active && !p.running" class="text-warning">
					<i class="fa fa-warning"></i>
					<span translate="project.is_finished"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="!$ctrl.displayedProjects.length" translate="project.no_matches"></div>