<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.structure.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="project.pivot_table"></li>
</ol>

<doc-reminder pages="project.activity_followup"></doc-reminder>

<div class="panel panel-default">
	<div class="panel-heading" ng-click="selectionOpen=!selectionOpen" style="cursor: pointer" ng-init="selectionOpen=true">
		<i fa-open="selectionOpen"></i> 
		<span translate="project.data_selection"></span>
	</div>
	<div class="panel-body" ng-if="selectionOpen">
		<form class="form-horizontal noprint" role="form" novalidate>
			<div class="form-group">
				<label for="variable-input" class="col-sm-1 control-label" translate="project.variable"></label>
				<div class="col-sm-11">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-tachometer fa-fw"></i></span>

						<select class="form-control input-sm"
								ng-model="wrap.chosenElementId"
								ng-options="v.id as v.name group by v.group for v in elementOptions"></select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="rows-input" class="col-sm-1 control-label" translate="project.rows"></label>
				<div class="col-sm-11">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-table fa-fw"></i></span>
						<ui-select id="rows-input" multiple ng-model="query.rowDimensions" name="rows" theme="bootstrap">
							<ui-select-match placeholder="{{'project.select_rows'|translate}}">{{$item.name|translate}}</ui-select-match>
							<ui-select-choices group-by="'group'" repeat="row.id as row in availableRows">{{row.name|translate}}</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="cols-input" class="col-sm-1 control-label" translate="project.cols"></label>
				<div class="col-sm-11">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-columns fa-fw"></i></span>
						<ui-select id="cols-input" multiple ng-model="query.colDimensions" name="cols" theme="bootstrap">
							<ui-select-match placeholder="{{'project.select_cols'|translate}}">{{$item.name|translate}}</ui-select-match>
							<ui-select-choices group-by="'group'" repeat="col.id as col in availableCols">{{col.name|translate}}</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" ng-click="filterOpen=!filterOpen" style="cursor: pointer" ng-init="filterOpen=false">
		<i fa-open="filterOpen"></i>
		<span translate="project.filters"></span>
	</div>
	<div class="panel-body" ng-if="filterOpen">

		<form class="form-horizontal noprint" role="form" novalidate>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="indicator" class="col-sm-2 control-label" translate="shared.start"></label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<utc-datepicker ng-model="query.filters._start" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="indicator" class="col-sm-2 control-label" translate="shared.end"></label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<utc-datepicker ng-model="query.filters._end" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group" ng-repeat="dimension in dimensions" ng-if="dimension.id != 'day' && dimension.id != 'week' && dimension.id != 'month' && dimension.id != 'quarter' && dimension.id != 'year'">
				<label for="{{dimension.id}}-input" class="col-sm-1 control-label">{{dimension.name|translate}}</label>
				<div class="col-sm-11">
					
					<partition-filter ng-model="query.filters[dimension.id]" partition="dimension"></partition-filter>
 				</div>
			</div>
			
		</form>
	</div>
</div>

<button class="btn btn-primary btn-xs pull-right noprint" csv-save style="margin-bottom: 10px;">
	<i class="fa fa-download"></i>
	<span translate="shared.download_table"></span>
</button>

<div style="clear: both">

	<div ng-if="display.cols.length == 0 && display.rows.length == 0">
		<table class="table table-bordered" id="reporting">
			<tbody>
				<tr>
					<td>{{display.data}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<olap-grid cols="display.cols" rows="display.rows" data="display.data"></olap-grid>
</div>