
<div ng-if="result.display == 'graph' || result.display == 'both'"
	 style="background-color: white; border: 1px solid #ddd; margin-bottom: 10px">

	<reporting-graph
		type="['year', 'month', 'week', 'day'].indexOf(result.query.groupBy) !== -1 ? 'line' : 'bar'"
		data="result.stats"></reporting-graph>

</div>


<table class="table table-bordered table-stripped table-condensed project-reporting"
	   ng-if="result.display == 'table' || result.display == 'both'"
	   style="background-color: white">

	<thead>
		<tr>
			<th></th>
			<th translate="project.baseline"></th>
			<th translate="project.target"></th>
			<th ng-repeat="col in result.stats.cols track by col.id" ng-bind="col.name"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in result.stats.rows track by $index">
			<td ng-bind="row.name||('shared.unknown_indicator'|translate)"></td>
			<td>{{row.baseline}}{{row.unit}}</td>
			<td>{{row.target}}{{row.unit}}</td>
			<td ng-repeat="col in row.cols track by $index">{{col|number:0}}{{row.unit}}</td>
		</tr>
	</tbody>
</table>

