<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.structure.basics" ng-bind="masterProject.name|maxLength:50"></a></li>
	<li class="active" translate="project.reporting_compare_sites"></li>
</ol>

<form class="form-horizontal noprint" novalidate>

	<div class="panel panel-default">
		<div class="panel-heading" ng-click="selectionOpen=!selectionOpen" style="cursor: pointer" ng-init="selectionOpen=true">
			<i fa-open="selectionOpen"></i> 
			<span translate="project.data_selection"></span>
		</div>
		<div class="panel-body" ng-if="selectionOpen">

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="element-input" class="col-sm-1 control-label" translate="project.variable"></label>
						<div class="col-sm-11">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-tachometer fa-fw"></i></span>
								<select id="element-input"
										class="form-control input-sm"
										ng-model="wrap.chosenElement"
										ng-options="i as i.name group by i.group for i in elementOptions"></select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="group-by-input" class="col-sm-1 control-label" translate="shared.columns"></label>
						<div class="col-sm-11">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-columns fa-fw"></i></span>
								<select class="form-control input-sm" id="group-by-input" ng-model="query.groupBy">
									<option value="day" translate="shared.day"></option>
									<option value="week" translate="shared.week"></option>
									<option value="month" translate="shared.month"></option>
									<option value="quarter" translate="shared.quarter"></option>
									<option value="year" translate="shared.year"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" ng-click="filterOpen=!filterOpen" style="cursor: pointer" ng-init="filterOpen=false">
			<i fa-open="filterOpen"></i>
			<span translate="project.filters"></span>
		</div>
		<div class="panel-body" ng-if="filterOpen">

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-2 control-label" translate="shared.start"></label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
								<utc-datepicker ng-model="query.filters._start" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-2 control-label" translate="shared.end"></label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
								<utc-datepicker ng-model="query.filters._end" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group" ng-repeat="dimension in dimensions">
				<label for="{{dimension.id}}-input" class="col-sm-1 control-label">{{dimension.name}}</label>
				<div class="col-sm-11">
					<partition-filter ng-model="query.filters[dimension.id]" partition="dimension"></partition-filter>
				</div>
			</div>

		</div>
	</div>
</form>

<button class="btn btn-primary btn-xs pull-right noprint" svg-save>
	<i class="fa fa-download"></i>
	<span translate="shared.download_plot"></span>
</button>
<div style="clear: both"></div>

<reporting-graph-adapter type="'line'" rows="rows" cols="cols" plots="plots"></reporting-graph-adapter>

<div style="clear: both"></div>

<button class="btn btn-primary btn-xs pull-right noprint" csv-save style="margin-bottom: 10px;">
	<i class="fa fa-download"></i>
	<span translate="shared.download_table"></span>
</button>

<table id="reporting" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 30px"></th>
			<th translate="shared.name"></th>
			<th ng-repeat="col in cols">{{col.name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rows">
			<td style="text-align: center">
				<input id="{{row.id}}" type="checkbox" ng-model="plots[row.id]" ng-if="row.type === 'data' && row.cols" />
			</td>

			<th ng-if="row.type === 'header'" colspan="{{3 + cols.length}}" class="indent{{row.indent}}">{{row.text}}</th>
			<td ng-if="row.type === 'data'" class="indent{{row.indent}}">
				<label for="{{row.id}}">{{row.name}}</label>
			</td>
			<td ng-if="row.type === 'data'" ng-repeat="col in row.cols track by $index" reporting-field></td>
			<td ng-if="row.type === 'data' && !row.cols" colspan="{{cols.length}}" style="background-color: rgb(238, 238, 238);">{{row.message|translate}}</td>
		</tr>
	</tbody>
</table>


