
<ol class="breadcrumb">
	<li><a ui-sref="main.admin.users" translate="shared.settings"></a></li>
	<li class="active" translate="indicator.cross_cutting"></li>
</ol>

<div class="alert alert-info" translate="indicator.list_info"></div>

<div>
	<div class="panel panel-primary indicator-panel">
		<div class="panel-heading">
			<div class="panel-title" translate="indicator.new_indicator"></div>
		</div>
		<div class="panel-body">
			<a ng-click="create()" class="btn btn-xxs btn-primary" translate="indicator.create_new"></a>
	  </div>
	</div><div class="panel panel-default indicator-panel" ng-repeat="indicator in indicators">
		<div class="panel-heading">
			<div class="panel-title" title="{{indicator.name[language]}}">{{indicator.name[language]|maxLength:90}}</div>
		</div>
		<div class="panel-body">
			<i class="fa fa-circle"
			   style="margin-right: 3px"
			   ng-repeat="theme in indicator.themes|getObjects:themes"
			   ng-class="theme.class">

				{{theme.name[language]}}
			</i>

			<div>{{indicator.description[language]|maxLength:200}}</div>

			<a ng-click="edit(indicator)" class="btn btn-xxs btn-default" translate="shared.edit"></a>
	  </div>
	</div>
</div>
