<ol class="breadcrumb">
	<li ng-if="$root.userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="shared.logical_frames"></li>
</ol>

<div class="alert alert-info" translate="project.logical_frame_list_info"></div>


<div ng-sortable="$ctrl.ngSortableOptions">
	<div class="panel panel-default columns-panel"
		 ng-repeat="logicalFrame in $ctrl.editableProject.logicalFrames">

		<div class="panel-heading">
			<div class="panel-title">
				<i class="fa fa-arrows fa-fw handle"></i>
				<span ng-show="logicalFrame.name">{{logicalFrame.name}}</span>
				<span ng-hide="logicalFrame.name" translate="project.unnamed_logframe"></span>
			</div>
		</div>
		<div class="panel-body">
			<div>
				<strong translate="shared.date"></strong>
				{{logicalFrame.start|date}} - {{logicalFrame.end|date}}
			</div>
			<div>
				<strong translate="project.collection_site_list"></strong>
				{{logicalFrame.entities|getObjects:$ctrl.project.entities|pluck:'name'|join:', '}}
			</div>

			<div class="panel-buttons btn-group">
				<a class="btn btn-default btn-xxs"
				   ui-sref="main.project.structure.logical_frame_edition({logicalFrameId: logicalFrame.id})">
				   	<i class="fa fa-pencil"></i>
				   	<span translate="shared.edit"></span>
				</a>

				<div class="btn-group" uib-dropdown>
					<a class="btn btn-default btn-xxs" uib-dropdown-toggle>
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
					  	<li>
							<a ng-click="$ctrl.onCreateLogicalFrameClicked(logicalFrame)">
								<i class="fa fa-clipboard"></i>
								<span translate="form.create_copy"></span>
							</a>
					  	</li>
						<li>
							<a href="/api/resources/project/{{$ctrl.editableProject._id}}/logical-frame/{{logicalFrame.id}}.pdf?orientation=portrait" target="_blank">
								<i class="fa fa-file-pdf-o"></i>
								<span translate="project.download_portrait"></span>
							</a>
						</li>
						<li>
							<a href="/api/resources/project/{{$ctrl.editableProject._id}}/logical-frame/{{logicalFrame.id}}.pdf?orientation=landscape" target="_blank">
								<i class="fa fa-file-pdf-o fa-rotate-270"></i>
								<span translate="project.download_landscape"></span>
							</a>
						</li>
						<li>
							<a ng-click="$ctrl.delete(logicalFrame)">
								<i class="fa fa-times text-danger"></i>
								<span class="text-danger" translate="shared.delete"></span>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>

<a ng-click="$ctrl.onCreateLogicalFrameClicked()" class="btn btn-default">
	<i class="fa fa-plus"></i>
	<span translate="form.create_blank"></span>
</a>
