<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.country}}" ng-bind="masterProject.country|maxLength:20"></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li class="active" translate="shared.reporting_general"></li>
</ol>

<form class="form-horizontal noprint" novalidate>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate="shared.start"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<utc-datepicker ng-model="filters._start" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate="shared.end"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<utc-datepicker ng-model="filters._end" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="group-by-input" class="col-sm-2 control-label" translate="shared.columns"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-columns"></i></span>
						<select class="form-control input-sm" id="group-by-input" ng-model="groupBy">
							<option value="{{periodicity}}" ng-repeat="periodicity in periodicities">{{('shared.' + periodicity)|translate}}</option>
							<option value="entity" translate="project.collection_site_list"></option>
							<option value="group" translate="project.groups"></option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="filter-by-input" class="col-sm-2 control-label" translate="shared.filter"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-filter"></i></span>
						<select class="form-control input-sm" id="filter-by-input" ng-model="filters._location">
							<option value="none" translate="project.full_project"></option>
							<optgroup label="{{'project.collection_site_list'|translate}}">
								<option ng-repeat="entity in masterProject.entities" value="ent_{{entity.id}}">{{entity.name}}</option>
							</optgroup>
							<optgroup label="{{'project.groups'|translate}}">
								<option ng-repeat="group in masterProject.groups" value="grp_{{group.id}}">{{group.name}}</option>
							</optgroup>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div ng-hide="plots|isEmpty">
	<export-svg></export-svg>

	<reporting-graph-adapter
		type="['year', 'semester', 'quarter', 'month', 'month_week_sat', 'month_week_sun', 'month_week_mon', 'week_sat', 'week_sun', 'week_mon', 'day'].includes(groupBy) ? 'line' : 'bar'"
		rows="rows" cols="cols" plots="plots">
	</reporting-graph-adapter>

	<div style="clear: both"></div>
</div>

<export-csv></export-csv>

<table id="reporting" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 30px" class="noprint"></th>
			<th translate="shared.name" style="min-width: 300px"></th>
			<th translate="project.baseline" style="width: 60px"></th>
			<th translate="project.target" style="width: 60px"></th>
			<th ng-repeat="col in cols" style="min-width: 50px" title="{{col.title}}">{{col.name}}</th>
		</tr>
	</thead>
	<tbody ng-if="!cubes">
		<tr>
			<td colspan="{{4 + cols.length}}">
				<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span translate="shared.loading"></span>
			</td>
		</tr>
	</tbody>
	<tbody ng-repeat="(blockIndex, block) in blocks">
		<tr ng-click="open[blockIndex] = !open[blockIndex]" style="cursor: pointer">
			<th class="indent0" colspan="{{4 + cols.length}}">
				<i class="noprint" fa-open="open[blockIndex]"></i>
				{{block.text}}
			</th>
		</tr>

		<tr ng-if="open[blockIndex] && !block.rows.length">
			<td class="noprint"></td>
			<td colspan="{{3 + cols.length}}" translate="project.reporting_empty"></td>
		</tr>

		<tr ng-repeat="row in block.rows" ng-if="open[blockIndex]">
			<td class="noprint" style="text-align: center">

				<i class="fa fa-line-chart"
				   ng-click="plots[row.id]=!plots[row.id]"
				   ng-if="row.type === 'data' && row.cols"
				   ng-style="{color: plots[row.id] ? 'black' : 'revert'}"></i>

			</td>

			<th ng-if="row.type === 'header'" class="indent{{row.indent}}" colspan="{{3 + cols.length}}">{{row.text}}</th>

			<td ng-if="row.type === 'data'" class="indent{{row.indent}}">
				<i class="fa fa-arrow-circle-right" ng-if="row.isGroup"></i>
				<label for="{{row.id}}" title="{{row.name}}">{{row.name|maxLength:50}}</label>
				<!-- {{row}} -->

				<div class="pull-right">
					<div class="btn-toolbar">
						<div class="btn-group btn-group-xs">
							<button ng-repeat="p in row.partitions"
									class="btn btn-default"
									ng-class="{active:splits[row.id] == p.id}"
									ng-click="onSplitClick(row.id, p.id)">
								{{p.name}}
							</button>
						</div>
					</div>
				</div>
			</td>

			<td ng-if="row.type === 'data'" ng-class="{empty: row.baseline === null}"><span>{{row.baseline}}{{row.unit}}</span></td>
			<td ng-if="row.type === 'data'" ng-class="{empty: row.target === null}"><span>{{row.target}}{{row.unit}}</span></td>

			<td ng-repeat="col in row.cols track by $index" reporting-field></td>
			<td ng-if="row.type === 'data' && !row.cols" colspan="{{cols.length}}" style="background-color: rgb(238, 238, 238);">{{row.message|translate}}</td>
		</tr>

	</tbody>
</table>
