<ol class="breadcrumb noprint">
	<li ng-if="$root.userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="project.users"></li>
</ol>

<div class="alert alert-info" translate="project.users_list_info"></div>

<div ng-sortable="$ctrl.sortableOptions">
	<div class="panel panel-default columns-panel"
		 ng-repeat="user in $ctrl.editableProject.users">

		<div class="panel-heading">
			<div class="panel-title">
				<i class="fa fa-arrows fa-fw handle"></i>
				{{user.name || $ctrl.usersById[user.id].name}}
			</div>
		</div>
		<div class="panel-body">
			<div>
				<strong translate="project.username"></strong>
				<img src="user-list-logo.svg" style="height: 17px" ng-if="user.type=='internal'" />
				{{user.username}}
			</div>
			<div>
				<strong translate="project.user_role"></strong>
				{{('project.user_roles.' + user.role)|translate}}
			</div>
			<div ng-if="user.role == 'input'">
				<strong translate="project.collection_site_list"></strong>
				{{user.entities|getObjects:$ctrl.project.entities|pluck:'name'|join:', '}}
			</div>
			<div ng-if="user.role == 'input'">
				<strong translate="project.collection_form_list"></strong>
				{{user.dataSources|getObjects:$ctrl.project.forms|pluck:'name'|join:', '}}
			</div>

			<div class="panel-buttons btn-group">
				<a ng-click="$ctrl.onEditUserClicked(user)" class="btn btn-default btn-xxs">
					<i class="fa fa-pencil"></i>
					<span translate="shared.edit"></span>
				</a>

				<div class="btn-group" uib-dropdown>
					<a class="btn btn-default btn-xxs" uib-dropdown-toggle>
						<span class="caret"></span>
					</a>

					  <ul class="dropdown-menu">
						<li>
							<a ng-click="$ctrl.delete(user)">
								<i class="fa fa-times text-danger"></i>
								<span class="text-danger" translate="shared.delete"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<a class="btn btn-default" ng-click="$ctrl.onEditUserClicked()">
	<i class="fa fa-plus"></i>
	<span translate="project.add_user"></span>
</a>
