
<table id="reporting" class="table table-bordered table-condensed">
	<tbody>
		<tr	tr-indicator-detailed
			section-title="'project.full_project'|translate"
			indicator="$ctrl.indicator"
			error-message="$ctrl.errorMessages"
			slots="$ctrl.slots"
			values="$ctrl.values['_total']"
			first-col-style="$ctrl.firstColStyle"
			on-plot-toggle="$ctrl.onPlotToggle({id: $ctrl.project._id, name: name, data: data})"></tr>
		<tr>
			<td class="noprint" ng-style="$ctrl.firstColStyle"></td>
			<th	translate="project.collection_site_list"
				colspan="{{$ctrl.slots.length + 2}}"
				ng-style="$ctrl.firstColStyle"></th>
		</tr>
		<tr	ng-repeat="site in $ctrl.sites"
			tr-indicator-detailed
			section-title="site.name"
			indicator="$ctrl.indicator"
			error-message="$ctrl.errorMessages"
			slots="$ctrl.slots"
			values="$ctrl.values[site.id]"
			first-col-style="$ctrl.firstColStyle"
			on-plot-toggle="$ctrl.onPlotToggle({id: site.id, name: name, data: data})">
		</tr>

		<tr>
			<td class="noprint" ng-style="$ctrl.firstColStyle"></td>
			<th translate="project.groups"
				colspan="{{$ctrl.slots.length + 2}}"
				ng-style="$ctrl.firstColStyle"></th>
		</tr>
		<tr	ng-repeat="group in $ctrl.groups"
			tr-indicator-detailed
			section-title="group.name"
			indicator="$ctrl.indicator"
			error-message="$ctrl.errorMessages"
			slots="$ctrl.slots"
			values="$ctrl.values[group.id]"
			first-col-style="$ctrl.firstColStyle"
			on-plot-toggle="$ctrl.onPlotToggle({id: group.id, name: name, data: data})">
		</tr>
	</tbody>
	<thead ng-style="$ctrl.headerStyle">
		<tr>
			<th style="width: 30px" class="noprint" ng-style="$ctrl.firstColStyle"></th>
			<th translate="shared.name" style="min-width: 300px" ng-style="$ctrl.firstColStyle"></th>
			<th ng-repeat="slot in $ctrl.slots"
				style="min-width: 50px"
				title="{{slot|formatSlotLong}}">
				{{slot|formatSlot}}
			</th>
			<th style="min-width: 50px" title="Total">Total</th>
		</tr>
	</thead>
</table>
