<td class="noprint" style="text-align: center" ng-style="$ctrl.firstColStyle">
	<i class="fa fa-line-chart"
	   ng-click="$ctrl.toggleGraph()"
	   ng-style="{color: $ctrl.graphToggled ? 'black' : 'revert'}"></i>
</td>
<td class="row-title" ng-style="$ctrl.firstColStyle">{{$ctrl.sectionTitle}}</td>

<td ng-if="!$ctrl.values"
	colspan="{{$ctrl.slots.length + 1}}"
	style="background-color: rgb(238, 238, 238);">

	{{$ctrl.errorMessages|translate}}
</td>

<td ng-repeat="value in $ctrl.values track by $index"
	td-reporting-field
	indicator="$ctrl.indicator"
	value="value"></td>
