<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.country}}" ng-bind="masterProject.country|maxLength:20"></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li class="active" translate="indicator.cross_cutting"></li>
</ol>

<div class="alert alert-info" translate="project.cross_cutting_list_info"></div>

<div translate="project.no_cross_cutting" ng-if="themes.length == 0" style="margin-bottom: 10px"></div>

<div ng-repeat="theme in themes">
	<legend ng-if="theme.definition">{{theme.definition.name[$root.language]}}</legend>
	<legend ng-if="!theme.definition" translate="project.multi_theme_indicator"></legend>

	<!-- markup is broken on purpose: do not fix -->
	<!-- If we put spaces between tags, margins break -->

	<div><div class="panel panel-default indicator-panel"
		 ng-repeat="indicator in theme.indicators|orderBy:('name.' + $root.language)">

		<div class="panel-heading" title="{{indicator.name[$root.language]}}">{{indicator.name[$root.language]|maxLength:90}}</div>

		<div class="panel-body" style="padding-bottom: 10px">
			<strong>{{'project.baseline'|translate}}:</strong> {{editableProject.crossCutting[indicator._id].baseline != null ? editableProject.crossCutting[indicator._id].baseline : '?'}}<br/>
			<strong>{{'project.target'|translate}}:</strong> {{editableProject.crossCutting[indicator._id].target != null ? editableProject.crossCutting[indicator._id].target : '?'}}<br/>

			<strong>{{'project.computation'|translate}}:</strong>
			<span class="text-danger" ng-if="!editableProject.crossCutting[indicator._id].computation">
				{{'project.indicator_is_not_computed'|translate}}
				<i class="fa fa-unlink" ></i>
			</span>
			<span class="text-success" ng-if="editableProject.crossCutting[indicator._id].computation">
				{{'project.indicator_is_computed'|translate}}
				<i class="fa fa-link" ></i>
			</span>

			<button class="btn btn-xxs btn-default" style="width: 100%; display: block" ng-click="editIndicator(indicator._id)">
				<i class="fa fa-pencil"></i>
				{{'shared.edit'|translate}}
			</button>
		</div>
	</div></div>

	<br/>
</div>
