
<div class="input-group">
	<div class="input-group-addon" style="vertical-align: middle;">
		<!-- <input type="checkbox" ng-model="specifyValue" /> -->

		<i class="fa fa-thumb-tack"
		   ng-click="specifyValue=!specifyValue"
		   ng-style="{color: specifyValue ? 'black' : 'revert'}"></i>

	</div>

	<input type="number"
		   ng-model="container.chosenValue"
		   ng-if="specifyValue"
		   required
		   class="form-control" />

	<input type="text"
		   ng-if="!specifyValue"
		   value="{{message|translate}}"
		   disabled
		   class="form-control disabled" />

</div>
