<div class="row">
	<div class="col-md-2">
		<ng-include src="'partials/indicators/menu.html'"></ng-include>
	</div>

	<div class="col-md-10">
		
		Trier par:
		<select id="sort-input" ng-model="orderField">
			<option value="name">Ordre alphabétique</option>
			<option value="-input">Nombre de saisies</option>
			<option value="-main">Nombre de projets</option>
		</select>

		<br/><br/>

		<div class="indicator-level-1" ng-repeat="(themeId, indicatorByTypes) in hierarchy">
			<div class="indicator-header" ng-click="open1 = !open1">
				<i class="fa fa-plus-circle" ng-class="{'fa-plus-circle': !open1, 'fa-minus-circle': open1}"></i>
				{{themes[themeId].name || 'Sans thématique'}}
			</div>

			<div class="indicator-level-2" ng-repeat="(typeId, indicators) in indicatorByTypes" ng-if="open1">
				<div class="indicator-header" ng-click="open2 = !open2">
					<i class="fa fa-plus-circle" ng-class="{'fa-plus-circle': !open2, 'fa-minus-circle': open2}"></i>
					{{types[typeId].name || 'Sans type'}}
				</div>

				<div class="indicator-level-3" ng-repeat="indicator in indicators | orderBy:orderField" ng-if="open2">
					<span class="color" ng-class="{green: indicator.standard}"></span>
					<span class="name">{{indicator.name}} ({{indicator.main}} projets, {{indicator.dependency}} dépendances, {{indicator.input}} saisies)</span>
					<a href="#indicators/{{indicator._id}}">Éditer</a>
					<a href="#indicators/{{indicator._id}}/reporting" ng-if="indicator.main">Statistiques</a>
				</div>
			</div>
		</div>

		<button class="btn btn-default" ng-click="create()">Créer un nouvel indicateur</button>
	</div>
</div>
