<style type="text/css">

	table {
		font-size: 12px;
	}

</style>

<ol class="breadcrumb">
	<li><a ui-sref="main.indicators.list" translate>shared.indicators</a></li>
	<li><a ui-sref="main.indicator.edit({indicatorId: indicator._id})">{{indicator.name}}</a></li>
	<li class="active" translate>shared.reporting</li>
</ol>

<form class="form-horizontal" novalidate>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate>shared.begin</label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text" 
							   datepicker-popup="yyyy/MM/dd"
							   name="begin"
							   ng-model="dates.begin"
							   is-open="beginDateOpen"
							   show-button-bar="false"
							   ng-click="beginDateOpen=true"
							   starting-day="1"
							   show-weeks="0"
							   required
							   ng-max="dates.end"
							   class="form-control" />

					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="group-by-input" class="col-sm-2 control-label" translate>shared.columns</label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-columns"></i></span>
						<select class="form-control" id="group-by-input" ng-model="query.groupBy">
							<option value="day" translate>shared.day</option>
							<option value="week" translate>shared.week</option>
							<option value="month" translate>shared.month</option>
							<option value="year" translate>shared.year</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="colorize-input" class="col-sm-2 control-label" translate>shared.colorize</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<input type="checkbox" id="colorize-input" ng-model="presentation.colorize" />
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate>shared.end</label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text" 
							   datepicker-popup="yyyy/MM/dd"
							   name="end"
							   ng-model="dates.end"
							   is-open="endDateOpen"
							   show-button-bar="false"
							   ng-click="endDateOpen=true"
							   starting-day="1"
							   show-weeks="0"
							   required
							   ng-min="dates.begin"
							   class="form-control" />
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="display-input" class="col-sm-2 control-label" translate>shared.display</label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-eye"></i></span>
						<select class="form-control" id="display-input" ng-model="presentation.display">
							<option value="value" translate>shared.values</option>
							<option value="targetPart" translate>shared.target_percentage</option>
							<option value="baselinePart" translate>shared.baseline_percentage</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="plot-input" class="col-sm-2 control-label" translate>shared.plot</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<input type="checkbox" id="plot-input" ng-model="presentation.plot" />
					</p>
				</div>
			</div>
		</div>
	</div>
</form>


<div class="clearfix">
	<button class="btn btn-primary btn-xs pull-right" ng-show="presentation.plot" svg-save="imageFilename">
		<i class="fa fa-download"></i>
		<span translate="shared.download_plot"></span>
	</button>
</div>

<div id="chart" ng-show="presentation.plot" style="overflow: hidden;"></div>

<button class="btn btn-primary btn-xs pull-right"
		style="margin-bottom: 10px;"
		indicator-csv-save cols="cols" query="query" data="data">
	<i class="fa fa-download"></i>
	<span translate>shared.download_table</span>
</button>

<table class="table table-bordered table-stripped table-condensed" ng-init="purposeOpen=true">
	<thead>
		<tr>
			<th ng-show="presentation.plot"></th>
			<th></th>
			<th ng-repeat="col in cols">{{col.name}}</th>
		</tr>
	</thead>
	<tbody ng-repeat="project in projects" ng-init="open=false;">
		<tr>
			<td ng-show="presentation.plot"><input id="plot-{{project._id}}" type="checkbox" ng-model="plots[project._id]" /></td>
			<td>
				<a ng-click="open=!open">
					<i class="fa" ng-class="{'fa-minus-circle': open, 'fa-plus-circle': !open}"></i>
					{{project.name}}
				</a>
			</td>
			<td ng-repeat="col in cols" ng-style="{'background-color': data[project._id][col.id][indicator._id] ? (presentation.colorize ? data[project._id][col.id][indicator._id].color : white) : '#eeeeee'}">
				<div ng-switch="presentation.display" ng-if="data[project._id][col.id][indicator._id]">
					<span ng-switch-when="value">{{data[project._id][col.id][indicator._id].value}}{{indicator.unit}}</span>
					<span ng-switch-when="targetPart">{{data[project._id][col.id][indicator._id].targetPart}}%</span>
					<span ng-switch-when="baselinePart">{{data[project._id][col.id][indicator._id].baselinePart}}%</span>
				</div>
			</td>
		</tr>
		<tr ng-repeat="inputEntity in project.inputEntities" ng-if="open">
			<td ng-show="presentation.plot"><input id="plot-{{inputEntity.id}}" type="checkbox" ng-model="plots[inputEntity.id]" ng-change="updateGraph(inputEntity.id)" /></td>
			<td>
				<label for="plot-{{inputEntity.id}}">&nbsp;&nbsp;&nbsp;&nbsp;{{inputEntity.name}}</label>
			</td>
			<td ng-repeat="col in cols" ng-style="{'background-color': data[inputEntity.id][col.id][indicator._id] ? (presentation.colorize ? data[inputEntity.id][col.id][indicator._id].color : white) : '#eee'}">
				<div ng-switch="presentation.display" ng-if="data[inputEntity.id][col.id][indicator._id] !== undefined">
					<span ng-switch-when="value">{{data[inputEntity.id][col.id][indicator._id].value}}{{indicator.unit}}</span>
					<span ng-switch-when="targetPart">{{data[inputEntity.id][col.id][indicator._id].targetPart}}%</span>
					<span ng-switch-when="baselinePart">{{data[inputEntity.id][col.id][indicator._id].baselinePart}}%</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>
