<div class="modal-body">
	<legend translate="shared.choose_indicator"></legend>

	<label for="standard-input" style="text-weight: normal" translate="indicator.only_core"></label>
	<input id="standard-input" type="checkbox" ng-model="standard" />

	<indicator-select buttons="choose" standard="standard" order-field="'name'" user-ctx="userCtx"></indicator-select>
</div>

<div class="modal-footer">
	<button ng-click="cancel()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.cancel">
	</button>
</div>
