<ol class="breadcrumb">
	<li><a ui-sref="main.indicators.list" translate>shared.indicators</a></li>
	<li class="active" translate ng-if="entityType === 'theme'">indicator.themes_list</li>
	<li class="active" translate ng-if="entityType === 'type'">indicator.types_list</li>
</ol>

<table class="table table-stripped table-bordered table-condensed">
	<thead>
		<tr>
			<th translate>shared.name</th>
			<th translate>indicator.num_indicators</th>
			<th style="width:185px"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(entityIndex, entity) in entities">
			<td>
				<ng-form name="entityForm">
					<div class="form-group" show-errors style="margin: 0">
						<input type="text" name="name" ng-model="entity.name" class="form-control input-sm" required />
					</div>
				</ng-form>
			</td>
			<td>{{entity.usage || 0}}</td>
			<td>
				<button class="btn btn-primary btn-xs" ng-click="save(entityIndex)" ng-disabled="!entity.name || !hasChanged(entityIndex)" translate>shared.save</button>
				<button class="btn btn-danger btn-xs" ng-disabled="entity.usage" ng-click="remove(entityIndex)" translate>shared.delete</button>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div class="input-group input-group-sm" style="width: 100%">
					<button class="btn btn-default btn-xs" ng-click="create()" style="width: 100%" translate>shared.add</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
