version: "3.6"

services:

  reverse_proxy:
    image: fholzer/nginx-brotli:v1.15.8
    restart: always
    ports:
      - "8045:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

  api:
    image: node:10
    working_dir: /app
    restart: always
    command: sh -c "yarn install --frozen-lockfile && yarn run start"
    ports:
      - "9229:9229"
    volumes:
      - ../api/lib:/app/lib:ro
      - ../api/package.json:/app/package.json:ro
      - ../api/yarn.lock:/app/yarn.lock:ro
      - api_node_modules:/app/node_modules
    environment:
      MONITOOL_DEBUG: "FALSE"
      MONITOOL_PORT: "80"
      MONITOOL_BASE_URL: ""
      MONITOOL_COOKIE_SECRET: ""
      MONITOOL_COUCHDB_HOST: ""
      MONITOOL_COUCHDB_USER: ""
      MONITOOL_COUCHDB_PASS: ""
      MONITOOL_AUTH_ADMINISTRATOR: ""
      MONITOOL_AUTH_PROVIDERS_AZUREAD: "TRUE"
      MONITOOL_AUTH_PROVIDERS_AZUREAD_LABEL: "Use MDM account"
      MONITOOL_AUTH_PROVIDERS_AZUREAD_DOMAIN: ""
      MONITOOL_AUTH_PROVIDERS_AZUREAD_TENANTID: ""
      MONITOOL_AUTH_PROVIDERS_AZUREAD_CLIENTID: ""
      MONITOOL_AUTH_PROVIDERS_AZUREAD_CLIENTSECRET: ""
      MONITOOL_AUTH_PROVIDERS_TRAINING: "FALSE"

  couchdb:
    image: couchdb:2
    restart: always
    ports:
      - "5984:5984"
    environment:
      COUCHDB_USER: ""
      COUCHDB_PASSWORD: ""
    volumes:
      - couchdb_data:/opt/couchdb/data

volumes:
  api_node_modules:
  couchdb_data: