<ol class="breadcrumb noprint">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active">{{project.name}}</li>
	<li class="active" translate="project.basics"></li>
</ol>

<doc-reminder pages="project.presentation_project,project.logical_frame,project.change_definition"></doc-reminder>

<form class="form-horizontal noprint" role="form" name="projectForm" novalidate>
	<fieldset>
		<div class="form-group" show-errors>
			<label for="input-name" class="col-sm-2 control-label" translate="shared.name"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.name">
				<input id="input-name"
					   type="text"
					   class="form-control"
					   name="name"
					   ng-model="project.name"
					   placeholder="{{'project.name_ph'|translate}}"
					   required />
				
				<p class="help-block" ng-if="projectForm.name.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group">
			<label for="input-themes" class="col-sm-2 control-label" translate="indicator.themes"></label>
			<div class="col-sm-10">
				<ui-select id="input-themes" multiple ng-model="project.themes" name="themes" theme="bootstrap" required acl-has-project-role="owner">
					<ui-select-match placeholder="{{'indicator.select_themes'|translate}}">{{$item.name[language]}}</ui-select-match>
					<ui-select-choices repeat="theme._id as theme in themes">{{theme.name[language]}}</ui-select-choices>
				</ui-select>

				<p class="form-control-static" acl-lacks-project-role="owner">{{project.themes|getObjects:themes|pluck:'name'|pluck:language|join:', '}}</p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="input-begin" class="col-sm-2 control-label" translate="project.begin_date"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.begin">

				<input type="text" 
					   datepicker-popup="longDate"
					   name="begin"
					   ng-model="project.begin"
					   is-open="beginDateOpen"
					   ng-click = "beginDateOpen = true"
					   required
					   ng-max="project.end"
					   class="form-control" />

				<p class="help-block" ng-if="projectForm.begin.$error.required" translate="form.mandatory"></p>
				<p class="help-block" ng-if="projectForm.begin.$error.lowerThan" translate="form.begin_lower_than_end"></p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="input-end" class="col-sm-2 control-label" translate="project.end_date"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.end">

				<input type="text" 
					   datepicker-popup="longDate"
					   name="end"
					   ng-model="project.end"
					   is-open="endDateOpen"
					   ng-click = "endDateOpen = true"
					   required
					   ng-min="project.begin"
					   class="form-control" />

				<p class="help-block" ng-if="projectForm.end.$error.required" translate="form.mandatory"></p>
				<p class="help-block" ng-if="projectForm.end.$error.greaterThan" translate="form.end_greater_than_begin"></p>
			</div>
		</div>

 	</fieldset>
	
	<div acl-has-project-role="owner">
		<br/><br/>

		<a ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary" ng-click="save()">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</a>

		<a ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</a>
	</div>
</form>
