<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.save.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="project.collection_site_list"></li>
</ol>

<doc-reminder pages="project.structure"></doc-reminder>

<form name="projectForm" novalidate>
	
	<legend translate="project.collection_site_list"></legend>

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th style="width: 30px" acl-has-project-role="owner"></th>
				<th translate="project.entity_name"></th>
				<th style="width: 200px" translate="project.start"></th>
				<th style="width: 200px" translate="project.end"></th>				
				<th style="width: 30px" acl-has-project-role="owner"></th>
			</tr>
		</thead>
		<tbody ng-if="project.entities.length == 0">
			<tr>
				<td colspan="4" style="text-align: center" translate="project.no_input_entities"></td>
			</tr>
		</tbody>
		<tbody ng-if="project.entities.length != 0" ng-sortable="{handle: '.handle'}">
			<tr ng-repeat="inputEntity in project.entities track by inputEntity.id">
				<td class="handle" acl-has-project-role="owner"><i class="fa fa-bars"></i></td>

				<td acl-has-project-role="owner" acl-fallback="inputEntity.name">
					<ng-form name="center">
						<div class="form-group" show-errors style="margin: 0">
							<input type="text"
								   name="name"
								   ng-model="inputEntity.name"
								   class="form-control input-sm"
								   placeholder="{{'project.entity_name_placeholder'|translate}}"
								   required />
						</div>
					</ng-form>
				</td>
				<td acl-has-project-role="owner" acl-fallback="project.start">
					<optional-date ng-model="inputEntity.start" default="project.start"></optional-date>
				</td>
				<td acl-has-project-role="owner" acl-fallback="project.end">
					<optional-date ng-model="inputEntity.end" default="project.end"></optional-date>
				</td>
				<td style="text-align: right" acl-has-project-role="owner">
					<a class="btn btn-danger btn-sm" ng-click="deleteEntity(inputEntity.id)">
						<i class="fa fa-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot acl-has-project-role="owner">
			<tr>
				<td colspan="5" style="text-align: center">
					<a class="btn btn-default btn-xs" ng-click="createEntity()">
						<i class="fa fa-plus"></i>
						<span translate="shared.add"></span>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>

	<legend translate="project.groups"></legend>

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th style="width: 30px" acl-has-project-role="owner"></th>
				<th style="width: 300px" translate="project.group_name"></th>
				<th translate="shared.members"></th>
				<th style="width: 30px;" acl-has-project-role="owner"></th>
			</tr>
		</thead>
		<tbody ng-if="project.groups.length == 0">
			<tr>
				<td colspan="4" style="text-align: center" translate="project.no_input_groups"></td>
			</tr>
		</tbody>
		<tbody ng-if="project.groups.length != 0" ng-sortable="{handle: '.handle'}">
			<tr ng-repeat="inputGroup in project.groups track by inputGroup.id">
				<td class="handle" acl-has-project-role="owner"><i class="fa fa-bars"></i></td>

				<td acl-has-project-role="owner" acl-fallback="inputGroup.name">
					<ng-form name="center">
						<div class="form-group" show-errors style="margin: 0">
							<input type="text"
								   name="name"
								   placeholder="{{'project.group_name_placeholder'|translate}}"
								   ng-model="inputGroup.name"
								   class="form-control error input-sm"
								   required />
						</div>
					</ng-form>
				</td>
				
				<td acl-has-project-role="owner" acl-fallback="inputGroup.members | getObjects:project.entities | pluck:'name' | join:', '">
					<ui-select multiple ng-model="inputGroup.members" theme="bootstrap">
						<ui-select-match placeholder="">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="inputEntity.id as inputEntity in project.entities">
							{{inputEntity.name}}
						</ui-select-choices>
					</ui-select>
				</td>

				<td style="text-align: right" acl-has-project-role="owner">
					<a class="btn btn-danger btn-sm" ng-click="deleteGroup(inputGroup.id)" tooltip="{{'shared.delete'|translate}}">
						<i class="fa fa-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot acl-has-project-role="owner">
			<tr>
				<td colspan="4" style="text-align: center">
					<a class="btn btn-default btn-xs" ng-click="createGroup()">
						<i class="fa fa-plus"></i>
						<span translate="shared.add"></span>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</form>
