<div class="input-group">
	<div class="input-group-addon" style="vertical-align: middle;" ng-click="$ctrl.toggleSpecifyDate()">
		<i class="fa fa-thumb-tack"
		   ng-style="{color: $ctrl.specifyDate ? 'black' : 'revert'}"></i>
	</div>

	<utc-datepicker
		ng-if="$ctrl.specifyDate"
		ng-model="$ctrl.chosenDate"
		ng-change="$ctrl.onDateChange()"></utc-datepicker>

	<input
		type="text"
		ng-if="!$ctrl.specifyDate"
		value="{{$ctrl.message|translate}}"
		disabled
		class="form-control disabled" />
</div>
