<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li><a ui-sref="main.project.structure.collection_form_list" translate="project.collection_form_list"></a></li>
	<li class="active">{{editableProject.forms[currentFormIndex].name|maxLength:50}}</li>
</ol>

<div class="alert alert-danger noprint" ng-if="formUsage.length">
	 <span ng-bind-html="'project.collection_form_warning'|translate:{num_inputs:formUsage.length}|unsafe"></span>
</div>

<form class="form-horizontal" role="form" name="dataSourceForm" novalidate>
	<legend translate="project.collection_form_planning"></legend>
	
	<div class="form-group" show-errors>
		<label for="input-name" class="col-sm-2 control-label" translate="shared.name"></label>
		<div class="col-sm-10">

			<input type="text"
				   class="form-control"
				   id="input-name"
				   name="name"
				   ng-model="editableProject.forms[currentFormIndex].name"
				   placeholder="{{'project.form_name_ph'|translate}}"
				   required />
			
			<span class="help-block">
				<i class="fa fa-info-circle"></i>
				{{'project.collection_edit_help_name'|translate}}
			</span>
			<!-- <p class="help-block" ng-if="dataSourceForm.name.$error.required" translate="form.mandatory"></p> -->
		</div>
	</div>

	<div class="form-group">
		<label for="collect-input" class="col-sm-2 control-label" translate="project.collect"></label>
		<div class="col-sm-10">
			<element-filter ng-model="editableProject.forms[currentFormIndex].entities" elements="editableProject.entities" groups="editableProject.groups"></element-filter>
		</div>
	</div>

	<div class="row" style="margin-top: -10px; margin-bottom: 10px;">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<span class="help-block">
				<i class="fa fa-info-circle"></i>
				{{'project.collection_edit_help_sites'|translate}}
			</span>
		</div>
	</div>

	<div class="form-group">
		<label for="periodicity-input" class="col-sm-2 control-label" translate="project.periodicity"></label>
		<div class="col-sm-10">
			<select class="form-control" name="periodicity" id="periodicity-input" ng-model="editableProject.forms[currentFormIndex].periodicity">
				<option value="day" translate="project.periodicities.day"></option>
				<option value="week_sat" translate="project.periodicities.week_sat"></option>
				<option value="week_sun" translate="project.periodicities.week_sun"></option>
				<option value="week_mon" translate="project.periodicities.week_mon"></option>
				<option value="month" translate="project.periodicities.month"></option>
				<option value="quarter" translate="project.periodicities.quarter"></option>
				<option value="semester" translate="project.periodicities.semester"></option>
				<option value="year" translate="project.periodicities.year"></option>
				<option value="free" translate="project.periodicities.free"></option>
			</select>

			<span class="help-block">
				<i class="fa fa-info-circle"></i>
				{{'project.collection_edit_help_periodicity'|translate}}
			</span>
		</div>
	</div>

	<div class="form-group" ng-if="editableProject.forms[currentFormIndex].periodicity !== 'free'">
		<label for="periodicity" class="col-sm-2 control-label" translate="project.specific_start"></label>
		<div class="col-sm-10">
			<optional-date ng-model="editableProject.forms[currentFormIndex].start" default="editableProject.start" message="project.same_as_start"></optional-date>

			<span class="help-block">
				<i class="fa fa-info-circle"></i>
				{{'project.collection_edit_help_start'|translate}}
			</span>
		</div>
	</div>

	<div class="form-group" ng-if="editableProject.forms[currentFormIndex].periodicity !== 'free'">
		<label for="periodicity" class="col-sm-2 control-label" translate="project.specific_end"></label>
		<div class="col-sm-10">
			<optional-date ng-model="editableProject.forms[currentFormIndex].end" default="editableProject.end" message="project.same_as_end"></optional-date>

			<span class="help-block">
				<i class="fa fa-info-circle"></i>
				{{'project.collection_edit_help_end'|translate}}
			</span>
		</div>
	</div>

	<legend translate="project.collection_form_structure"></legend>

	<div ng-if="editableProject.forms[currentFormIndex].elements.length === 0" translate="project.no_variable"></div>

	<div ng-sortable="{handle: '.variable-handle'}">
		<div class="panel panel-info" ng-repeat="(index, element) in editableProject.forms[currentFormIndex].elements">
			<div class="panel-heading" ng-click="toggle(element.id)" style="cursor: pointer">
				<div class="pull-right">
					<a class="btn btn-xxs btn-default variable-handle">
						<i class="fa fa-sort fa-fw"></i>
						{{'project.press_to_drag'|translate}}
					</a>

					<a class="btn btn-xxs btn-danger" ng-click="remove(element, editableProject.forms[currentFormIndex].elements)">
						<i class="fa fa-times"></i>
						{{'project.remove_variable'|translate}}
					</a>
				</div>

				<div class="panel-title">
					<i fa-open="container.visibleElement==element.id"></i>
					<strong>{{'project.variable'|translate}} {{index + 1}}:</strong> {{element.name}}
				</div>
			</div>

			<div class="panel-body" ng-show="container.visibleElement==element.id">
				<div class="form-group">
					<label class="col-sm-2 control-label" translate="project.variable_name_label"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="element.name" placeholder="{{'project.variable_name_ph'|translate}}" required name="{{element.id}}-name">

						<span class="help-block">
							<i class="fa fa-info-circle"></i>
							<span translate="project.collection_edit_help_varname" translate-values="{name: editableProject.forms[currentFormIndex].name}"></span>
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<label for="site-agg-select" class="col-sm-2 control-label" translate="project.site_agg_label"></label>
					<div class="col-sm-10 form-control-static">
						<select if="site-agg-select" class="form-control" ng-model="element.geoAgg">
							<option value="sum" translate="project.aggregation.sum"></option>
							<option value="average" translate="project.aggregation.average"></option>
							<option value="highest" translate="project.aggregation.highest"></option>
							<option value="lowest" translate="project.aggregation.lowest"></option>
							<option value="none" translate="project.aggregation.none"></option>
						</select>

						<span class="help-block">
							<i class="fa fa-info-circle"></i>
							<span translate="project.collection_edit_help_geoagg" translate-values="{name: element.name}"></span>
						</span>
					</div>
				</div>

				<div class="form-group">
					<label for="time-agg-select" class="col-sm-2 control-label" translate="project.time_agg_label"></label>
					<div class="col-sm-10 form-control-static">
						<select id="time-agg-select" class="form-control" ng-model="element.timeAgg">
							<option value="sum" translate="project.aggregation.sum"></option>
							<option value="average" translate="project.aggregation.average"></option>
							<option value="highest" translate="project.aggregation.highest"></option>
							<option value="lowest" translate="project.aggregation.lowest"></option>
							<option value="last" translate="project.aggregation.last"></option>
							<option value="none" translate="project.aggregation.none"></option>
						</select>

						<span class="help-block">
							<i class="fa fa-info-circle"></i>
							<span translate="project.collection_edit_help_timeagg" translate-values="{name: element.name}"></span>
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" translate="project.partitions_label"></label>
					
					<div class="col-sm-10 form-control-static">
						<div class="well" style="padding: 5px;">
							<ul style="list-style-type: none; padding-left: 5px">
								<li ng-if="element.partitions.length == 0" translate="project.no_partitions"></li>

								<li ng-repeat="partition in element.partitions">
									<a ng-click="editPartition(element, partition)">
										<i class="fa fa-pencil"></i>
										<strong>{{partition.name}}</strong>
										({{partition.elements|pluck:"name"|join:", "}})
									</a>
								</li>
							</ul>

							<a ng-click="editPartition(element, null)" class="btn btn-xxs btn-default">
								<i class="fa fa-plus"></i>
								<span translate="project.add_partition"></span>
							</a>
						</div>

						<span class="help-block" style="margin-top: -10px">
							<i class="fa fa-info-circle"></i>
							<span translate="project.collection_edit_help_partition" translate-values="{name: element.name}"></span>
						</span>
					</div>
				</div>

				<div class="form-group" ng-if="element.partitions.length > 0">
					<label class="col-sm-2 control-label" translate="project.distribution_label"></label>

					<div class="col-sm-10 form-control-static">
						<partition-distribution ng-model="element.distribution" num-partitions="element.partitions.length"></partition-distribution>

						<span class="help-block" style="margin-top: -10px">
							<i class="fa fa-info-circle"></i>
							{{'project.collection_edit_help_distribution'|translate}}
						</span>
					</div>
				</div>

				<div class="form-group" ng-if="element.partitions.length > 1">
					<label class="col-sm-2 control-label" translate="project.order_label"></label>

					<div class="col-sm-10 form-control-static">
						<partition-order ng-model="element.order" partitions="element.partitions" distribution="element.distribution"></partition-order>

						<span class="help-block">
							<i class="fa fa-info-circle"></i>
							{{'project.collection_edit_help_order'|translate}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="btn btn-default" ng-click="newVariable()">
		<i class="fa fa-plus"></i>
		<span translate="project.add_variable"></span>

	</a>
	<br/>
	<br/>

</form>

<div class="pull-right">
	<button ng-click="deleteForm()" ng-if="masterProject.forms[currentFormIndex]" class="btn btn-danger">
		<i class="fa fa-times"></i>
		<span translate="project.delete_form"></span>
	</button>
</div>
