
<h3>Bienvenue sur monitool!</h3>

<p>Monitool est une extension de l’intranet de l’ONG</p>
<p>Il a pour objectif de centraliser les données générées par les terrains de la DOI chez Médecins du Monde.</p>

<div class="row">
	<div class="col-xs-4">

		<h4>Pourquoi</h4>

		<ul>
			<li>
				<strong>Augmenter la fiabilité</strong><br/>
				<ul>
					<li>Réduire la courbe d’apprentissage nécessaire à l'exploitation des données.</li>
					<li>Disposer de contrôles de cohérence afin de limiter les erreurs de saisie</li>
					<li>Limiter les fautes de calcul: les formules des indicateurs sont pré-saisies</li>
				</ul>
			</li>
			<li>
				<strong>Prendre du recul</strong><br/>
				<ul>
					<li>À travers le catalogue, encourager des projets géographiquement éloignés à utiliser les mêmes indicateurs lorsqu’ils mesurent des grandeurs comparables.</li>
					<li>Disposer de mécanismes pour comparer la valeur d’un indicateur sur un projet, avec la même grandeur chez tous les autres qui le collectent.</li>
				</ul>
			</li>
			<li>
				<strong>Faciliter la communication</strong><br/>
				<ul>
					<li>Donner accès direct aux données des projets aux services hors opérationnel de l’ONG (direction, communication, ...)</li>
					<li>Disposer d'une unique version des données partagée entre siège et terrain</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-xs-4">
		<h4>Quand</h4>
		
		<p>Monitool joue un rôle pendant quatre étapes d'un projet</p>
		<ul>
			<li>
				<strong>Dans la conception du cadre logique</strong><br/>

				Avec la mise à disposition des cadres logiques des autres projets,
				et du catalogue des indicateurs, accompagné des bases, cibles et
				collectes passées pour chacun d'eux.
			</li>
			<li>
				<strong>Mise en place des outils de suivi</strong><br/>

				Explicitez le chemin suivi par vos données et fixez des échéances sur
				leur collecte
			</li>
			<li>
				<strong>Suivi régulier</strong><br/>
				
				Les graphes et tableaux de reporting de votre choix sont disponibles
				et toujours réalisées avec les données les plus à jour dispoible
			</li>
			<li>
				<strong>Post-fermeture</strong><br/>
				Vos projets restent archivés et disponibles pour toute consultation
				future!
			</li>
		</ul>
	</div>
	<div class="col-xs-4">
		<h4>Pour commencer</h4>
		
		<ul>
			<li>Lisez le <a ui-sref="main.help.presentation_general">guide d'utilisation de l'outil</a>.</li>
			<li>Décidez des données que vous désirez suivre sur votre projet dans "Formulaires de collecte".</li>
			<li>Saisissez votre cadre logique et liez vos indicateurs au données collectées précedement</li>
			<li>Réalisez votre première saisie!</li>
		</ul>
	</div>
</div>
