<div class="row">

	<div class="col-md-3">
		Que voulez-vous consulter?<br/>
		<ui-select ng-model="selectedEntityType.selected" theme="bootstrap" ng-disabled="disabled" ng-change="updateList()">
			<ui-select-match placeholder="Quel type voulez-vous consulter">{{$select.selected}}</ui-select-match>
			<ui-select-choices repeat="entityType in entityTypes | filter: $select.search">
				<span>{{entityType}}</span>
			</ui-select-choices>
		</ui-select>
	</div>

	<div class="col-md-3">
		Sur quoi?<br/>
		<ui-select multiple ng-model="selectedEntities.selected" theme="bootstrap" ng-disabled="disabled"ng-change="updateData()">
			<ui-select-match placeholder="">
				{{$item.name}}
			</ui-select-match>
			<ui-select-choices repeat="entity in entities | filter: {name: $select.search}">
				{{entity.name}}
			</ui-select-choices>
		</ui-select>
	</div>

	<div class="col-md-3">
		À partir de quand?<br/>
		<input type="month" ng-model="begin" ng-change="updateData()" class="form-control"/>
	</div>

	<div class="col-md-3">
		Jusqu'à quand?<br/>
		<input type="month" ng-model="end" ng-change="updateData()" class="form-control"/>
	</div>

</div>

<hr/>

<div ng-hide="statistics.lines" class="alert alert-warning">
	Aucune donnée disponible
</div>

<div ng-show="statistics.lines">

	<input type="checkbox" ng-model="showDependencies" id="show-dependencies" />
	<label for="show-dependencies">Voir les variables de calcul</label>
	<br/>

	<input type="checkbox" ng-model="colorize" id="colorize" />
	<label for="colorize">Colorer</label>
	<br/>

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th></th>
				<th ng-repeat="period in statistics.periods" style="white-space: nowrap">{{period}}</th>
			</tr>
		</thead>
		<tbody ng-repeat="line in statistics.lines">
			<tr ng-repeat="dependency in line.dependencies" ng-show="showDependencies">
				<td>{{dependency.name}}</th>
				<td ng-repeat="period in statistics.periods">{{statistics.data[period][dependency.id] | number: 2}}</td>
			</tr>
			<tr>
				<th>{{line.name}}</th>
				<td ng-repeat="period in statistics.periods">{{statistics.data[period][line.id] | number: 2}}</td>
			</tr>
		</tbody>
	</table>

</div>
