

				<!-- <dt>Indicateur</dt>
				C’est une mesure chiffrée objective, qui permet de suivre dans le temps et dans l’espace l’atteinte d’objectifs et de résultats définis au préalable (quantitative or qualitative). Il est calculé à partir de variables. définition page 143 « Planification de projet MdM »

				<dt>Variable (= donnée = data)</dt>
				Donnée brute issue de la source de donnée pour calculer un indicateur.

				<dt>Source de donnée</dt>
				Source dont sont issues les variables requises pour calculer l’indicateur Une même source de données peut contenir une ou plusieurs variables.
				Par ex. : registre d’un centre de santé primaire, recensement.

				<dt>Désagrégation = breakdown</dt>
				Sous-groupe dont nous voulons suivre les indicateurs ou variables.
				Par ex. : nombre d’accouchements assistés chez les femmes âgées de moins de 15 ans, par rapport aux femmes qui ont plus de 15 ans.

				<dt>Lieu de collecte</dt>
				Site géographique, ou unité fonctionnelle, pour lequel nous devons collecter indépendamment des données et/ou dont nous voulons suivre spécifiquement les résultats.
				Par ex. : centre de santé primaire A, unité mobile A.

				<dt>Groupe</dt>
				Groupe de lieux qui collectent le même ensemble de données (même format de source de données) et dont nous voulons spécifiquement suivre les résultats.
				Par ex. : centres de santé primaire par rapport aux cliniques mobiles, centres de santé primaire du
				district A par rapport aux centres de santé primaire du district B
				Lieux de collecte + groupe = plan du projet pour le monitool -->
