<h3>Bienvenidos a Monitool!</h3>
<p>Monitool es una extensión de la intranet de la ONG</p>
<p>El objetivo del proyecto es centralizar los datos generados por los proyectos de Médecins du Monde</p>

<div class="row">
	<div class="col-xs-6">
		<h4>¿Por qué</h4>
		<ul style="margin-bottom: 10px">
			<li>
				<strong>Aumentar la fiabilidad</strong><br/>

				<ul style="margin-bottom: 10px">
					<li>Reducir la curva de aprendizaje necesaria para el analisis de datos</li>
					<li>Hacer pruebas de coherencia para limitar los errores de entrada</li>
					<li>Limitar los errores de formulas en indicadores</li>
				</ul>
			</li>
			<li>
				<strong>Tomar distancia con los datos</strong><br/>

				<ul style="margin-bottom: 10px">
					<li>Fomentar proyectos geográficamente remotos a utilizar los mismos indicadores cuando miden magnitudes comparables.</li>
					<li>Contar con mecanismos para comparar el valor de un indicador en un proyecto, con el mismo valor para todos los demás.</li>
				</ul>
			</li>
			<li>
				<strong>Facilitar la comunicación</strong><br/>

				<ul style="margin-bottom: 10px">
					<li>Proporcionar acceso a los datos de los proyectos a servicios que estaban excluídos (gestión, comunicación, .. ).</li>
					<li>Tener una versión única de los datos compartidos entre la sede y los terrenos</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-xs-6">
		<h4>Cuando</h4>
		<p>Monitool tiene un papel durante cuatro etapas de un proyecto</p>
		<ul style="margin-bottom: 10px">
			<li>
				<strong>Diseño del marco lógico</strong><br/>

				Con la provisión de los marcos lógicos de los demas proyectos, sus indicadores, valores de base y objectivos.
			</li>
			<li>
				<strong>Creación de las herramientas de supervisión</strong><br/>

				Ayuda a explicitar el camino seguido por los datos y a fijar plazos límite
			</li>
			<li>
				<strong>Seguimiento</strong><br/>

				Cree gráficos y tablas con los datos mas la dia disponibles
			</li>
			<li>
				<strong>Post-cierre</strong><br/>

				Sus proyectos son archivados y disponibles para referencias futuras!
			</li>
		</ul>
	</div>
</div>