<div class="row">
	<div class="col-md-4">
		<legend>
			<i class="pull-right fa fa-globe"></i>
			Why an online platform
		</legend>
		<div class="project-content-inner">
			<ul>
				<li style="margin-bottom: 5px">
					<strong>Structure</strong> the project's monitoring system
				</li>
				<li style="margin-bottom: 5px">
					<strong>Increase reliability</strong><br/>
					<ul>
						<li>Have consistency checks on data to limit entry errors</li>
						<li>Limit mistakes in calculation</li>
					</ul>
				</li>
				<li style="margin-bottom: 5px">
					<strong>Step back</strong><br/>
					<ul>
						<li>Encourage geographically remote projects to use the same indicators when measuring comparable events.</li>
						<li>Have mechanisms to compare the value of an indicator on a project, with the same value for all other that collected it..</li>
					</ul>
				</li>
				<li style="margin-bottom: 5px">
					<strong>Ease communication</strong><br/>
					<ul>
						<li>Provide direct access to project's data to all departments in the NGO (management, communication, ...)</li>
						<li>Have single source of truth between headquarters and field project</li>
					</ul>
				</li>
				<li style="margin-bottom: 5px">
					<strong>Standardize</strong><br/>
					<ul>
						<li>Ease turn-over by limiting the number of different tools used across projects.</li>
						<li>Reduce the learning curve required to consult data on a new project.</li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
	<div class="col-md-8">
		<legend>
			<i class="pull-right fa fa-lightbulb-o"></i>
			Keep in mind
		</legend>
		<div class="project-content-inner">
			<p>Monitool is all about monitoring.</p>
			<p>It contributes to the ongoing, continuous and systematic monitoring of the situation and its evolution throughout the life of a project.</p>
			<p>
				Its goal is to help taking decisions, thanks to the continuous follow-up of indicators that provide information on the progress of activities,
				and their contribution to the expected outputs and outcomes decided for your project.
			</p>
			<p>
				Even if it can contribute to it, it's primary goal is not to do epidemiologic monitoring, or centralize morbidity sheets which are time-consuming and
				have little value in project management, specially for projects that support health structure (in opposition with providing direct care).
			</p>
		</div>

		<legend>
			<i class="pull-right fa fa-play"></i>
			Getting started
		</legend>
		<div class="project-content-inner">

			<p>Before setting your project up in Monitool, some preliminary steps can help you</p>
			<ul>
				<li>
					Design your reference project: logical framework with output and outcomes indicators, process indicators can be added if necessary.
				</li>
				<li>
					Use the <i>Indicators summary</i> tool to document all indicators from your reference project, and possibly donor's projects (if they are different).
					<ul>
						<li>
							Why: How is each indicator going to help measuring the output or outcome that is expected from your activities?
							How do you plan on analysing it (graphs, tables, with which periodicity: you need to plan in advance how your data will be used for decision making).
						</li>
						<li>
							How: identifie all data and disagregations that will be needed to compute each one of your indicators.
						</li>
						<li>When, where, by and for whom?</li>
					</ul>
				</li>
				<li>
					Build a <i>dataflow chart</i> from the <i>indicator's summary</i> to draw how data will flow in your project
					<ul>
						<li>The data sources organized according to the project's structure</li>
						<li>Detail collected data and precise disagregations</li>
						<li>Organize your indicators by logical framework</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-4">

		<legend>
			<i class="pull-right fa fa-clock-o"></i>
			When should you use Monitool
		</legend>
		<div class="project-content-inner">
			<p>Monitool plays a role during four stages of a project</p>
			<ul style="margin-bottom: 10px">
				<li>
					<strong>Design of the logical frame</strong><br/>

					Monitool provides all others projets logframes, with the list of used indicators and targets for each one of them.
				</li>
				<li>
					<strong>Mise en place des outils de suivi</strong><br/>

					Explicitely write down the path followed by your data and attach deadlines on data collection.
				</li>
				<li>
					<strong>Suivi régulier</strong><br/>
					Reporting graphs and tables of your choice are available and built with the most up-to-date data.
				</li>
				<li>
					<strong>Post-fermeture</strong><br/>
					Your project will be archived and available for future references.
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-4">

		<legend>
			<i class="pull-right fa fa-book"></i>
			Guides & Documents supports
		</legend>

		<div class="project-content-inner">
			<dl>
				<dt>Healthcare project planning (2015)</dt>
				<dd>
					The
					<a href="https://mdm1.sharepoint.com/directions/dsp/SitePages/Guides.aspx" target="_blank">
						Healthcare project planning
						<i class="fa fa-external-link"></i>
					</a>

					 offers MdM project
					players a method of planning that is in line with
					the values reaffirmed and specified in that statement –
					to provide care and cure, to bear witness and advocate,
					and to support communities seeking social change.
				</dd>

				<dt>Toolbox for healthcare project planning</dt>
				<dd>
					This
					<a href="https://mdm1.sharepoint.com/directions/doi/s2ap/biblio/Pages/Toolkit.aspx" target="_blank">
						toolbox
						<i class="fa fa-external-link"></i>
					</a>
					contains multiple tools, mostly Excel-based in order to help you
					formalizing your project's planning.
				</dd>

				<dt>DSP's Monitoring library</dt>
				<dd>
					This
					<a href="https://mdm1.sharepoint.com/directions/dsp/SitePages/Monitoring.aspx">
						library
						<i class="fa fa-external-link"></i>
					</a>
					contains fact sheets, training documents and position papers connected
					with monitoring and maintained by the DSP department.
				</dd>
			</dl>
		</div>

	</div>
	<div class="col-md-4">

		<legend>
			<i class="pull-right fa fa-file-excel-o"></i>
			Other tools
		</legend>

		<div class="project-content-inner">
			<dl>
				<dt>Indicator's summary</dt>
				<dd>
					Available in the
					<a href="https://mdm1.sharepoint.com/:u:/r/directions/dsp/Documents%20partages/MdM_essential%20document%20MONITORING_EN.7z">
						essentials documents for monitoring archive
						<i class="fa fa-download"></i>
					</a>,
					this tool centralize for all of your indicators the "when", "how", "where", "by whom" and "for whom" the data that you handle should be collected and analized.
				</dd>

				<dt>Dataflow chart</dt>
				<dd>
					In the same archive, this tool schematize the path that your data follows, from the form that was used to collect it, to the report or decision making that it enabled.
				</dd>
			</dl>
		</div>
	</div>
</div>
