

/*https://www.gv.com/portfolio/*/
textarea {
	resize: vertical;
}

.indicator-level-1, .indicator-level-2, .indicator-level-3 {
	border: solid #ccc;
	border-width: 1px;
	padding: 5px 0 0 5px;
	border-radius: 3px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.indicator-header {
	margin-bottom: 5px;
  margin-right: 10px;
}

.indicator-level-1 {
	margin-left: 0px;
  margin-right: 10px;
	background-color: white;
}

.indicator-level-2 {
	margin-left: 40px;
  margin-right: 10px;
	background-color: #f8f8f8;

}

.indicator-level-3 {
	margin-left: 40px;
	background-color: #f0f0f0;
}

.indicator-level-3 .pull-right {
  margin: 0 10px;
  position: relative;
  top: -3px;
}

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}



.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.invert.input-group .form-control {
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-btn.square button {
	border-radius: 0;
	border-right-width: 0;
}

  table.project-reporting {
    font-size: 12px;
  }

  table.project-reporting label {
    font-weight: normal;
  }

  table.project-reporting .section, table.project-reporting .section a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }

  table.project-reporting .indent1 {
    padding-left: 25px !important;
  }

  table.project-reporting .indent2 {
    padding-left: 50px !important;
  }





      .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
      .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
      .panel-collapse>.list-group {margin-bottom: 0;}
      .panel-collapse .list-group-item {border-radius:0;}

      .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
      .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

      .panel-collapse div.list-group div.list-group{margin: 0;}
      .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}


.ta-toolbar {
  display: none;
}

.ta-toolbar.focussed {
  display: block;
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
  min-height: 0;
  
}
.ta-scroll-window > .ta-bind {
  min-height: 0;
}


.show-on-hover {
  height: 10px;
  /*text-align: center;*/
  overflow: hidden;
  transition: height .5s;
}

.show-on-hover button {
  margin: 10px 5px;
  opacity: 0;
  display: inline;
  transition: opacity .25s;
}

.show-on-hover:hover {
  height: 50px;
  transition: height .5s;
}

.show-on-hover:hover button {
  opacity: 1;
  transition: opacity .25s;
  transition-delay: .25s
}

report-preview .table {
  margin-bottom: 0;
}


.print { display: none;}
.main-content { padding-top: 70px; }


ul>.onrollover {
  display: none;
}
ul:hover>.onrollover {
  display: list-item;
}

@media print {
  .noprint { display: none; }
  .print-only { display: block !important; }
  .print-full-width { width: 100% !important; }

  .main-content { padding-top: 0; }
  .c3-tooltip-container { display: none !important; }




}


tr.indent1 > td:first-child { padding-left: 50px; }
tr.indent2 > td:first-child { padding-left: 100px; }
tr.indent3 > td:first-child { padding-left: 150px; }





  .table-raw-data th {
    width: 25%;
  }

  .table-raw-data .remove-action {
    display: none;
  }

  .table-raw-data li:hover > .remove-action, .table-raw-data td:hover > .remove-action {
    display: inline;
    cursor: hand;
  }

  .table-raw-data span[contenteditable] {
    display: inline-block;
    min-width: 100px;
  }

  .table-raw-data td:hover span[contenteditable] {
    border: 1px dashed #ccc;
    margin: 3px;
  }
