<ol class="breadcrumb">
	<li ng-if="$root.userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="project.pivot_table"></li>
</ol>


<select-indicator
	project="$ctrl.project"
	cc-indicators="$ctrl.ccIndicators"
	on-update="$ctrl.onIndicatorUpdated(indicator, logicalFramework)"></select-indicator>

<olap-dimensions
	project="$ctrl.project"
	indicator="$ctrl.indicator"
	on-update="$ctrl.onDimensionsUpdated(dimensions)"></olap-dimensions>

<indicator-filter
	project="$ctrl.project"
	indicator="$ctrl.indicator"
	logical-framework="$ctrl.logicalFramework"
	on-update="$ctrl.onFilterUpdated(filter)"></indicator-filter>

<div ng-if="$ctrl.indicator">
	<span ng-if="$ctrl.indicator.baseline !== null">
		Baseline: {{$ctrl.indicator.baseline}}{{$ctrl.indicator|indicatorUnit}}
	</span>
	<span ng-if="$ctrl.indicator.target !== null">
		Target: {{$ctrl.indicator.target}}{{$ctrl.indicator|indicatorUnit}}
	</span>
</div>

<olap-grid
	project="$ctrl.project"
	indicator="$ctrl.indicator"
	dimensions="$ctrl.dimensions"
	filter="$ctrl.filter"
	data="$ctrl.data"></olap-grid>
