
<ng-form name="formulaForm">
	<table class="table table-bordered table-condensed formula" ng-class="{error: formulaForm.$invalid}">
		<tr>
			<td style="width: 250px" translate="indicator.formula"></td>
			<td acl-has-role="indicator" acl-fallback="formula.expression">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="formula.expression" expression placeholder="{{'indicator.formula_expression_ph'|translate}}" />

					<span class="input-group-btn">
						<button class="btn btn-danger" ng-click="delete()" translate="shared.remove"></button>
					</span>
				</div>
			</td>
		</tr>
		<tr ng-repeat="(symbol, parameter) in formula.parameters">
			<td>{{'indicator.parameter'|translate}} <strong>"{{symbol}}"</strong></td>
			<td acl-has-role="indicator" acl-fallback="parameter.name">
				<div class="form-group">
					<label class="col-sm-2 control-label" translate="shared.name"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="parameter.name" required placeholder="" />
					</div>
				</div>
			</td>
		</tr>
	</table>
</ng-form>
