<ol class="breadcrumb">
	<li><a ui-sref="main.indicators" translate="shared.indicators"></a></li>
	<li class="active">{{indicator.name[language]}}</li>
</ol>

<doc-reminder pages="general.translation,indicators.presentation_indicator,indicators.completeness,indicators.operation_modes,indicators.computation"></doc-reminder>

<form class="form-horizontal" role="form" name="indicatorForm" novalidate>
	<fieldset>
		<legend translate="indicator.metadata"></legend>

		<div class="form-group">
			<label for="input-themes" class="col-sm-2 control-label" translate="indicator.themes"></label>
			<div class="col-sm-10">
				<ui-select id="input-themes" multiple ng-model="indicator.themes" name="themes" theme="bootstrap" required acl-has-role="indicator">
					<ui-select-match placeholder="{{'indicator.select_themes'|translate}}">{{$item.name[language]}}</ui-select-match>
					<ui-select-choices repeat="theme._id as theme in themes">{{theme.name[language]}}</ui-select-choices>
				</ui-select>

				<p class="form-control-static" acl-lacks-role="indicator">{{indicator.themes|getObjects:themes|pluck:'name'|pluck:language|join:', '}}</p>
			</div>
		</div>

		<div class="form-group">
			<label for="input-types" class="col-sm-2 control-label" translate="indicator.types"></label>

			<div class="col-sm-10">
				<ui-select id="input-types" multiple ng-model="indicator.types" name="types" theme="bootstrap" required acl-has-role="indicator">
					<ui-select-match placeholder="{{'indicator.select_types'|translate}}">{{$item.name[language]}}</ui-select-match>
					<ui-select-choices repeat="type._id as type in types">{{type.name[language]}}</ui-select-choices>
				</ui-select>

				<p class="form-control-static" acl-lacks-role="indicator">{{indicator.types|getObjects:types|pluck:'name'|pluck:language|join:', '}}</p>
			</div>
		</div>

		<div class="form-group">
			<label for="input-operation" class="col-sm-2 control-label" translate="indicator.operation"></label>
			<div class="col-sm-10" acl-has-role="indicator" acl-fallback="('indicator.is_'+indicator.operation)|translate">
				<select id="input-operation" class="form-control" ng-model="indicator.operation">
					<option value="mandatory" translate="indicator.is_mandatory"></option>
					<option value="recommended" translate="indicator.is_recommended"></option>
					<option value="common" translate="indicator.is_common"></option>
					<option value="forbidden" translate="indicator.is_forbidden"></option>
				</select>
			</div>
		</div>

		<div class="form-group" ng-if="indicator.operation != 'parameter'">
			<label for="input-target" class="col-sm-2 control-label" translate="indicator.target"></label>
			<div class="col-sm-10" acl-has-role="indicator" acl-fallback="('indicator.' + indicator.target)|translate">
				<select id="input-target" class="form-control" ng-model="indicator.target">
					<option value="lower_is_better" translate="indicator.lower_is_better"></option>
					<option value="higher_is_better" translate="indicator.higher_is_better"></option>
					<option value="around_is_better" translate="indicator.around_is_better"></option>
					<option value="non_relevant" translate="indicator.non_relevant"></option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="input-unit" class="col-sm-2 control-label" translate="indicator.unit"></label>
			<div class="col-sm-10" acl-has-role="indicator" acl-fallback="indicator.unit">
				<select id="input-unit" name="unit" ng-model="indicator.unit" class="form-control">
					<option value="" translate="indicator.other"></option>
					<option value="%" translate="indicator.percent"></option>
					<option value="‰" translate="indicator.permille"></option>
				</select>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend translate="indicator.definition"></legend>

		<table class="table table-stripped table-condensed table-bordered">
			<thead>
				<tr>
					<th style="width: 10%"></th>
					<th ng-repeat="(code, language) in languages" translate="{{'menu.' + language}}" style="width: 30%"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{'indicator.name_ph'|translate}}">
						{{'shared.name'|translate}}
					</td>
					<td ng-repeat="(code, language) in languages">
						<textarea style="display: block; width: 100%; height: 100%" ng-model="indicator.name[code]"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{'indicator.standard_ph'|translate}}">
						{{'indicator.standard'|translate}}
					</td>
					<td ng-repeat="(code, language) in languages">
						<textarea style="display: block; width: 100%; height: 100%" ng-model="indicator.standard[code]"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{'indicator.sources_ph'|translate}}">
						{{'indicator.sources'|translate}}
					</td>
					<td ng-repeat="(code, language) in languages">
						<textarea style="display: block; width: 100%; height: 100%" ng-model="indicator.sources[code]"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{'indicator.comments_ph'|translate}}">
						{{'indicator.comments'|translate}}
					</td>
					<td ng-repeat="(code, language) in languages">
						<textarea style="display: block; width: 100%; height: 100%" ng-model="indicator.comments[code]"></textarea>
					</td>
				</tr>
			</tbody>
		</table>

	</fieldset>

	<fieldset>
		<legend translate="indicator.computation"></legend>

		<div class="form-group">
			<label for="name" class="col-sm-2 control-label" translate="indicator.formulas"></label>
			<div class="col-sm-10">
				<div formula="formula" id="formulaId" ng-repeat="(formulaId, formula) in indicator.formulas"></div>

				<button class="btn btn-default" ng-click="addFormula()" acl-has-role="indicator">
					<i class="fa fa-plus"></i>
					<span translate="indicator.add_formula"></span>
				</button>
			</div>
		</div>
	</fieldset>

	<div class="pull-right" acl-has-role="indicator">
		<button class="btn btn-primary" ng-disabled="indicatorForm.$invalid || isUnchanged()" ng-click="save()">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</button>

		<button class="btn btn-default" ng-disabled="isUnchanged()" ng-click="reset()">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</button>
	</div>
</form>
