
<div ng-form name="formulaForm">
	<table class="table table-bordered table-condensed">
		<thead>
			<td></td>
			<th ng-repeat="(code, language) in languages" translate="{{'menu.' + language}}" style="width: 30%"></th>
		</thead>

		<tbody>
			<tr>
				<td translate="indicator.formula"></td>
				<td acl-has-role="indicator" acl-fallback="formula.expression" colspan="3">

					<div class="input-group" style="width: 100%">
						<input type="text" class="form-control" ng-model="formula.expression" expression placeholder="{{'indicator.formula_expression_ph'|translate}}" />

						<span class="input-group-btn">
							<a class="btn btn-danger" ng-click="delete()" translate="shared.remove"></a>
						</span>
					</div>
				</td>
			</tr>
			<tr ng-repeat="(symbol, parameter) in formula.parameters">
				<td>{{'indicator.parameter'|translate}} <strong>"{{symbol}}"</strong></td>
				<td acl-has-role="indicator" acl-fallback="parameter[code]" ng-repeat="(code, language) in languages">
					<div class="input-group">
						<textarea type="text" class="form-control" ng-model="parameter[code]" required placeholder="{{translations[code].indicator.param_name_ph}}"></textarea>
						<span class="input-group-addon">
							<div dropdown>
								<span id="single-button" dropdown-toggle>
									<i class="fa fa-language"></i>
								</span>

								<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="single-button">
									<li ng-class="{disabled:!parameter[codeInner]}" role="menuitem" ng-repeat="(codeInner, languageInner) in languages" ng-if="code != codeInner">
										<a ng-click="translate(symbol, code, codeInner)">{{('indicator.translate_from_' + codeInner)|translate}}</a>
									</li>
								</ul>
							</div>
						</span>
					</div>

				</td>
			</tr>
		</tbody>
	</table>
</div>
