

<ol class="breadcrumb">
	<li class="active" translate="indicator.cross_cutting"></li>
</ol>

<div>
	<div class="panel panel-default indicator-panel" ng-repeat="indicator in indicators|orderBy:getName">
		<div class="panel-heading">
			<div class="panel-title">{{indicator.name[language]}}</div>
		</div>
		<div class="panel-body">
			<i class="fa fa-circle "
			   tooltip="theme.name[language]"
			   style="margin-right: 3px"
			   ng-repeat="theme in indicator.themes|getObjects:themes"
			   ng-class="theme.class">

				{{theme.name[language]}}
			</i>

			<div>{{indicator.description[language]}}</div>
			
			<a ui-sref="main.indicator_reporting({indicatorId: indicator._id})" class="btn btn-xxs btn-default">
				voir les statistiques
			</a>
	  </div>
	</div>
</div>

