<ol class="breadcrumb">
	<li class="active" translate="shared.indicators"></li>
	<li class="active" translate="shared.list"></li>
</ol>

<div class="form-horizontal">
	<div class="form-group">
		<label for="search-input" class="col-sm-1" translate="indicator.search"></label>
		<div class="col-sm-3">
			<input id="search-input" type="text" ng-model="searchField" class="form-control input-sm" placeholder="{{'indicator.search_ph'|translate}}"/>
		</div>
	</div>
</div>

<div class="indicator-level-1" ng-repeat="theme in hierarchy|hierarchyFilter:searchField">
	<div class="indicator-header" ng-click="theme.open=!theme.open">
		<i class="fa" ng-class="{'fa-plus-circle':!theme.open,'fa-minus-circle':theme.open}"></i>
		{{theme.name || ('indicator.no_theme'|translate)}}
		<span class="badge pull-right" ng-bind="theme.children.length"></span>
	</div>

	<div class="indicator-level-2" ng-repeat="type in theme.children" ng-if="theme.open">
		<div class="indicator-header" ng-click="type.open=!type.open">
			<i class="fa" ng-class="{'fa-plus-circle':!type.open,'fa-minus-circle':type.open}"></i>
			{{type.name || ('indicator.no_type'|translate)}}
			<span class="badge pull-right" ng-bind="type.children.length"></span>
		</div>

		<div class="indicator-level-3" ng-repeat="indicator in type.children" ng-if="type.open">
			<span class="pull-right">
				{{::indicator.__usage}} <i class="fa fa-building-o"></i>

				<a class="btn btn-xs btn-default"
				   ui-sref="main.indicator.reporting({indicatorId: indicator._id})"
				   ng-if="indicator.__usage"
				   translate="shared.reporting"></a>

				<a class="btn btn-xs btn-default"
				   ui-sref="main.indicator.edit({indicatorId: indicator._id})"
				   acl-has-role="indicator"
				   translate="shared.edit"></a>

				<a class="btn btn-xs btn-default"
				   ui-sref="main.indicator.edit({indicatorId: indicator._id})"
				   acl-lacks-role="indicator"
				   translate="shared.display"></a>
			</span>

			<i class="fa fa-ban fa-fw"
				ng-if="indicator.operation == 'parameter'"
				tooltip="{{'indicator.is_parameter'|translate}}"
				tooltip-placement="right"></i>

			<i class="fa fa-question fa-fw"
				ng-if="indicator.operation == 'common'"
				tooltip="{{'indicator.is_common'|translate}}"
				tooltip-placement="right"></i>

			<i class="fa fa-book fa-fw"
				ng-if="indicator.operation == 'recommended'"
				tooltip="{{'indicator.is_recommended'|translate}}"
				tooltip-placement="right"></i>

			<i class="fa fa-asterisk fa-fw"
				ng-if="indicator.operation == 'mandatory'"
				tooltip="{{'indicator.is_mandatory'|translate}}"
				tooltip-placement="right"></i>
			
			{{::indicator.name}}
		</div>
	</div>
</div>

<a class="btn btn-default" ui-sref="main.indicator.edit({indicatorId: 'new'})" acl-has-role="indicator">
	<i class="fa fa-plus"></i>
	<span translate="indicator.create_new"></span>
</a>
