<doc-reminder pages="indicators.indicator_usage"></doc-reminder>

<a class="btn btn-primary pull-right" ui-sref="main.indicator.edit({indicatorId: 'new'})" acl-has-role="indicator">
	<i class="fa fa-plus"></i>
	<span translate="indicator.create_new"></span>
</a>

<div acl-lacks-role="indicator" class="pull-right" tooltip="{{'indicator.cant_create'|translate}}" tooltip-placement="left" style="cursor: not-allowed">
	<a class="btn btn-primary disabled">
		<i class="fa fa-plus"></i>
		<span translate="indicator.create_new"></span>
	</a>
</div>

<div class="form-horizontal">
	<div class="form-group">
		<label for="search-input" class="col-sm-1" translate="indicator.search"></label>
		<div class="col-sm-3">
			<input id="search-input" type="text" ng-model="searchField" class="form-control input-sm" placeholder="{{'indicator.search_ph'|translate}}"/>
		</div>
	</div>
</div>

<div class="indicator-level-1" ng-repeat="theme in hierarchy|hierarchyFilter:searchField">
	<div class="indicator-header" ng-click="theme.open=!theme.open">
		<i fa-open="theme.open"></i>
		{{theme.name[language] || ('indicator.no_theme'|translate)}}
		<span class="badge pull-right" ng-bind="theme.children.length"></span>
	</div>

	<div class="indicator-level-2" ng-repeat="type in theme.children" ng-if="theme.open">
		<div class="indicator-header" ng-click="type.open=!type.open">
			<i fa-open="type.open"></i>
			{{type.name[language] || ('indicator.no_type'|translate)}}
			<span class="badge pull-right" ng-bind="type.children.length"></span>
		</div>

		<div class="indicator-level-3" ng-repeat="indicator in type.children" ng-if="type.open">
			<span class="pull-right">
				
				<span class="label label-default" tooltip="{{'indicator.num_collecting_projects'|translate}}">{{indicator.__usage}}</span>

				<a class="btn btn-xs btn-default"
				   ui-sref="main.indicator.reporting({indicatorId: indicator._id})"
				   ng-if="indicator.__usage"
				   translate="shared.reporting"></a>

				<a class="btn btn-xs btn-default"
				   ui-sref="main.indicator.edit({indicatorId: indicator._id})"
				   acl-has-role="indicator"
				   translate="shared.edit"></a>

				<a class="btn btn-xs btn-default"
				   ui-sref="main.indicator.edit({indicatorId: indicator._id})"
				   acl-lacks-role="indicator"
				   translate="shared.display"></a>
			</span>

			<indicator-operation indicator="indicator"></indicator-operation>
			<span>{{indicator.name[language]}}</span>
		</div>
	</div>
</div>
