<ol class="breadcrumb">
	<li><a ui-sref="main.indicators" translate="shared.indicators"></a></li>
	<li><a ui-sref="main.indicator.edit" ng-bind="indicator.name[language]"></a></li>
	<li class="active" translate="shared.reporting"></li>
</ol>

<doc-reminder pages="indicators.indicator_reporting"></doc-reminder>

<form class="form-horizontal noprint" novalidate>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate="shared.start"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text" 
							   datepicker-popup="longDate"
							   name="start"
							   ng-model="filters._start"
							   is-open="startDateOpen"
							   ng-click="startDateOpen = true"
							   required
							   ng-max="filters._end"
							   class="form-control input-sm" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label" translate="shared.end"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text" 
							   datepicker-popup="longDate"
							   name="end"
							   ng-model="filters._end"
							   is-open="endDateOpen"
							   ng-click = "endDateOpen = true"
							   ng-min="filters._start"
							   class="form-control input-sm"
							   required />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="group-by-input" class="col-sm-2 control-label" translate="shared.columns"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-columns"></i></span>
						<select class="form-control input-sm" id="group-by-input" ng-model="groupBy">
							<option value="day" translate="shared.day"></option>
							<option value="week" translate="shared.week"></option>
							<option value="month" translate="shared.month"></option>
							<option value="quarter" translate="shared.quarter"></option>
							<option value="year" translate="shared.year"></option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


<button class="btn btn-primary btn-xs pull-right noprint" svg-save>
	<i class="fa fa-download"></i>
	<span translate="shared.download_plot"></span>
</button>
<div style="clear: both"></div>

<reporting-graph-adapter
	type="['year', 'quarter', 'month', 'week', 'day'].indexOf(groupBy) !== -1 ? 'line' : 'bar'"
	rows="rows" cols="cols" plots="plots">
</reporting-graph-adapter>

<div style="clear: both"></div>

<button class="btn btn-primary btn-xs pull-right noprint" csv-save style="margin-bottom: 10px;">
	<i class="fa fa-download"></i>
	<span translate="shared.download_table"></span>
</button>

<table id="reporting" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th class="noprint"></th>
			<th></th>
			<th translate="project.baseline"></th>
			<th translate="project.target"></th>
			<th ng-repeat="col in cols track by col.id" ng-bind="col.name"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rows track by $index">
			<td class="noprint" style="text-align: center">
				<input id="{{row.id}}" type="checkbox" ng-model="plots[row.id]" ng-if="row.cols" />
			</td>
			<td class="indent{{row.indent}}">
				<label for="{{row.id}}">{{row.project}}</label><br/>
				<small>{{row.name}}</small>
			</td>
			<td>{{row.baseline}}</td>
			<td>{{row.target}}</td>
			<td ng-repeat="col in row.cols track by $index" indicator-reporting-field></td>
			<td ng-if="!row.cols" colspan="{{cols.length}}" style="background-color: rgb(238, 238, 238);"></td>


		</tr>
	</tbody>
</table>

