<div>
	<div id="formblock" ui-view></div>

	<div id="saveblock" class="noprint">

		<div class="pull-right">
			<p class="text-danger" ng-if="formContainer.currentForm.$invalid">
				<i class="fa fa-exclamation-triangle"></i>
				<span translate="project.form_error"></span>
			</p>

			<p class="text-info" ng-if="!projectChanged && masterProject._rev">
				<i class="fa fa-info-circle"></i>
				<span translate="project.form_persisted"></span>
			</p>

			<p class="text-warning" ng-if="projectChanged && !formContainer.currentForm.$invalid">
				<i class="fa fa-exclamation-triangle"></i>
				<span translate="project.form_changed"></span>
			</p>
		</div>

		<a ng-disabled="!projectSavable || projectSaveRunning" class="btn btn-primary" ng-click="save()">
			<i class="fa fa-floppy-o" ng-if="!projectSaveRunning"></i>
			<i class="fa fa-circle-o-notch fa-spin" ng-if="projectSaveRunning"></i>

			<span translate="shared.save"></span>
		</a>

		<a ng-click="reset()" ng-disabled="!projectChanged || projectSaveRunning" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</a>

	</div>
</div>
