
<div class="form-group">

	<label for="raw-{{variable.id}}" class="col-sm-2 control-label">
		{{variable.name}}<br/>

		<div class="btn-group btn-group-xs" ng-if="variable.partitions.length > 1">
			<button ng-click="rotate(-1)" class="btn btn-default"><i class="fa fa-caret-left"></i></button>
			<button class="btn btn-default" disabled>{{rotation + 1}}</button>
			<button ng-click="rotate(1)" class="btn btn-default"><i class="fa fa-caret-right"></i></button>
		</div>
	</label>

	<!-- This is the strangest thing. Remove ng-if="1" breaks everything! (HOT ignores settings...) -->
	<div class="col-sm-10" ng-if="1">
		<hot-table settings="settings" datarows="tableRows"></hot-table>
	</div>
</div>
