<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="project.collection_input_list"></li>
</ol>

<doc-reminder pages="project.input"></doc-reminder>

<p ng-if="canEdit">
	<input type="checkbox" ng-model="$parent.showFinished" id="show-finished"/>
	<label for="show-finished" translate="project.show_finished"></label>
</p>

<ul class="nav nav-tabs" role="tablist">
	<li ng-repeat="form in project.forms" ng-class="{active: form.id == selectedForm.id}">
		<a ng-click="$parent.selectedForm = form">
			{{form.name}}&nbsp;
		</a>
	</li>
</ul>

<br/>

<style> td { text-align: center; } td a { display: block; width: 100%;}</style>


<div style="overflow: auto">

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th ng-style="{width: (100 / numCols[selectedForm.id]) + '%'}" translate="project.date_due"></th>
				<th ng-style="{width: (100 / numCols[selectedForm.id]) + '%'}" ng-if="showColumn[selectedForm.id].none" translate="shared.project"></th>
				<th ng-style="{width: (100 / numCols[selectedForm.id]) + '%'}" ng-if="showColumn[selectedForm.id][entity.id]" ng-repeat="entity in project.entities">{{entity.name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(date, status) in inputsStatus[selectedForm.id]">
				<th>{{date}}</th>
				<td ng-if="showColumn[selectedForm.id].none">
					<a class="btn btn-xs"
					   ng-class="{'btn-default': status.none === 'done', 'btn-primary': status.none === 'expected', 'btn-danger': status.none === 'outofschedule'}"
					   ui-sref="main.project.collection_input_edition({period: date, formId: selectedForm.id, entityId: 'none'})"
					   ng-if="status.none">
						{{('project.input_status.' + status.none + (canEdit.none ? '-edit' : '-read')) | translate}}
					</a>
				</td>
				<td ng-if="showColumn[selectedForm.id][entity.id]" ng-repeat="entity in project.entities">
					<a class="btn btn-xs"
					   ng-class="{'btn-default': status[entity.id] === 'done', 'btn-primary': status[entity.id] === 'expected', 'btn-danger': status[entity.id] === 'outofschedule'}"
					   ui-sref="main.project.collection_input_edition({period: date, formId: selectedForm.id, entityId: entity.id})"
					   ng-if="status[entity.id]">
						{{('project.input_status.' + status[entity.id] + (canEdit[entity.id] ? '-edit' : '-read')) | translate}}
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot ng-if="selectedForm.periodicity == 'free'">
			<tr>
				<th>
					<input type="text" 
						   datepicker-popup="longDate"
						   name="date"
						   ng-model="newInputDate"
						   is-open="dateOpen"
						   ng-click = "dateOpen = true"
						   required
						   class="form-control" />
				</th>
				<td ng-if="showColumn[selectedForm.id].none">
					<a class="btn btn-xs btn-primary" ng-click="addInput('none')">
						{{('project.input_status.expected' + (canEdit.none ? '-edit' : '-read')) | translate}}
					</a>
				</td>
				<td ng-if="showColumn[selectedForm.id][entity.id]" ng-repeat="entity in project.entities">
					<a class="btn btn-xs btn-primary" ng-click="addInput(entity.id)">
						{{('project.input_status.expected' + (canEdit[entity.id] ? '-edit' : '-read')) | translate}}
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
