<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="project.collection_input_list"></li>
</ol>

<doc-reminder pages="project.input"></doc-reminder>

<p ng-if="canEdit">
	<input type="checkbox" ng-model="$parent.showFinished" id="show-finished"/>
	<label for="show-finished" translate="project.show_finished"></label>
</p>

<ul class="nav nav-tabs" role="tablist">
	<li ng-repeat="form in project.forms" ng-class="{active: form.id == selectedForm.id}">
		<a ng-click="$parent.selectedForm = form">
			{{form.name}}&nbsp;
		</a>
	</li>
</ul>

<br/>

<style> td { text-align: center; } td a { display: block;width: 100%;}</style>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th ng-style="{width: (100 / numCols) + '%'}" translate="project.date_due"></th>
			<th ng-style="{width: (100 / numCols) + '%'}" ng-if="showProject" translate="shared.project"></th>
			<th ng-style="{width: (100 / numCols) + '%'}" ng-if="showEntities" ng-repeat="entity in project.entities">{{entity.name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(date, status) in inputsStatus[selectedForm.id]">
			<th>{{date}}</th>
			<td ng-if="showProject">
				<a class="btn btn-xs"
				   ng-class="{'btn-default': status.none === 'done', 'btn-primary': status.none === 'expected', 'btn-danger': status.none === 'outofschedule'}"
				   ui-sref="main.project.collection_input_edition({period: date, formId: selectedForm.id, entityId: 'none'})"
				   ng-if="status.none">
					{{('project.input_status.' + status.none + (canEdit ? '-edit' : '-read')) | translate}}
				</a>
			</td>
			<td ng-if="showEntities" ng-repeat="entity in project.entities">
				<a class="btn btn-xs"
				   ng-class="{'btn-default': status[entity.id] === 'done', 'btn-primary': status[entity.id] === 'expected', 'btn-danger': status[entity.id] === 'outofschedule'}"
				   ui-sref="main.project.collection_input_edition({period: date, formId: selectedForm.id, entityId: entity.id})"
				   ng-if="status[entity.id]">
					{{('project.input_status.' + status[entity.id] + (canEdit ? '-edit' : '-read')) | translate}}
				</a>
 			</td>
		</tr>
	</tbody>
</table>
