<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="project.collection_site_list"></li>
</ol>

<doc-reminder pages="project.presentation_project,project.entities_groups,project.change_definition"></doc-reminder>

<form name="projectForm" novalidate>
	
	<legend translate="project.collection_site_list"></legend>

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th translate="project.entity_name"></th>
				<th style="width: 90px" acl-has-project-role="owner"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="!project.entities.length">
				<td colspan="2" style="text-align: center" translate="project.no_input_entities"></td>
			</tr>
			<tr ng-repeat="inputEntity in project.entities track by inputEntity.id">
				<td acl-has-project-role="owner" acl-fallback="inputEntity.name">
					<ng-form name="center">
						<div class="form-group" show-errors style="margin: 0">
							<input type="text"
								   name="name"
								   ng-model="inputEntity.name"
								   class="form-control input-sm"
								   placeholder="{{'project.entity_name_placeholder'|translate}}"
								   required />
						</div>
					</ng-form>
				</td>
				<td style="text-align: right" acl-has-project-role="owner">
					<a class="btn btn-default btn-sm" ng-click="up($index, project.entities)" ng-if="!$first" tooltip="{{'shared.up'|translate}}">
						<i class="fa fa-caret-square-o-up"></i>
					</a>
					<a class="btn btn-default btn-sm" ng-click="down($index, project.entities)" ng-if="!$last" tooltip="{{'shared.down'|translate}}">
						<i class="fa fa-caret-square-o-down"></i>
					</a>
					<a class="btn btn-danger btn-sm" ng-click="deleteEntity(inputEntity.id)" tooltip="{{'shared.delete'|translate}}">
						<i class="fa fa-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot acl-has-project-role="owner">
			<tr>
				<td colspan="3">
					<a class="btn btn-default btn-xs" ng-click="createEntity()" style="width: 100%" translate="shared.add"></a>
				</td>
			</tr>
		</tfoot>
	</table>

	<legend translate="project.groups"></legend>

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th style="width:300px" translate="project.group_name"></th>
				<th translate="shared.members"></th>
				<th style="width: 90px;" acl-has-project-role="owner"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="!project.groups.length">
				<td colspan="3" style="text-align: center" translate="project.no_input_groups"></td>
			</tr>
			<tr ng-repeat="inputGroup in project.groups track by inputGroup.id">
				<td acl-has-project-role="owner" acl-fallback="inputGroup.name">
					<ng-form name="center">
						<div class="form-group" show-errors style="margin: 0">
							<input type="text"
								   name="name"
								   placeholder="{{'project.group_name_placeholder'|translate}}"
								   ng-model="inputGroup.name"
								   class="form-control error input-sm"
								   required />
						</div>
					</ng-form>
				</td>
				<td>
					<ui-select multiple ng-model="inputGroup.members" theme="bootstrap" acl-has-project-role="owner">
						<ui-select-match placeholder="">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="inputEntity.id as inputEntity in project.entities">
							{{inputEntity.name}}
						</ui-select-choices>
					</ui-select>

					<span acl-lacks-project-role="owner">
						{{inputGroup.members | getObjects:project.entities | pluck:'name' | join:', '}}
					</span>
				</td>
				<td style="text-align: right" acl-has-project-role="owner">
					<a class="btn btn-default btn-sm" ng-click="up($index, project.groups)" ng-if="!$first" tooltip="{{'shared.up'|translate}}">
						<i class="fa fa-caret-square-o-up"></i>
					</a>
					<a class="btn btn-default btn-sm" ng-click="down($index, project.groups)" ng-if="!$last" tooltip="{{'shared.down'|translate}}">
						<i class="fa fa-caret-square-o-down"></i>
					</a>
					<a class="btn btn-danger btn-sm" ng-click="deleteGroup(inputGroup.id)" tooltip="{{'shared.delete'|translate}}">
						<i class="fa fa-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot acl-has-project-role="owner">
			<tr>
				<td colspan="3">
					<a class="btn btn-default btn-xs" ng-click="createGroup()" style="width: 100%" translate="shared.add"></a>
				</td>
			</tr>
		</tfoot>
	</table>

	<div acl-has-project-role="owner" class="noprint">
		<a ng-click="save()" ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</a>

		<a ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</a>
		
	</div>
</form>
