<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.save.basics" ng-bind="project.name"></a></li>
	<li><a ui-sref="main.project.collection_input_list" translate="project.collection_input_list"></a></li>
	<li class="active" ng-bind="form.name"></li>
	<li class="active" ng-bind="inputEntity.name" ng-if="inputEntity"></li>
	<li class="active" ng-bind="currentInput.period|date"></li>
</ol>

<doc-reminder pages="project.input" class="noprint"></doc-reminder>


<form class="form-horizontal">
	
	<div class="form-group" ng-repeat="element in form.elements">
		<label class="col-sm-2 control-label">
			<a ng-click="currentInput.values[element.id] = lastInput.values[element.id]"
			   tooltip="{{'project.fill_with_last_input' | translate}}"
			   ng-if="lastInput" class="noprint"><i class="fa fa-clipboard"></i></a>

			{{element.name}}<br/>

			<div style="margin-bottom: 5px" ng-if="element.partitions.length > 1" class="noprint">
				<span style="font-weight: normal" translate="project.field_order"></span>
				<div class="btn-group btn-group-xxs">
					<a ng-click="rotate(-1, element)" class="btn btn-default"><i class="fa fa-caret-left"></i></a>
					<a class="btn btn-default" disabled>{{rotations[element.id] + 1}}</a>
					<a ng-click="rotate(1, element)" class="btn btn-default"><i class="fa fa-caret-right"></i></a>
				</div>
			</div>

			<div style="margin-bottom: 5px" ng-if="element.partitions.length > 2" class="noprint">
				<span style="font-weight: normal" translate="project.field_distribution"></span>
				<div class="btn-group btn-group-xxs">
					<a ng-click="move(-1, element)" class="btn btn-default"><i class="fa fa-caret-left"></i></a>
					<a class="btn btn-default" disabled>
						C{{positions[element.id] + 1}}
						L{{element.partitions.length - positions[element.id] - 1}}
					</a>
					<a ng-click="move(1, element)" class="btn btn-default"><i class="fa fa-caret-right"></i></a>
				</div>
			</div>

		</label>

		<div class="col-sm-10">
			{{partitions[element.id]}}

			<input-grid ng-model="currentInput.values[element.id]"
						partitions="element.partitions"
						offset="positions[element.id]"
						rotation="rotations[element.id]"></input-grid>
		</div>
	</div>
</form>

<div ng-if="canEdit" class="noprint">
	<a class="btn btn-primary" ng-click="save()">
		<i class="fa fa-floppy-o"></i>
		<span translate="shared.save"></span>
	</a>

	<a ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.remove_changes"></span>
	</a>

	<a class="btn btn-danger" ng-click="delete()" ng-if="!isNew">
		<i class="fa fa-remove"></i>
		<span translate="shared.delete"></span>
	</a>
</div>
