<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="project.collection_form_list"></li>
</ol>

<doc-reminder pages="project.presentation_project,project.input_forms,project.change_definition,project.inputs"></doc-reminder>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th translate="shared.name"></th>
			<th translate="shared.begin"></th>
			<th translate="shared.end"></th>
			<th translate="shared.active"></th>
			<th translate="project.periodicity"></th>
			<th translate="project.collect"></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="project.dataCollection.length == 0">
			<td colspan="7" style="text-align: center" translate="project.no_forms"></td>
		</tr>
		<tr ng-repeat="form in project.dataCollection">
			<td>{{form.name}}</td>
			<td>{{form.start | amDateFormat: 'D MMMM YYYY'}}</td>
			<td>{{form.end | amDateFormat: 'D MMMM YYYY'}}</td>
			<td><i fa-boolean="form.active"></i></td>
			<td>{{'project.periodicities.' + form.periodicity|translate}}</td>
			<td>{{'project.collects.' + form.collect|translate}}</td>
			<td>
				<a class="btn btn-default btn-xs" ui-sref="main.project.collection_form_edition({formId: form.id})">
					<i class="fa fa-pencil"></i>
					<span translate="shared.edit" acl-has-project-role="owner"></span>
					<span translate="shared.display" acl-lacks-project-role="owner"></span>
				</a>
			</td>
		</tr>
	</tbody>
	<tfoot acl-has-project-role="owner">
		<tr>
			<td colspan="8">
				<button class="btn btn-default btn-xs" style="width: 100%" ui-sref="main.project.collection_form_edition({formId: 'new'})" translate="shared.add"></button>
			</td>
		</tr>
	</tfoot>
</table>

