<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li class="active" translate="project.collection_input_list"></li>
</ol>

<doc-reminder pages="project.input"></doc-reminder>

<ul class="nav nav-tabs" role="tablist">
	<li ng-repeat="form in project.forms" ng-class="{active: form.id == selectedForm.id}">
		<a ng-click="$parent.selectedForm = form">
			{{form.name}}&nbsp;
		</a>
	</li>
</ul>

<br/>

<style> td { text-align: center; } td a { display: block; width: 100%;}</style>

<div style="overflow: auto">

	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th ng-style="{width: (100 / displayInfo[selectedForm.id]._.numCols) + '%'}"
					translate="shared.date"></th>

				<th ng-style="{width: (100 / displayInfo[selectedForm.id]._.numCols) + '%'}"
					ng-if="displayInfo[selectedForm.id].none.displayColumn"
					translate="shared.project"></th>

				<th ng-style="{width: (100 / displayInfo[selectedForm.id]._.numCols) + '%'}"
					ng-if="displayInfo[selectedForm.id][entity.id].displayColumn"
					ng-repeat="entity in project.entities">{{entity.name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(date, status) in inputsStatus[selectedForm.id]">
				<th>{{date}}</th>
				<td ng-if="displayInfo[selectedForm.id].none.displayColumn">
					<a class="btn btn-xs"
					   ng-class="{'btn-default': status.none === 'done', 'btn-primary': status.none === 'expected', 'btn-danger': status.none === 'outofschedule'}"
					   ui-sref="main.project.collection_input_edition({period: date, formId: selectedForm.id, entityId: 'none'})"
					   ng-if="status.none">
						{{('project.input_status.' + status.none + (displayInfo[selectedForm.id].none.canEdit ? '-edit' : '-read')) | translate}}
					</a>
				</td>
				<td ng-if="displayInfo[selectedForm.id][entity.id].displayColumn" ng-repeat="entity in project.entities">
					<a class="btn btn-xs"
					   ng-class="{'btn-default': status[entity.id] === 'done', 'btn-primary': status[entity.id] === 'expected', 'btn-danger': status[entity.id] === 'outofschedule'}"
					   ui-sref="main.project.collection_input_edition({period: date, formId: selectedForm.id, entityId: entity.id})"
					   ng-if="status[entity.id]">
						{{('project.input_status.' + status[entity.id] + (displayInfo[selectedForm.id][entity.id].canEdit ? '-edit' : '-read')) | translate}}
					</a>
				</td>
			</tr>

			<tr ng-hide="inputsStatus[selectedForm.id]">
				<td style="text-align: center" colspan="{{displayInfo[selectedForm.id]._.numCols}}" translate="project.no_inputs"></td>
			</tr>
		</tbody>
		<tfoot ng-if="displayInfo[selectedForm.id]._.displayFooterRow">
			<tr>
				<th>
					<input type="text"
						   datepicker-popup="longDate"
						   ng-model="newInputDate.date"
						   is-open="dateOpen"
						   ng-click="dateOpen=true"
						   required
						   class="form-control" />
				</th>
				<td ng-if="displayInfo[selectedForm.id].none.displayColumn">
					<a class="btn btn-xs btn-success"
					   ng-click="addInput('none')"
					   translate="project.input_status.expected-edit-new"
					   ng-if="displayInfo[selectedForm.id].none.displayAddButton"></a>
				</td>
				<td ng-if="displayInfo[selectedForm.id][entity.id].displayColumn" ng-repeat="entity in project.entities">
					<a class="btn btn-xs btn-success"
					   ng-click="addInput(entity.id)"
					   translate="project.input_status.expected-edit-new"
					   ng-if="displayInfo[selectedForm.id][entity.id].displayAddButton"></a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

