<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.basics" ng-bind="project.name"></a></li>
	<li><a ui-sref="main.project.collection_form_list" translate="project.collection_form_list"></a></li>
	<li class="active">{{form.name}}</li>
</ol>

<doc-reminder pages="project.structure,project.change_definition"></doc-reminder>

<div class="alert alert-danger noprint" ng-if="formUsage.length" acl-has-project-role="owner">
	 <span ng-bind-html="'project.collection_form_warning'|translate:{num_inputs:formUsage.length}"></span>
</div>

<form class="form-horizontal" role="form" name="formForm" novalidate>
	
	<legend translate="project.collection_form_planning"></legend>

	<div class="form-group" show-errors>
		<label for="input-name" class="col-sm-2 control-label" translate="shared.name"></label>
		<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="form.name">
			<input type="text"
				   class="form-control"
				   id="input-name"
				   name="name"
				   ng-model="form.name"
				   placeholder="{{'project.form_name_ph'|translate}}"
				   required />
			
			<p class="help-block" ng-if="formForm.name.$error.required" translate="form.mandatory"></p>
		</div>
	</div>

	<div class="form-group">
		<label for="collect-input" class="col-sm-2 control-label" translate="project.collect"></label>
		<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="('project.collects.'+form.collect)|translate">
			<select class="form-control" name="collect" id="collect-input" ng-model="form.collect">
				<option value="entity" translate="project.collects.entity"></option>
				<option value="project" translate="project.collects.project"></option>
			</select>
		</div>
	</div>		

	<div class="form-group">
		<label for="periodicity-input" class="col-sm-2 control-label" translate="project.periodicity"></label>
		<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="('project.periodicities.'+form.periodicity)|translate">
			<select class="form-control" name="periodicity" id="periodicity-input" ng-model="form.periodicity">
				<option value="day" translate="project.periodicities.day"></option>
				<option value="week" translate="project.periodicities.week"></option>
				<option value="month" translate="project.periodicities.month"></option>
				<option value="quarter" translate="project.periodicities.quarter"></option>
				<option value="year" translate="project.periodicities.year"></option>
				<option value="free" translate="project.periodicities.free"></option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="form.periodicity !== 'free'">
		<label for="periodicity" class="col-sm-2 control-label" translate="shared.begin"></label>
		<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="(form.start || project.begin)|amDateFormat:'YYYY-MM-DD'">
			<optional-date ng-model="form.start" default="project.begin"></optional-date>
		</div>
	</div>

	<div class="form-group" ng-if="form.periodicity !== 'free'">
		<label for="periodicity" class="col-sm-2 control-label" translate="shared.end"></label>
		<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="(form.end || project.end)|amDateFormat:'YYYY-MM-DD'">
			<optional-date ng-model="form.end" default="project.end"></optional-date>
		</div>
	</div>

	<legend translate="project.collection_form_structure"></legend>

	<!-- Editable table -->
	<table class="table table-bordered table-condensed table-aggregated-data" acl-has-project-role="owner">
		<thead>
			<tr>
				<th translate="project.variable" style="width: 15%"></th>
				<th translate="project.aggregation" style="width: 15%"></th>
				<th translate="project.partitions" colspan="{{maxPartitions + 1}}" style="width: 60%"></th>
				<th colspan="2" translate="project.actions" style="width: 10%"></th>
			</tr>
		</thead>
		<tbody>
			<!-- variable row -->
			<tr ng-repeat="element in form.elements track by element.id">

				<!-- variable name -->
				<td mt-content-editable ng-model="element.name"></td>
				
				<!-- variable aggregation -->
				<td>
					{{'project.different_geos'|translate}}:
					<select ng-model="element.geoAgg">
						<option value="none" translate="project.none"></option>
						<option value="sum" translate="project.sum"></option>
						<option value="average" translate="project.average"></option>
						<option value="highest" translate="project.highest"></option>
						<option value="lowest" translate="project.lowest"></option>
						<option value="last" translate="project.last"></option>
					</select>
					
					<br/>

					{{'project.same_geos'|translate}}:
					<select ng-model="element.timeAgg">
						<option value="none" translate="project.none"></option>
						<option value="sum" translate="project.sum"></option>
						<option value="average" translate="project.average"></option>
						<option value="highest" translate="project.highest"></option>
						<option value="lowest" translate="project.lowest"></option>
						<option value="last" translate="project.last"></option>
					</select>
				</td>

				<!-- variable partitions -->
				<td ng-repeat="partition in element.partitions">
					<div class="input-group" ng-repeat="p in partition track by p.id" style="margin-bottom: 2px;">
						<input class="form-control input-xs" ng-model="p.name" required>
						<span class="input-group-addon" ng-click="remove(p, partition)">
							<i class="fa fa-fw fa-times text-danger"></i>
						</span>
					</div>

					<div class="input-group" style="margin-bottom: 2px;">
						<input class="form-control input-xs" disabled>
						<span class="input-group-addon" ng-click="newPartitionElement(partition)">
							<i class="fa fa-fw fa-plus"></i>
						</span>
					</div>

					<a class="btn btn-xs btn-danger btn-block"
					   ng-click="remPartition(partition, element.partitions)"
					   translate="project.remove_partition"></a>
				</td>
				<td>
					<a ng-click="newPartition(element.partitions)"
					   class="btn btn-xs btn-default btn-block"
					   translate="project.add_partition"></a>
				</td>
				<td colspan="{{maxPartitions - element.partitions.length}}"
					ng-if="maxPartitions - element.partitions.length > 0"></td>

				<!-- /!\  -->
				<!-- we should check the $parent magic, or use ng-init -->
				<!-- /!\  -->

				<!-- variable actions -->
				<td>
					<a ng-click="upElement($index, $parent.$parent.$index)"
					   tooltip="{{'project.variable_up'|translate}}"
					   ng-if="!$first">

						<i class="fa fa-caret-square-o-up"></i>
					</a>
					<a ng-click="downElement($index, $parent.$parent.$index)"
					   tooltip="{{'project.variable_down'|translate}}"
					   ng-if="!$last">

						<i class="fa fa-caret-square-o-down"></i>
					</a>
					<a ng-click="remove(element, form.elements)"
					   tooltip="{{'project.remove_variable'|translate}}">
					   <i class="fa fa-times" style="color: red"></i>
					</a>
				</td>
 			</tr>

 			<!-- add new variable row --> 
			<tr>
				<td colspan="{{maxPartitions + 4}}" style="text-align: center">
					<a ng-click="newVariable()" class="btn btn-xs btn-default" style="width: 100%" translate="project.add_variable"></a>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Read Only table -->
	<table class="table table-bordered table-condensed table-aggregated-data" acl-lacks-project-role="owner">
		<thead>
			<tr>
				<th translate="project.variable" style="width: 15%"></th>
				<th translate="project.aggregation" style="width: 15%"></th>
				<th translate="project.partitions" colspan="{{maxPartitions}}" style="width: 70%" ng-if="maxPartitions != 0"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="element in form.elements track by element.id">
				<td>{{element.name}}</td>
				<td>
					{{'project.different_geos'|translate}}:
					<span>{{'project.' + element.geoAgg | translate}}</span>
					<br/>
					{{'project.same_geos'|translate}}:
					<span>{{'project.' + element.timeAgg | translate}}</span>
				</td>

				<!-- variable partitions -->
				<td ng-repeat="partition in element.partitions">
					<ul>
						<li ng-repeat="p in partition track by p.id">{{p.name}}</li>
					</ul>
				</td>
				<td colspan="{{maxPartitions - element.partitions.length}}"
					ng-if="maxPartitions - element.partitions.length > 0"></td>
 			</tr>
		</tbody>
	</table>


	<!-- form actions -->
	<div acl-has-project-role="owner">
		<br/>
		<button ng-click="save()" ng-disabled="formForm.$invalid || isUnchanged()" class="btn btn-primary">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</button>

		<button ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</button>

		<button ng-click="delete()" ng-if="formIndex !== -1" class="btn btn-danger">
			<i class="fa fa-times"></i>
			<span translate="shared.delete"></span>
		</button>
	</div>
</form>
