

/*https://www.gv.com/portfolio/*/
textarea {
	resize: vertical;
}

.indicator-level-1, .indicator-level-2, .indicator-level-3 {
	border: solid #ccc;
	border-width: 1px;
	padding: 5px 0 0 5px;
	border-radius: 3px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.indicator-header {
	margin-bottom: 5px;
}

.indicator-level-1 {
	margin-left: 0px;
	background-color: white;
}

.indicator-level-2 {
	margin-left: 40px;
	background-color: #f8f8f8;

}

.indicator-level-3 {
	margin-left: 40px;
	background-color: #f0f0f0;

}


.indicator-level-3 a {
	float: right;
	margin-right: 10px;
}

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}



.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.invert.input-group .form-control {
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-btn.square button {
	border-radius: 0;
	border-right-width: 0;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input#inputPasswordChange {
  border-radius: 0;
  margin: 0;
}

.form-signin input#inputPasswordChange2 {
  margin: -1px 0 10px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



  table.project-reporting {
    font-size: 12px;
  }

  table.project-reporting label {
    font-weight: normal;
  }

  table.project-reporting .section, table.project-reporting .section a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }

  table.project-reporting .indent1 {
    padding-left: 25px !important;
  }

  table.project-reporting .indent2 {
    padding-left: 50px !important;
  }
