<div class="container">

	<form class="form-signin" role="form" novalidate>
		<h2 class="form-signin-heading" translate="login.change_password_please"></h2>

		<div class="alert alert-danger"
			 role="alert"
			 ng-if="showError"
			 translate="login.error"></div>

		<label for="inputEmail" class="sr-only" translate="login.login"></label>
		<input type="text"
			   id="inputEmail"
			   class="form-control"
			   autofocus
			   ng-model="login" disabled>
		
		<label for="inputPasswordChange" class="sr-only" translate="login.password"></label>

		<input type="password"
			   id="inputPasswordChange"
			   class="form-control"
			   placeholder="{{'login.new_password'|translate}}"
			   required
			   ng-model="password">

		<input type="password2"
			   id="inputPasswordChange2"
			   class="form-control"
			   placeholder="{{'login.new_password_again'|translate}}"
			   required
			   ng-model="password">
		
		<button class="btn btn-lg btn-primary btn-block"
				type="submit"
				ng-click="changePassword()"
				translate="login.change_password"
				ng-disabled="!login || !password"></button>
	</form>
</div>
