

<form class="form-horizontal noprint" novalidate>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="display-input" class="col-sm-2 control-label" translate="shared.display"></label>
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-eye"></i></span>
						<select class="form-control" id="display-input" ng-model="query.display">
							<option value="value" translate="shared.values"></option>
							<option value="progress" translate="shared.target_percentage"></option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="plot-input" class="col-sm-2 control-label" translate="shared.plot"></label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<input type="checkbox" id="plot-input" ng-model="presentation.plot" />
					</p>
				</div>
			</div>
		</div>
	</div>
</form>

