<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.logical_frame" ng-bind="::project.name"></a></li>
	<li class="active" translate="project.external_input"></li>
</ol>


<legend>Délégations réalisées</legend>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>Nom de l'utilisateur</th>
			<th>Nom de l'application</th>
			<th>Date de début de délégation</th>
			<th>Durée de la délégation</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td ng-bind="delegation.user_name"></td>
			<td ng-bind="delegation.app_name"></td>
			<td ng-bind="delegation.creation_date"></td>
			<td ng-bind="delegation.duration"></td>
			<td>
				<a class="btn btn-danger" ng-click="revokeDelegation(delegation)">Révoquer maintenant</a>
			</td>
		</tr>
	</tbody>
</table>


