<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.logical_frame" ng-bind="project.name"></a></li>
	<li class="active" translate="shared.reporting"></li>
</ol>

<doc-reminder pages="project.presentation_project,project.statistics"></doc-reminder>

<reporting-query query="query"></reporting-query>

<form class="form-horizontal noprint" novalidate>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="plot-input" class="col-sm-2 control-label" translate="shared.plot"></label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<input type="checkbox" id="plot-input" ng-model="presentation.plot" />
					</p>
				</div>
			</div>
		</div>
	</div>
</form>

<button class="btn btn-primary btn-xs pull-right noprint" ng-show="presentation.plot" svg-save>
	<i class="fa fa-download"></i>
	<span translate="shared.download_plot"></span>
</button>

<div style="clear: both" ng-if="presentation.plot">
	<reporting-graph-adapter
		type="['year', 'quarter', 'month', 'week', 'day'].indexOf(query.groupBy) !== -1 ? 'line' : 'bar'"
		data="stats" plots="plots" display="presentation.display">
	</reporting-graph-adapter>
</div>

<button class="btn btn-primary btn-xs pull-right noprint" project-csv-save style="margin-bottom: 10px;">
	<i class="fa fa-download"></i>
	<span translate="shared.download_table"></span>
</button>







<aggregated-data-reporting cols="cols" stats="stats" project="project" />