
<ol class="breadcrumb noprint">
	<li ng-if="$root.userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="shared.reporting"></li>
</ol>

<div ng-switch="$root.language">
	<project-reporting-home-en ng-switch-when="en" project="$ctrl.project"></project-reporting-home-en>
	<project-reporting-home-fr ng-switch-when="fr" project="$ctrl.project"></project-reporting-home-fr>
	<project-reporting-home-es ng-switch-when="es" project="$ctrl.project"></project-reporting-home-es>
</div>
