<div class="row">
	<div class="col-md-2">
		<ng-include src="'partials/projects/menu.html'"></ng-include>
	</div>

	<div class="col-md-10">

		<ol class="breadcrumb">
			<li><a href="#projects">Projets</a></li>
			<li><a href="#projects/{{project._id}}">{{project.name}}</a></li>
			<li class="active">Groupes d'activité</li>
		</ol>

		<form name="projectForm" novalidate>

			<table class="table table-bordered table-stripped table-condensed">
				<thead>
					<tr>
						<th style="width:250px">Nom</th>
						<th>Membres</th>
						<th style="width:225px"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="!project.inputGroups.length">
						<td colspan="3" style="text-align: center">Aucun groupe d'activité n'a encore été créé!</td>
					</tr>
					<tr ng-repeat="inputGroup in project.inputGroups">
						<td>
							<ng-form name="center">
								<div class="form-group" show-errors style="margin: 0">
									<input type="text" name="name" ng-model="inputGroup.name" class="form-control error input-sm" required />
								</div>
							</ng-form>
						</td>
						<td>
							<ui-select multiple ng-model="inputGroup.members" theme="bootstrap">
								<ui-select-match placeholder="">
									{{$item.name}}
								</ui-select-match>
								<ui-select-choices repeat="inputEntity.id as inputEntity in project.inputEntities">
									{{inputEntity.name}}
								</ui-select-choices>
							</ui-select>
						</td>
						<td>
							<button class="btn btn-default btn-sm" ng-click="stats(inputGroup.id)">Voir les statistiques</button>
							<button class="btn btn-danger btn-sm" ng-click="delete(inputGroup.id)">Supprimer</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<button class="btn btn-default btn-xs" ng-click="create()" style="width: 100%">Ajouter</button>
						</td>
					</tr>
				</tfoot>
			</table>

			<button ng-click="save()" ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary">Sauvegarder</button>
			<button ng-click="reset()" ng-disabled="isUnchanged()"class="btn btn-default">Annuler les modifications</button>

		</form>
	</div>
</div>
