<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate>shared.projects</a></li>
	<li><a ui-sref="main.project.logical_frame({projectId: project._id})">{{project.name}}</a></li>
	<li class="active" translate>shared.input_entities</li>
</ol>

<form name="projectForm" novalidate>
	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th translate>shared.name</th>
				<th style="width: 255px;"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="!project.inputEntities.length">
				<td colspan="2" style="text-align: center" translate>project.no_input_entities</td>
			</tr>
			<tr ng-repeat="inputEntity in project.inputEntities">
				<td acl-has-project-role="owner" acl-fallback="inputEntity.name">
					<ng-form name="center">
						<div class="form-group" show-errors style="margin: 0">
							<input type="text" name="name" ng-model="inputEntity.name" class="form-control input-sm" required />
						</div>
					</ng-form>
				</td>
				<td>
					<a class="btn btn-default btn-sm" ui-sref="main.project.input_entities_reporting({entityId: inputEntity.id})">
						<i class="fa fa-line-chart"></i>
						<span translate="shared.view_stats"></span>
					</a>
					<button class="btn btn-danger btn-sm" ng-click="delete(inputEntity.id)" acl-has-project-role="owner">
						<i class="fa fa-remove"></i>
						<span translate>shared.delete</span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot acl-has-project-role="owner">
			<tr>
				<td colspan="3">
					<button class="btn btn-default btn-xs" ng-click="create()" style="width: 100%" translate>shared.add</button>
				</td>
			</tr>
		</tfoot>
	</table>

	<div acl-has-project-role="owner">
		<button ng-click="save()" ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</button>

		<button ng-click="reset()" ng-disabled="isUnchanged()" class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</button>
	</div>
</form>
