<div class="row">
	<div class="col-md-2">
		<ng-include src="'partials/projects/menu.html'"></ng-include>
	</div>

	<div class="col-md-10">

		<ol class="breadcrumb">
			<li><a href="#projects">Projets</a></li>
			<li><a href="#projects/{{project._id}}">{{project.name}}</a></li>
			<li class="active">Saisies en attente</li>
		</ol>

		<input type="checkbox" id="see-all-input" ng-model="showFinished" />
		<label for="see-all-input">Voir toutes les saisies</label>

		<table class="table table-bordered table-stripped table-condensed">
			<thead>
				<tr>
					<th>Fait</th>
					<th>Mois</th>
					<th>Lieux d'activité</th>
					<th>Formulaire</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="input in inputs" ng-if="!input.filled || showFinished">
					<td>
						<i ng-init="ok=input.filled"
						   ng-class="{fa: true, 'fa-check': ok, 'fa-times': !ok}"
						   ng-style="{color:ok?'green':'red'}"></i>
					</td>
					<td>{{input.period | amDateFormat: 'MMMM YYYY'}}</td>
					<td>{{input.inputEntityName}}</td>
					<td>{{input.formName}}</td>
					<td><a ng-click="makeInput(input)">Saisir</a></td>
				</tr>
			</tbody>
			<tbody ng-if="allDone && !showFinished">
				<tr>
					<td colspan="5">Aucune saisie en attente.</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
