<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate>shared.projects</a></li>
	<li><a ui-sref="main.project.logical_frame({projectId: project._id})">{{project.name}}</a></li>
	<li class="active" translate>shared.input_groups</li>
</ol>

<form name="projectForm" novalidate>
	<table class="table table-bordered table-stripped table-condensed">
		<thead>
			<tr>
				<th style="width:250px" translate>shared.name</th>
				<th translate>shared.members</th>
				<th style="width: 255px;"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="!project.inputGroups.length">
				<td colspan="3" style="text-align: center" translate>project.no_input_groups</td>
			</tr>
			<tr ng-repeat="inputGroup in project.inputGroups track by inputGroup.id">
				<td acl-has-project-role="owner" acl-fallback="inputGroup.name">
					<ng-form name="center">
						<div class="form-group" show-errors style="margin: 0">
							<input type="text" name="name" ng-model="inputGroup.name" class="form-control error input-sm" required />
						</div>
					</ng-form>
				</td>
				<td>
					<ui-select multiple ng-model="inputGroup.members" theme="bootstrap" acl-has-project-role="owner">
						<ui-select-match placeholder="">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="inputEntity.id as inputEntity in project.inputEntities">
							{{inputEntity.name}}
						</ui-select-choices>
					</ui-select>

					<span acl-lacks-project-role="owner">
						{{inputGroup.members | getObjects:project.inputEntities | pluck:'name' | join:', '}}
					</span>
				</td>
				<td>
					<a class="btn btn-default btn-sm" ui-sref="main.project.input_groups_reporting({id: inputGroup.id})">
						<i class="fa fa-line-chart"></i>
						<span translate="shared.view_stats"></span>
					</a>
					<button class="btn btn-danger btn-sm" ng-click="delete(inputGroup.id)" acl-has-project-role="owner">
						<i class="fa fa-remove"></i>
						<span translate>shared.delete</span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot acl-has-project-role="owner">
			<tr>
				<td colspan="3">
					<button class="btn btn-default btn-xs" ng-click="create()" style="width: 100%" translate>shared.add</button>
				</td>
			</tr>
		</tfoot>
	</table>

	<div acl-has-project-role="owner">
		<button ng-click="save()" ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary">
			<i class="fa fa-floppy-o"></i>
			<span translate="shared.save"></span>
		</button>

		<button ng-click="reset()" ng-disabled="isUnchanged()"class="btn btn-default">
			<i class="fa fa-undo"></i>
			<span translate="shared.remove_changes"></span>
		</button>
	</div>
</form>
