<div class="row">
	<div class="col-md-2">
		<ng-include src="'partials/projects/menu.html'"></ng-include>
	</div>

	<div class="col-md-10">

		<ol class="breadcrumb">
			<li><a href="#projects">Projets</a></li>
			<li><a href="#projects/{{project._id}}">{{project.name}}</a></li>
			<li><a href="#projects/{{project._id}}/inputs">Saisies en attente</a></li>
			<li class="active">{{inputEntity.name}}</li>
			<li class="active">{{form.name}}</li>
		</ol>

		<table class="table table-bordered table-stripped table-condensed">
			<thead>
				<tr>
					<th ng-style="{width:previousInput?'33%':'50%'}">Nom</th>
					<th ng-style="{width:previousInput?'33%':'50%'}">{{input.period}}</th>
					<th ng-style="{width:previousInput?'33%':'50%'}" ng-if="previousInput">{{previousInput.period}}</th>
				</tr>
			</thead>
			<tbody ng-repeat="(fieldId, field) in fields">
				<tr>
					<td>
						<div>
						<div>
						<label for="input-{{field.id}}">
							<span ng-repeat="color in field.colors"
								  ng-style="{'background-color': color}">&nbsp;&nbsp;</span> 
							{{indicatorsById[field.id].name}}
						</label>
					</td>
					<td>
						<input id="input-{{field.id}}"
							   type="number"
							   ng-model="input.indicators[field.id]"
							   ng-change="evaluate()"
							   ng-disabled="field.type == 'computed'"
							   tooltip-html-unsafe="Source: {{field.source}}"
							   tooltip-trigger="focus"
							   class="form-control" />
					</td>
					<td ng-if="previousInput">
						<div class="input-group" style="width: 100%">
							<input type="number"
								   value="{{previousInput.indicators[field.id]}}"
								   class="form-control"
								   disabled />

							<span class="input-group-btn" ng-if="field.type !== 'computed'">
								<button class="btn btn-primary" type="button" ng-click="copy(field.id)">Copier</button>
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<button class="btn btn-default" ng-click="save()">Sauvegarder</button>
		<button class="btn btn-danger" ng-click="delete()">Supprimer</button>
	</div>
</div>
