<div class="row">
	<div class="col-md-2">
		<ng-include src="'partials/projects/menu.html'"></ng-include>
	</div>

	<div class="col-md-10">

		<ol class="breadcrumb">
			<li><a href="#projects">Projets</a></li>
			<li class="active">{{project.name}}</li>
			<li class="active">Cadre logique</li>
		</ol>

		<form class="form-horizontal" role="form" name="projectForm" novalidate>
			<fieldset>
				<legend>Données générales</legend>

				<div class="form-group" show-errors>
					<label for="input-name" class="col-sm-2 control-label">Nom</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="input-name" name="name" ng-model="project.name" placeholder="Exemple: Réduction des Risques Laos" required />
						
						<p class="help-block" ng-if="projectForm.name.$error.required">
							Ce champ est obligatoire
						</p>
					</div>
				</div>

				<div class="form-group" show-errors>
					<label for="input-begin" class="col-sm-2 control-label">Date de lancement</label>
					<div class="col-sm-10">
						<input type="month" class="form-control" id="input-begin" name="begin" max="{{project.end}}" ng-model="project.begin" required lower-than="{{project.end}}">

						<p class="help-block" ng-if="projectForm.begin.$error.required">
							Ce champ est obligatoire
						</p>

						<p class="help-block" ng-if="projectForm.begin.$error.lowerThan">
							La date début de doit être inférieure à la date de fin
						</p>
					</div>
				</div>

				<div class="form-group" show-errors>
					<label for="input-end" class="col-sm-2 control-label">Date de fin</label>
					<div class="col-sm-10">
						<input type="month" class="form-control" id="input-end" name="end" min="{{project.begin}}" ng-model="project.end" greater-than="{{project.begin}}" required>

						<p class="help-block" ng-if="projectForm.end.$error.required">
							Ce champ est obligatoire
						</p>

						<p class="help-block" ng-if="projectForm.end.$error.greaterThan">
							La date de fin doit être supérieure à la date de début
						</p>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Objectif global</legend>
				<div class="form-group" show-errors>
					<label for="input-name" class="col-sm-2 control-label">Logique d'intervention</label>
					<div class="col-sm-10">
						<textarea class="form-control"
								  name="goalDesc"
								  required
								  placeholder="Description de la contribution du projet aux objectifs (impact) d'une politique ou d'un programme"
								  ng-model="project.logicalFrame.goal"></textarea>

						<p class="help-block" ng-if="projectForm.goalDesc.$error.required">
							Ce champ est obligatoire
						</p>
					</div>

				</div>

				<div class="form-group">
					<label for="input-name" class="col-sm-2 control-label">Indicateurs</label>
					<div class="col-sm-10">
						<ul class="form-control-static">
							<li ng-repeat="indicatorId in project.logicalFrame.indicators">
								{{indicatorsById[indicatorId].name}}
								(<a ng-click="editIndicator(indicatorId, project.logicalFrame.indicators)">Modifier</a>)
							</li>
							<li><a ng-click="editIndicator(null, project.logicalFrame.indicators)">Ajouter un indicateur</a></li>
						</ul>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Objectifs spécifiques</legend>
				
				<div class="panel panel-primary" ng-repeat="(purposeId, purpose) in project.logicalFrame.purposes" ng-init="tabOpen=false">

					<div class="panel-heading">
						<div class="panel-title">
							<button class="btn btn-danger btn-xs pull-right" ng-click="removePurpose(purpose)">Supprimer</button>
							<i class="fa" ng-class="{'fa-minus-circle': tabOpen, 'fa-plus-circle': !tabOpen}"></i>
							<a ng-click="tabOpen = !tabOpen">Objectif Spécifique {{purposeId + 1}}: {{purpose.description}}</a>
						</div>
					</div>

					<div class="panel-body" ng-show="tabOpen">
						<ng-form name="purposeForm">
							<div class="form-group" show-errors>
								<label for="input-name" class="col-sm-2 control-label">Logique d'intervention</label>
								<div class="col-sm-10">
									<input type="text"
										   class="form-control"
										   name="description"
										   placeholder="Description des avantages directs destinés au(x) groupe(s) cible(s)"
										   ng-model="purpose.description"
										   required />

									<p class="help-block" ng-if="purposeForm.description.$error.required">
										Ce champ est obligatoire
									</p>
								</div>
							</div>

							<div class="form-group" show-errors>
								<label for="input-name" class="col-sm-2 control-label">Hypothèses</label>
								<div class="col-sm-10">
									<textarea class="form-control"
											  name="assumptions"
											  placeholder="Si l'objectif spécifique est atteint, quelles hypothèses doivent être confirmées pour atteindre l'objectif général?"
											  ng-model="purpose.assumptions"
											  required></textarea>

									<p class="help-block" ng-if="purposeForm.assumptions.$error.required">
										Ce champ est obligatoire
									</p>
								</div>
							</div>

							<div class="form-group">
								<label for="input-name" class="col-sm-2 control-label">Indicateurs</label>
								<div class="col-sm-10">
									<ul class="form-control-static">
										<li ng-repeat="indicatorId in purpose.indicators">
											{{indicatorsById[indicatorId].name}}
											(<a ng-click="editIndicator(indicatorId, purpose.indicators)">Modifier</a>)
										</li>
										<li><a ng-click="editIndicator(null, purpose.indicators)">Ajouter un indicateur</a></li>
									</ul>
								</div>
							</div>

							<div class="panel panel-info" ng-repeat="(outputId, output) in purpose.outputs" ng-init="tabOpen=false">
								<div class="panel-heading">
									<div class="panel-title">
										<button class="btn btn-danger btn-xs pull-right" ng-click="removeOutput(output, purpose)">Supprimer</button>
										<i class="fa" ng-class="{'fa-minus-circle': tabOpen, 'fa-plus-circle': !tabOpen}"></i>
										<a ng-click="tabOpen = !tabOpen">Résultat {{purposeId + 1}}.{{outputId + 1}}: {{output.description}}</a>
									</div>
								</div>

								<div class="panel-body" ng-show="tabOpen">
									<ng-form name="outputForm">
										<div class="form-group" show-errors>
											<label for="input-name" class="col-sm-2 control-label">Description</label>
											<div class="col-sm-10">
												<textarea class="form-control"
														  required
														  name="description"
														  placeholder="Produit ou service tangibles apportés par le projet."
														  ng-model="output.description"></textarea>

												<p class="help-block" ng-if="outputForm.description.$error.required">
													Ce champ est obligatoire
												</p>
											</div>
										</div>

										<div class="form-group" show-errors>
											<label for="input-name" class="col-sm-2 control-label">Hypothèses</label>
											<div class="col-sm-10">
												<textarea class="form-control"
														  required
														  name="assumptions"
														  placeholder="Si le resultat est obtenu, quelles hypothèses doivent être confirmées pour atteindre l'objectif spécifique?"
														  ng-model="output.assumptions"></textarea>

												<p class="help-block" ng-if="outputForm.assumptions.$error.required">
													Ce champ est obligatoire
												</p>
											</div>
										</div>

										<div class="form-group">
											<label for="input-name" class="col-sm-2 control-label">Indicateurs</label>
											<div class="col-sm-10">
												<ul class="form-control-static">
													<li ng-repeat="indicatorId in output.indicators">
														{{indicatorsById[indicatorId].name}}
														(<a ng-click="editIndicator(indicatorId, output.indicators)">Modifier</a>)
													</li>
													<li><a ng-click="editIndicator(null, output.indicators)">Ajouter un indicateur</a></li>
												</ul>
											</div>
										</div>

										<div class="panel panel-default" ng-repeat="(activityId, activity) in output.activities" ng-init="tabOpen=false">
											<div class="panel-heading">
												<div class="panel-title">
													<button class="btn btn-danger btn-xs pull-right" ng-click="removeActivity(activity, output)">Supprimer</button>
													<i class="fa" ng-class="{'fa-minus-circle': tabOpen, 'fa-plus-circle': !tabOpen}"></i>
													<a ng-click="tabOpen = !tabOpen">Activité {{purposeId + 1}}.{{outputId + 1}}.{{activityId + 1}}: {{activity.description}}</a>
												</div>
											</div>

											<div class="panel-body" ng-show="tabOpen">
												<ng-form name="activityForm">
													<div class="form-group" show-errors>
														<label for="input-name" class="col-sm-2 control-label">Description</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" name="description" placeholder="Produit ou service tangibles apportés par le projet." ng-model="activity.description" required/>

															<p class="help-block" ng-if="activityForm.description.$error.required">
																Ce champ est obligatoire
															</p>
														</div>
													</div>

													<div class="form-group" show-errors>
														<label for="input-name" class="col-sm-2 control-label">Prérequis</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" placeholder="Si le resultat est obtenu, quelles hypothèses doivent être confirmées pour atteindre l'objectif spécifique?" ng-model="activity.prerequesites" name="prerequesites" required/>

															<p class="help-block" ng-if="activityForm.prerequesites.$error.required">
																Ce champ est obligatoire
															</p>

														</div>
													</div>
												</ng-form>
											</div>
										</div>

										<button class="btn btn-default" ng-click="addActivity(output)">Ajouter une activité</button>
									</ng-form>
								</div>
							</div>
							
							<button class="btn btn-default" ng-click="addOutput(purpose)">Ajouter un résultat attendu</button>
						</ng-form>
					</div>
				</div>

				<button class="btn btn-default" ng-click="addPurpose()">Ajouter un objectif spécifique</button>
			</fieldset>
			
			<br/><br/>

			<button ng-click="save()" ng-disabled="projectForm.$invalid || isUnchanged()" class="btn btn-primary">Sauvegarder</button>
			<button ng-click="reset()" class="btn btn-default">Annuler les modifications</button>
		</form>

	</div>
</div>

