
<ul class="nav nav-pills nav-stacked" ng-controller="SubMenuController">

	<li ng-class="{active: currentPage === 'logical-frame', disabled: projectId === 'new'}">
		<a ng-click="changePage('logical-frame')"
		   tooltip="{{'project.logical_frame_tooltip'|translate}}"
		   tooltip-popup-delay="200"
		   translate>shared.logical_frame</a>
	</li>
	
	<li ng-class="{active: currentPage === 'input-entities', disabled: projectId === 'new'}">
		<a ng-click="changePage('input-entities')"
		   tooltip="{{'project.input_entities_tooltip'|translate}}"
		   tooltip-popup-delay="200"
		   translate>shared.input_entities</a>
	</li>

	<li ng-class="{active: currentPage === 'input-groups', disabled: projectId === 'new'}">
		<a ng-click="changePage('input-groups')"
		   tooltip="{{'project.input_groups_tooltip'|translate}}"
		   tooltip-popup-delay="200"
		   translate>shared.input_groups</a>
	</li>

	<li ng-class="{active: currentPage === 'forms', disabled: projectId === 'new'}">
		<a ng-click="changePage('forms')"
		   tooltip="{{'project.input_forms_tooltip'|translate}}"
		   tooltip-popup-delay="200"
		   translate>project.input_forms</a>
	</li>
	<li ng-class="{active: currentPage === 'inputs', disabled: projectId === 'new'}">
		<a ng-click="changePage('inputs')"
		   tooltip="{{'project.waiting_inputs_tooltip'|translate}}"
		   tooltip-popup-delay="200"
		   translate>project.waiting_inputs</a>
	</li>

	<li ng-class="{active: currentPage === 'reporting', disabled: projectId === 'new'}">
		<a ng-click="changePage('reporting')"
		   tooltip="{{'project.reporting_tooltip'|translate}}"
		   tooltip-popup-delay="200"
		   translate>shared.reporting</a>
	</li>
</ul>
