<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate>shared.projects</a></li>
	<li><a ui-sref="main.project.logical_frame({projectId: project._id})">{{project.name}}</a></li>
	<li class="active" translate>shared.users</li>
</ol>

<form class="form-horizontal" role="form" name="usersForm" novalidate>

	<div class="form-group" show-errors>
		<label for="input-owner" class="col-sm-2 control-label" translate="project.owner"></label>
		<div class="col-sm-10">

			<ui-select ng-model="project.owner" theme="bootstrap" required id="input-owner">
				<ui-select-match placeholder="{{'project.choose_user'|translate}}">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="user._id as user in users | filter: {name: $select.search}">
					<span>{{user.name}}</span>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<button ng-click="save()" ng-disabled="usersForm.$invalid || isUnchanged()" class="btn btn-primary">
		<i class="fa fa-floppy-o"></i>
		<span translate="shared.save"></span>
	</button>

	<button ng-click="reset()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.remove_changes"></span>
	</button>

</form>
