<div class="panel panel-default indicator-panel">

	<div class="panel-heading" title="{{$ctrl.indicator.display}}">
		<i class="fa fa-arrows fa-fw indicator-handle"></i>
		{{$ctrl.indicator.display|maxLength:90}}
	</div>

	<div class="panel-body" style="padding-bottom: 10px">
		<!-- Baseline -->
		<strong>{{'project.baseline'|translate}}:</strong>
		<span ng-if="$ctrl.indicator.baseline != null">{{$ctrl.indicator.baseline}}{{$ctrl.indicator|indicatorUnit}}</span>
		<span ng-if="$ctrl.indicator.baseline == null">?</span>
		<br/>

		<!-- Target -->
		<strong>{{'project.target'|translate}}:</strong>
		<span ng-if="$ctrl.indicator.target != null">{{$ctrl.indicator.target}}{{$ctrl.indicator|indicatorUnit}}</span>
		<span ng-if="$ctrl.indicator.target == null">?</span>
		<br/>

		<!-- Computation -->
		<strong>{{'project.computation'|translate}}:</strong>
		<span class="text-danger" ng-if="!$ctrl.indicator.computation">
			{{'project.indicator_is_not_computed'|translate}}
			<i class="fa fa-unlink" ></i>
		</span>
		<span class="text-success" ng-if="$ctrl.indicator.computation">
			{{'project.indicator_is_computed'|translate}}
			<i class="fa fa-link" ></i>
		</span>

		<button class="btn btn-xxs btn-default" style="width: 100%; display: block" ng-click="$ctrl.onEditClicked()">
			<i class="fa fa-pencil"></i>
			{{'shared.edit'|translate}}
		</button>
	</div>
</div>
