<ol class="breadcrumb">
	<li ng-if="$root.userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="project.collection_form_list"></li>
</ol>

<div class="alert alert-info" translate="project.collection_form_list_info"></div>


<div ng-sortable="$ctrl.ngSortableOptions">
	<div class="panel panel-default columns-panel"
		 ng-repeat="dataSource in $ctrl.editableProject.forms">

		<div class="panel-heading">
			<div class="panel-title">
				<i class="fa fa-arrows fa-fw handle"></i>
				{{dataSource.name}}
			</div>
		</div>
		<div class="panel-body">
			<div>
				<strong translate="shared.date"></strong>
				{{dataSource.start|date}} - {{dataSource.end|date}}
			</div>
			<div>
				<strong translate="project.periodicity"></strong>
				{{'project.periodicities.' + dataSource.periodicity|translate}}
			</div>
			<div>
				<strong translate="project.collection_site_list"></strong>
				<element-groups ids="dataSource.entities" items="$ctrl.project.entities" groups="$ctrl.project.groups"></element-groups>
			</div>

			<div class="panel-buttons btn-group">
				<a class="btn btn-default btn-xxs"
				   ui-sref="main.project.structure.collection_form_edition({dataSourceId: dataSource.id})">
				   	<i class="fa fa-pencil"></i>
				   	<span translate="shared.edit"></span>
				</a>

				<div class="btn-group" uib-dropdown>
					<a class="btn btn-default btn-xxs" uib-dropdown-toggle>
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li>
							<a href="/api/resources/project/{{$ctrl.editableProject._id}}/data-source/{{dataSource.id}}.pdf?orientation=portrait&language={{$root.language}}" target="_blank">
								<i class="fa fa-file-pdf-o"></i>
								<span translate="project.download_portrait"></span>
							</a>
						</li>
						<li>
							<a href="/api/resources/project/{{$ctrl.editableProject._id}}/data-source/{{dataSource.id}}.pdf?orientation=landscape&language={{$root.language}}" target="_blank">
								<i class="fa fa-file-pdf-o fa-rotate-270"></i>
								<span translate="project.download_landscape"></span>
							</a>
						</li>
						<li>
							<a ng-click="$ctrl.onDeleteClicked(dataSource)">
								<i class="fa fa-trash text-danger"></i>
								<span class="text-danger" translate="shared.delete"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

<a class="btn btn-default" ng-click="$ctrl.onCreateFormClicked()">
	<i class="fa fa-plus"></i>
	<span translate="project.add_datasource"></span>
</a>
