<table class="partition-order">
	<thead>
		<tr ng-repeat="headerRow in $ctrl.table.headerRows">
			<td ng-repeat="leftCol in $ctrl.table.leftCols"></td>
			<td>
				<select ng-model="$ctrl.editablePartitions[headerRow]"
				        ng-options="p as (p.name + ' (' + p.elements.length + ')') for p in $ctrl.editablePartitions"
				        ng-change="$ctrl.onValueChange(headerRow)"></select>
			</td>
		</tr>
	</thead>
	<tr>
		<td ng-repeat="leftCol in $ctrl.table.leftCols">
			<select ng-model="$ctrl.editablePartitions[leftCol]"
			        ng-options="p as (p.name + ' (' + p.elements.length + ')') for p in $ctrl.editablePartitions"
			        ng-change="$ctrl.onValueChange(leftCol)"></select>
		</td>
		<td class="data-field">{{'project.data'|translate}} ({{$ctrl.size}})</td>
	</tr>
</table>
