



/*
 * Login page.
 */

#load-container{
  position: absolute;
  top: 50%;
  margin-top: -205px;/* half of #content height*/
  left: 0;
  width: 100%;
}

#load-content {
  width: 624px;
  margin-left: auto;
  margin-right: auto;
  height: 410px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 20px;
}

#load-content h3 {
  margin-top: 10px;
}

#load-content img {
  width: 250px;
  margin-bottom: 10px;
  transition: width .2s;
}

#load-content .progress {
  width: 80%;
  margin: auto;
}

#version {
  position: absolute;
  bottom: 5px;
  right: 5px;
}





/* make bootstrap smaller */

body {
  background-color: #fbfbfb;
  font-size: 12px;
}

td.ng-invalid {
  background-color: #faa;
}

.form-control {
  font-size: 12px;
  padding: 3px 6px;
  height: 24px;
}

.form-group {
  margin-bottom: 8px;
}

.form-horizontal .control-label {
  padding-top: 3px;
}

p {
  margin: 0 0 5px;
}

.panel {
  margin-bottom: 10px;
}
.panel-title {
  font-size: 13px;
}

.btn {
  padding: 3px 6px;
  font-size: 12px;
}

.btn-sm {
  padding: 2px 5px;
}

.btn-xs {
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
}

legend {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-group-addon {
  padding: 3px 6px;
  font-size: 12px;
}

label {
  margin-bottom: 0;
}

.nav>li>a {
  padding: 5px 10px;
}
.navbar {
  min-height: 30px;
}

.panel-heading {
  padding: 5px 8px;
}

.form-control-static {
  padding-top: 2px;
  padding-bottom: 2px;
}

.breadcrumb {
  padding: 5px 10px;
  margin-bottom: 10px
}

.list-group-item {
  padding: 5px 10px;
}

h4 {
  font-size: 16px;
}

.dropdown-menu {
  min-width: 100px;
  font-size: 12px;
  padding: 2px 0;
}

.dropdown-menu>li>a {
  padding: 3px 10px;
}

.table {
  margin-bottom: 10px;
}
.table-condensed>tbody>tr>td {
  padding: 3px;
}

.input-sm {
  height: 24px;
  padding: 3px 5px;
  font-size: 12px;
}

select.input-sm {
  height: 24px;
  line-height: 24px;
}

.alert {
  padding: 8px;
  margin-bottom: 10px;
}

ol, ul {
  margin-bottom: 5px;
}

/* we autosize textareas with a directive */

textarea {
	resize: none;
}



.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}



/*.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}
*/
.invert.input-group .form-control {
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-btn.square button {
	border-radius: 0;
	border-right-width: 0;
}








#reporting {
  width: auto;
  min-width: 100%;
  table-layout: fixed;
}

#reporting .row-graph {
  width: 30px;
  text-align: center;
}

#reporting .row-title {
  width: 300px;
  border-right-color: white;
}

#reporting .row-title div {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#reporting .indent1 .row-title div, #reporting .indent1 .row-header-title div {
  padding-left: 20px !important;
}

#reporting .indent2 .row-title div, #reporting .indent2 .row-header-title div {
  padding-left: 40px !important;
}
#reporting .indent3 .row-title div, #reporting .indent3 .row-header-title div {
  padding-left: 60px !important;
}

#reporting .indent4 .row-title div, #reporting .indent4 .row-header-title div {
  padding-left: 80px !important;
}

#reporting .indent5 .row-title div, #reporting .indent5 .row-header-title div {
  padding-left: 100px !important;
}

#reporting .indent6 .row-title div, #reporting .indent6 .row-header-title div {
  padding-left: 120px !important;
}

#reporting .row-dimension {
  width: 30px;
  border-left-color: white;
}




.clickable {
  cursor: pointer;
}

.nonclickable {
  cursor: not-allowed;
}


      .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
      .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
      .panel-collapse>.list-group {margin-bottom: 0;}
      .panel-collapse .list-group-item {border-radius:0;}

      .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
      .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

      .panel-collapse div.list-group div.list-group{margin: 0;}
      .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}


.ta-toolbar {
  display: none;
}

.ta-toolbar.focussed {
  display: block;
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
  min-height: 0;

}
.ta-scroll-window > .ta-bind {
  min-height: 0;
}


.print { display: none;}
.main-content { padding-top: 45px; }

@media print {
  .print { display: block; }
  .noprint { display: none; }
  .print-only { display: block !important; }
  .print-full-width { width: 100% !important; }

  .main-content { padding-top: 0; }
  .c3-tooltip-container { display: none !important; }


  .htNumeric {
    color:white !important;
    font-size: 0;

  }

}

.form-control.ng-invalid.ng-touched {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control-static {
  min-height: 22px;
 }

 ul {
  padding-left: 20px;
}

  .data-grid th {
    text-align: center;
    vertical-align: middle !important;
  }



  .btn-group-xxs>.btn, .btn-xxs {
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.3;
    border-radius: 3px;
}


.handle {
  text-align: center !important;
  vertical-align: middle !important;
}

ul[ng-sortable] {
  padding-left: 3px;
  list-style-type: none;
}

.dragging .drag-destination {
  min-height: 25px;
}




ul[ng-sortable] i.fa.fa-bars {
  padding-right: 3px;
}

ul[ng-sortable] li *, i.fa.fa-bars {
  cursor: pointer;
}

.sortable-ghost {
  opacity: .3;
}

.sortable-label-list {
  padding: 0 2px;
}


.navbar-toggle {
  padding: 4px;
  margin: 3px;
}



.columns-panel {
  display: inline-block;
  vertical-align: top
}


@media (max-width: 800px) {
  .columns-panel {
    display: block;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .columns-panel {
    width: 32%;
    margin-right: 1.5%;
  }

  .columns-panel:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .columns-panel {
    width: 24%;
    margin-right: 1.33%;
  }

  .columns-panel:nth-child(4n) {
    margin-right: 0;
  }
}


@media (min-width: 1200px) and (max-width: 1400px) {
  .columns-panel {
    width: 19%;
    margin-right: 1.25%;
  }

  .columns-panel:nth-child(5n) {
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .columns-panel {
    width: 16%;
    margin-right: 0.66%;
  }

  .columns-panel:nth-child(6n) {
    margin-right: 0;
  }
}



.columns-panel .panel-body {
  padding: 10px 10px 30px 10px;
  position: relative;
}

.columns-panel .panel-body .panel-buttons {
  margin-top: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.columns-panel .panel-body .bl-info {
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: 12px;
  left: 10px;
}



.partition-table-item {
  /* from well */
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

  /* from doc */
  text-align: center;
  padding: 5px;
  /*float: left;*/
  vertical-align: middle;
  margin-right: 15px;
  font-weight: normal !important;
}

.partition-table-item table {
  background-color: #e8e8e8;
  color: #444;
  border-color: #ccc !important;
}

.partition-table-item table td {
  border-color: #ccc !important;
  border-bottom-width: 1px !important;
  padding: 4px 8px !important;
}

.partition-table-item table td.data-field {
  background-color: white;
}

.partition-order {
  border: 1px solid #ccc;
  background-color: #e8e8e8;
  color: #444;
}

.partition-order td {
  border: 1px solid #ccc;
  padding: 4px 8px;
}

.partition-order td.data-field {
  border: 1px solid #ccc;
  padding: 4px 8px;
  background-color: white;
}

.fa-sort {
  cursor: pointer;
}

.pdf-export {
  width: 180px;
}


.indicator-handle {
  cursor: pointer;
}

  .modal-header {
    padding: 7px 15px;
  }

  .modal-header h3 {
    font-size: 18px;
  }


  #formblock {
    margin-bottom: 60px;
  }

  #saveblock {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 83%;
    height: 45px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #f6f6f6;
    z-index: 5;
  }

.fa-thumb-tack, #reporting .fa-line-chart {
  color: #ccc;
  cursor: pointer;
}
.fa-thumb-tack:hover, #reporting .fa-line-chart:hover {
  color: #555;
}


td.empty {
  background-color: #eee;
}

td.empty > span {
  display: none;
}


  .revtbody .restore {
    display: none;
  }

  .revtbody:HOVER .restore, .revtbody .selected {
    display: table-row;
  }

  .table>tbody.revtbody+tbody.revtbody {
    border-top-width: 1px;
  }

  cc-indicator-group-by,
  indicator-group-by,
  project-group-by,
  select-indicator,
  indicator-filter .panel,
  olap-dimensions .panel

  {
    display: block;
    margin-bottom: 5px;
  }







general-reporting, cc-indicator-reporting, project-input-list, olap-reporting {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin-top: -50px;
  padding-top: 50px;
  padding-bottom: 10px
}

/* your existing container */
general-table, cc-indicator-table {
  display: block;
  overflow: auto;
  flex: 1;
  border: 0 solid #ccc;
  border-top-width: 1px;
}

general-table table, cc-indicator-table table {
  overflow: hidden;
  border-collapse: separate !important;
  border-spacing: 0px !important;
  border-width: 0 !important;
}

general-table table thead, cc-indicator-table table thead {
}

general-table table td, general-table table th, cc-indicator-table table td, cc-indicator-table table th {
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  background-color: white;
}

general-table table td:first-child, general-table table th:first-child, cc-indicator-table table td:first-child, cc-indicator-table table th:first-child {
  border-left-width: 1px !important;
}


@media (min-width: 768px) {
  .project-columns {
  }

  .project-menu {
    position: fixed;
    width: 200px;
    top: 0;
    padding-top: 45px;
    padding-bottom: 10px;
    height: 100%;
  }

  .project-menu .panel-group {
    height: 100%;
    overflow-y: auto;
  }

  .project-content {
    margin-left: 220px;
  }
}



.panel-dashed {
  color: #666;
  border-color: #999;
  border-style: dashed;
}

.panel-dashed > .panel-heading {
  background-color: #f5f5f5;
  border-color: #999;
  border-bottom-style: dashed;
}



.panel-deleted {
  border-color: #b33;
  border-style: dashed;
}

.panel-deleted > .panel-heading {
  color: #b33;
  background-color: #f5dddd;
  border-color: #b33;
  border-bottom-style: dashed;
}






.table {
  background-color: white;
}


/*
 * This class should be renamed, it is used everywhere
 * Unrelated to being the actual div inside 'project-content'.
 */

.project-content-inner {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}


/*
 * Styling of input list table.
 */

.input-table-container {
  flex: 1;
  display: block;
  overflow: auto;
  border: 0 solid #ccc;
  border-top-width: 1px;
}


.input-table-container table {
  overflow: hidden;
  border-collapse: separate !important;
  border-spacing: 0px !important;
  border-width: 0 !important;
}

.input-table-container table td, .input-table-container table th {
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  background-color: white;
}

.input-table-container table td:first-child, .input-table-container table th:first-child {
  border-left-width: 1px !important;
}

.input-table-container th:first-child, .input-table-container td:first-child {
  width: 15%;
}

project-input-list .headerField {
  min-width: 100px;
  width: 100%;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  text-align: center;
}

project-input-list .headerField div {
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
}

project-input-list .bodyField {
  height: 20px;
  text-align: center;
  overflow: hidden;
}

project-input-list .bodyField a {
  display: block;
  width: 100%;
}

project-input-list .bodyField2 {
  height: 24px;
  text-align: center;
  overflow: hidden;
}


/**
 * Styling of olap table
 */


olap-grid {
  flex: 1;
  display: block;
  overflow: auto;
  border: 0 solid #ccc;
  border-top-width: 1px;
}


olap-grid table {
  overflow: hidden;
  border-collapse: separate !important;
  border-spacing: 0px !important;
  border-width: 0 !important;
}

olap-grid table td, olap-grid table th {
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  background-color: white;
}

olap-grid table td:first-child, olap-grid table th:first-child {
  border-left-width: 1px !important;
}

olap-grid th:first-child, .input-table-container td:first-child {
  width: 15%;
}

dd {
  margin-bottom: 5px;
}