<td class="row-graph" ng-style="$ctrl.firstColStyle">
	<i class="fa fa-line-chart"
	   ng-click="$ctrl.toggleGraph()"
	   ng-style="{color: $ctrl.graphToggled ? 'black' : 'revert'}"></i>
</td>

<td class="row-title" ng-style="$ctrl.firstColStyle" title="{{$ctrl.name}}">
	<div>
		<i class="fa fa-arrow-circle-right" ng-if="$ctrl.isGroup"></i>
		{{$ctrl.name|formatSlot}}
	</div>
</td>

<td class="row-dimension" ng-style="$ctrl.firstColStyle">
	<div ng-if="$ctrl.availableDimensions.length">
		<button class="btn btn-default btn-xs" ng-if="$ctrl.split" ng-click="$ctrl.toggleSplit(null)">
			<i class="fa fa-minus"></i>
		</button>

		<div class="btn-group" uib-dropdown dropdown-append-to-body ng-if="!$ctrl.split">
			<button class="btn btn-default btn-xs" uib-dropdown-toggle>
				<i class="fa fa-plus"></i>
			</button>

			<ul class="dropdown-menu" uib-dropdown-menu>
				<li ng-repeat="dim in $ctrl.availableDimensions track by dim.id">
					<a ng-click="$ctrl.toggleSplit(dim.id)">{{dim.name|translate}}</a>
				</li>
			</ul>
		</div>
	</div>
</td>

<td ng-class="{empty: $ctrl.indicator.baseline === null}">
	<span>{{$ctrl.indicator.baseline}}{{$ctrl.indicator|indicatorUnit}}</span>
</td>
<td ng-class="{empty: $ctrl.indicator.target === null}">
	<span>{{$ctrl.indicator.target}}{{$ctrl.indicator|indicatorUnit}}</span>
</td>

<td ng-if="!$ctrl.values"
	colspan="{{$ctrl.columns.length}}"
	style="background-color: rgb(238, 238, 238);">
	{{$ctrl.errorMessage|translate}}
</td>

<td ng-repeat="value in $ctrl.values track by $index"
	td-reporting-field
	value="value"
	indicator="$ctrl.indicator">
</td>
