<table class="table table-bordered table-condensed table-raw-data">
	<thead>
		<tr>
			<th translate="project.section"></th>
			<th translate="project.variable"></th>
			<th translate="project.partition"></th>
			<th translate="project.additional_partition"></th>
			<th>Agrégation</th>
		</tr>
	</thead>
	<tbody ng-repeat="section in rawData track by section.id">
		<tr ng-repeat="element in section.elements track by element.id">
			<td rowspan="{{section.elements.length + 1}}" ng-if="$first" acl-has-project-role="owner" acl-fallback="section.name">
				<a ng-click="remove(section, rawData)" class="remove-action"><i class="fa fa-times" style="color: red"></i></a>
				<span mt-content-editable ng-model="section.name"></span>
			</td>
			<td acl-has-project-role="owner" acl-fallback="element.name">
				<a ng-click="remove(element, section.elements)" class="remove-action"><i class="fa fa-times" style="color: red"></i></a>
				<span mt-content-editable ng-model="element.name"></span>
			</td>
			<td>
				<ul>
					<li ng-repeat="p in element.partition1 track by p.id" acl-has-project-role="owner" acl-fallback="p.name">
						<a ng-click="remove(p, element.partition1)" class="remove-action"><i class="fa fa-times" style="color: red"></i></a>
						<span mt-content-editable ng-model="p.name"></span>
					</li>
					<li acl-has-project-role="owner"><a ng-click="newPartition(element.partition1)" translate="project.new_partition"></a></li>
				</ul>
			</td>
			<td>
				<ul ng-if="element.partition1.length >= 2">
					<li ng-repeat="p in element.partition2 track by p.id" acl-has-project-role="owner" acl-fallback="p.name">
						<a ng-click="remove(p, element.partition2)" class="remove-action"><i class="fa fa-times" style="color: red"></i></a>
						<span mt-content-editable ng-model="p.name"></span>
					</li>
					<li acl-has-project-role="owner"><a ng-click="newPartition(element.partition2)" translate="project.new_partition"></a></li>
				</ul>
			</td>
			<td>
				Sur des lieux différents<br/>
				<select ng-model="element.geoAgg">
					<option value="none">Ne pas agréger</option>
					<option value="sum">Somme</option>
					<option value="average">Moyenne</option>
					<option value="highest">Plus grand valeure</option>
					<option value="lowest">Plus petite valeure</option>
					<option value="last">Dernière valeur</option>
				</select><br/>

				Sur un même lieu<br/>
				<select ng-model="element.timeAgg">
					<option value="none">Ne pas agréger</option>
					<option value="sum">Somme</option>
					<option value="average">Moyenne</option>
					<option value="highest">Plus grand valeure</option>
					<option value="lowest">Plus petite valeure</option>
					<option value="last">Dernière valeur</option>
				</select><br/>
			</td>
		</tr>
		<tr acl-has-project-role="owner">
			<td ng-if="section.elements.length === 0">
				<a ng-click="remove(section, rawData)" class="remove-action"><i class="fa fa-times" style="color: red"></i></a>
				<span mt-content-editable ng-model="section.name"></span>
			</td>
			<td colspan="4" style="text-align: center">
				<a ng-click="newVariable(section.elements)"
				   class="btn btn-xs btn-default" 
				   style="width: 100%"
				   translate="project.new_variable"></a>
			</td>
		</tr>
	</tbody>
	<tbody acl-has-project-role="owner">
		<tr>
			<td colspan="5" style="text-align: center">
				<a ng-click="newSection(rawData)" class="btn btn-xs btn-default" style="width: 100%" translate="project.new_section"></a>
			</td>
		</tr>
	</tbody>
</table>
