<div class="row">
	<div class="col-md-4">
		<legend>
			<i class="pull-right fa fa-globe"></i>
			Pourquoi une plateforme en ligne
		</legend>

		<div class="project-content-inner">
			<ul>
				<li style="margin-bottom: 5px">
					<strong>Structurer</strong> le système de monitoring des projets
				</li>
				<li style="margin-bottom: 5px">
					<strong>Augmenter la fiabilité</strong><br/>
					<ul>
						<li>Disposer de contrôles de cohérence afin de limiter les erreurs de saisie</li>
						<li>Limiter les fautes de calcul</li>
					</ul>
				</li>
				<li style="margin-bottom: 5px">
					<strong>Prendre du recul</strong><br/>
					<ul>
						<li>Encourager des projets géographiquement éloignés à utiliser les mêmes indicateurs lorsqu’ils mesurent des grandeurs comparables.</li>
						<li>Disposer de mécanismes pour comparer la valeur d’un indicateur sur un projet, avec la même grandeur chez tous les autres qui le collectent.</li>
					</ul>
				</li>
				<li style="margin-bottom: 5px">
					<strong>Faciliter la communication</strong><br/>
					<ul>
						<li>Donner accès direct aux données des projets auprès de l'ensemble des services et directions de l’ONG (direction générale, communication, ...)</li>
						<li>Disposer d'une unique version des données partagée entre siège et terrain</li>
					</ul>
				</li>
				<li style="margin-bottom: 5px">
					<strong>Standardiser</strong><br/>
					<ul>
						<li>Faciliter le turn-over en limitant l'utilisation d'outils différents sur chaque projet.</li>
						<li>Réduire la courbe d’apprentissage nécessaire à l'exploitation des données d'un nouveau projet.</li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
	<div class="col-md-8">
		<legend>
			<i class="pull-right fa fa-lightbulb-o"></i>
			À garder en tête
		</legend>
		<div class="project-content-inner">
			<p>
				Monitool est un outil de monitoring.
			</p>
			<p>Il participe au suivi permanent, continue et systématique de la situation et de son évolution tout le long de la vie d’un projet.</p>
			<p>
				L'objectif de cet outil est d'aider à la prise de décision, grâce au suivi régulier d'indicateurs qui vous renseigneront sur
				l'avancement de vos activités, et sur la contribution de ces dernières aux résultats et objectifs fixés par votre projet.
			</p>
			<p>
				Bien qu'il puisse y contribuer, son objectif premier n'est pas de réaliser du suivi épidémiologique, ou de centraliser des fiches
				de morbidité qui sont chronophages et n'ont que peu de valeur en gestion de projet, spécialement sur des projets de soutien à des structures sanitaires.
			</p>
		</div>

		<legend>
			<i class="pull-right fa fa-play"></i>
			Quelles sont les premières étapes pour commencer?
		</legend>

		<div class="project-content-inner">

			<p>Avant de configurer un projet dans Monitool il est nécessaire de</p>
			<ul>
				<li>
					Concevoir votre projet de référence: cadre logique de référénce avec des indicateurs de résultat, d’effet et si nécessaire de processus.
				</li>
				<li>
					Détailler tous vos indicateurs avec l’outil <i>résumé des indicateurs</i> du projet de référence et des bailleurs (s’ils sont différents).
					<ul>
						<li>
							Pourquoi: Commencez par identifier en quoi votre indicateur va permettre de mesurer l’atteinte du résultat auquel il est associé ou l’effet attendu, et comment vous l'analyserez (graphiques, tableaux, avec quelle fréquence. Il est indispensable de planifier l’utilisation des données pour la prise de décisison).
						</li>
						<li>
							Comment: identifiez toutes les données et désagrégations nécessaires au calcul des indicateurs identifiés.
						</li>
						<li>Quand, oú, par et pour qui</li>
					</ul>
				</li>
				<li>
					Construire un <i>dataflow chart</i> à partir du <i>résumé des indicateurs</i> afin de schématiser le flux des données dans votre projet
					<ul>
						<li>Les sources de sources de données organisées suivant le plan du projet</li>
						<li>Les données et leur désagrégations précises</li>
						<li>Les indicateurs organisés par cadre logique</li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-4">

		<legend>
			<i class="pull-right fa fa-clock-o"></i>
			Quand utiliser Monitool
		</legend>
		<div class="project-content-inner">
			<p>Monitool joue un rôle pendant quatre étapes d'un projet</p>
			<ul style="margin-bottom: 10px">
				<li>
					<strong>Dans la conception du cadre logique</strong><br/>

					Avec la mise à disposition des cadres logiques des autres projets et du plan de monitoring (indicateurs et données),
					accompagné des baselines, cibles et collectes passées pour chacun d'eux.
				</li>
				<li>
					<strong>Mise en place des outils de suivi</strong><br/>

					Explicitez le chemin suivi par vos données et fixez des échéances sur
					leur collecte
				</li>
				<li>
					<strong>Suivi régulier</strong><br/>
					Les graphes et tableaux de votre choix, toujours réalisées avec les données les plus à jour disponible
				</li>
				<li>
					<strong>Post-fermeture</strong><br/>
					Vos projets restent archivés et disponibles pour toute consultation
					future
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-4">

		<legend>
			<i class="pull-right fa fa-book"></i>
			Guides & Documents supports
		</legend>

		<div class="project-content-inner">
			<dl>
				<dt>Guide de planification de projets de santé (2015)</dt>
				<dd>
					Le guide
					<a href="https://mdm1.sharepoint.com/directions/dsp/SitePages/Guides.aspx" target="_blank">
						Planification de projets de santé
						<i class="fa fa-external-link"></i>
					</a>

					propose
					aux acteurs des projets de MdM une méthode de
					planification en accord avec les valeurs réaffirmées et
					précisées dans le projet associatif (soigner, témoigner
					et plaider, et accompagner les communautés
					dans leur volonté de changement social).
				</dd>

				<dt>Boite à outils de Planification de projets de santé</dt>
				<dd>
					La
					<a href="https://mdm1.sharepoint.com/directions/doi/s2ap/biblio/Pages/Toolkit.aspx" target="_blank">
						boite à outils
						<i class="fa fa-external-link"></i>
					</a>
					vous propose differents
					outils, majoritairement sur Excel, afin de vous aider à structurer votre planification.
				</dd>

				<dt>Bibliothèque monitoring de la DSP</dt>
				<dd>
					Cette
					<a href="https://mdm1.sharepoint.com/directions/dsp/SitePages/Monitoring.aspx">
						bibliothèque
						<i class="fa fa-external-link"></i>
					</a>
					vous propose divers
					fiches techniques, documents de formations et de positionnements liés au monitoring, et est maintenu par la DSP.
				</dd>
			</dl>
		</div>

	</div>
	<div class="col-md-4">

		<legend>
			<i class="pull-right fa fa-file-excel-o"></i>
			Autres outils
		</legend>

		<div class="project-content-inner">
			<dl>
				<dt>Résumé des indicateurs</dt>
				<dd>
					Disponible dans l'archive des
					<a href="https://mdm1.sharepoint.com/:u:/r/directions/dsp/Documents%20partages/MdM_essential%20document%20MONITORING_EN.7z">
						Documents essentiels au monitoring
						<i class="fa fa-download"></i>
					</a>,
					cet outil rassemble pour tous vos indicateurs le "quand", "comment", "oú", "par qui", "pourquoi" et "pour qui" les données que vous traitez doivent être collectées et analysées.
				</dd>

				<dt>Dataflow chart</dt>
				<dd>
					Dans la même archive cet outil schématise le chemin que vos données suivent dans le temps, du formulaire qui a servi à leur collecte
					dans une structure de santé, au rapport et à la prise de décision.
				</dd>
			</dl>
		</div>
	</div>
</div>
