

<ol class="breadcrumb">
	<li class="active" translate="indicator.cross_cutting"></li>
</ol>

<div ng-repeat="category in $ctrl.categories">
	<legend ng-if="!category.definition">{{('project.' + category.translate)|translate}}</legend>
	<legend ng-if="category.definition">{{category.definition.name[$root.language]}}</legend>

	<!-- markup is broken on purpose: do not fix -->
	<!-- If we put spaces between tags, margins break -->

	<div><div class="panel panel-default indicator-panel"
		 ng-repeat="indicator in category.indicators|orderBy:('name.' + $root.language)">

		<div class="panel-heading" title="{{indicator.name[$root.language]}}">{{indicator.name[$root.language]|maxLength:90}}</div>

		<div class="panel-body">
			<div ng-if="indicator.description[$root.language]">{{indicator.description[$root.language]|maxLength:200}}</div>
			<div ng-if="!indicator.description[$root.language]" translate="indicator.missing_description"></div>


			<a ui-sref="main.indicator_reporting({indicatorId: indicator._id})"
			   class="btn btn-xxs btn-default"
			   translate="indicator.see_report"></a>
		</div>

	</div></div>
</div>
