<input type="checkbox" ng-model="filterFinished" id="filter-finished" />
<label for="filter-finished">Montrer les projets finis</label>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Country</th>
			<th>Début</th>
			<th>Fin</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projects">
			<td>{{project.name}}</td>
			<td>{{project.country}}</td>
			<td>{{project.begin}}</td>
			<td>{{project.end}}</td>
			<td>
				<a href="#projects/{{project._id}}" class="btn btn-default btn-xs" ng-click="delete(centerId)">
					Modifier
				</a>
			</td>
		</tr>
	</tbody>
</table>

<button ng-click="create()">Creer nouveau projet</button>
