<input type="checkbox" ng-model="filterFinished" id="filter-finished" />
<label for="filter-finished">Montrer les projets finis</label>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th><a ng-click="pred = 'name'; rev = !rev">Nom</a></th>
			<th><a ng-click="pred = 'country'; rev = !rev">Pays</a></th>
			<th><a ng-click="pred = 'begin'; rev = !rev">Début</a></th>
			<th><a ng-click="pred = 'end'; rev = !rev">Fin</a></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projects | orderBy:pred:rev">
			<td>{{project.name}}</td>
			<td>{{project.country}}</td>
			<td>{{project.begin}}</td>
			<td>{{project.end}}</td>
			<td>
				<a href="#projects/{{project._id}}" class="btn btn-default btn-xs" ng-click="delete(centerId)">
					Modifier
				</a>
			</td>
		</tr>
	</tbody>
</table>

<button class="btn btn-default" ng-click="create()">Creer nouveau projet</button>
