<input type="checkbox" ng-model="filterFinished" id="filter-finished" />
<label for="filter-finished">Montrer les projets finis</label>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Country</th>
			<th>Date debut</th>
			<th>Date fin</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projects">
			<td>{{project.name}}</td>
			<td>{{project.country}}</td>
			<td>{{project.start_date}}</td>
			<td>{{project.end_date}}</td>
			<td><a href="#projects/{{project._id}}">Voir</a></td>
		</tr>
	</tbody>
</table>

<button ng-click="create()">Creer nouveau projet</button>
