<!-- <div class="modal-header">
	<h3 class="modal-title">I'm a modal!</h3>
</div> -->
<div class="modal-body">
	<form class="form-horizontal" role="form" name="planningForm" novalidate>

		<fieldset>
			<legend>Indicateur</legend>
			
			<ui-select ng-model="indicator.indicatorId" theme="bootstrap" ng-disabled="disabled">
				<ui-select-match placeholder="Choisissez un indicateur">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="indicator._id as indicator in indicators | filter:{name:$select.search}">
					<span>{{indicator.name}}</span>
				</ui-select-choices>
			</ui-select>
			<br/>
		</fieldset>

		<fieldset>
			<legend>Données additionelles</legend>

			<div class="form-group" show-errors>
				<label for="relevance-input" class="col-sm-2 control-label">Pertinence</label>
				<div class="col-sm-10">
					<textarea class="form-control"
							  id="relevance-input"
							  name="relevance"
							  ng-model="planning.relevance"
							  placeholder="Pourquoi collectez-vous cet indicateur?"
							  required></textarea>

					<p class="help-block" ng-if="planningForm.source.$error.required">
						Ce champ est obligatoire
					</p>
				</div>
			</div>

			<div class="row" style="margin-bottom: 15px">
				<label class="col-sm-2 control-label">Limites</label>
				<div class="form-group col-sm-5" show-errors style="margin: 0">
					<input class="form-control"
						   type="number"
						   name="minimum"
						   ng-model="planning.minimum"
						   placeholder="minimum"
						   required
						   ng-max="planning.orangeMinimum" />
				</div>
				<div class="form-group col-sm-5" show-errors style="margin: 0">
					<input class="form-control"
						   type="number"
						   name="maximum"
						   ng-model="planning.maximum"
						   placeholder="maximum"
						   required
						   ng-min="planning.orangeMaximum" />
				</div>
			</div>

			<div class="row" style="margin-bottom: 15px">
				<label class="col-sm-2 control-label">Zone Orange</label>
				<div class="form-group col-sm-5" show-errors style="margin: 0">
					<input class="form-control"
						   type="number"
						   name="orangeMinimum"
						   ng-model="planning.orangeMinimum"
						   placeholder="minimum"
						   ng-min="planning.minimum"
						   ng-max="planning.greenMinimum"
						   required />
				</div>
				<div class="form-group col-sm-5" show-errors style="margin: 0">
					<input class="form-control"
						   type="number"
						   name="orangeMaximum"
						   ng-model="planning.orangeMaximum"
						   placeholder="maximum"
						   ng-min="planning.greenMaximum"
						   ng-max="planning.maximum"
						   required />
				</div>
			</div>

			<div class="row" style="margin-bottom: 15px">
				<label class="col-sm-2 control-label">Zone Verte</label>
				<div class="form-group col-sm-5" show-errors style="margin: 0">
					<input class="form-control"
						   type="number"
						   name="greenMinimum"
						   ng-model="planning.greenMinimum"
						   placeholder="minimum"
						   required
						   ng-min="planning.orangeMinimum"
						   ng-max="planning.greenMaximum" />
				</div>
				<div class="form-group col-sm-5" show-errors style="margin: 0">
					<input class="form-control"
						   type="number"
						   name="greenMaximum"
						   ng-model="planning.greenMaximum"
						   placeholder="maximum"
						   required
						   ng-min="planning.greenMinimum"
						   ng-max="planning.orangeMaximum" />
				</div>
			</div>

			<div class="form-group" show-errors>
				<label for="baseline-input" class="col-sm-2 control-label">Baseline</label>
				<div class="col-sm-10">
					<input class="form-control"
						   id="baseline-input"
						   name="baseline"
						   type="number"
						   ng-model="planning.baseline"
						   placeholder="valeur de référence"
						   ng-min="planning.minimum"
						   ng-max="planning.maximum"
						   required />
				</div>
			</div>
			
			<div class="form-group">
				<label for="targets" class="col-sm-2 control-label">Cibles</label>
				<div class="col-sm-10">
					<div ng-repeat="target in planning.targets" class="row" style="padding-bottom: 10px">
						<div class="col-sm-4">
							<input type="month" class="form-control" ng-model="target.month" />
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="target.value" placeholder="valeur"/>
						</div>
						<div class="col-sm-4">
							<button class="btn btn-danger" ng-click="removeTarget(target)">Supprimer</button>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<button class="btn btn-default" ng-click="addTarget()">Ajouter une cible</button>
						</div>
					</div>
				</div>
			</div>

		</fieldset>

	</form>
</div>
<div class="modal-footer">

	<button ng-click="update()"
			ng-disabled="planningForm.$invalid || isUnchanged()"
			class="btn btn-primary">
		Ajouter
	</button>

	<button ng-click="reset()"
			ng-disabled="isUnchanged()"
			class="btn btn-default">
		Réinitialiser
	</button>

	<button ng-click="" class="btn btn-danger">Retirer</button>

</div>