<div class="row">
	<div class="col-md-2">
		<ng-include src="'partials/projects/menu.html'"></ng-include>
	</div>

	<div class="col-md-10">
		
		<ol class="breadcrumb">
			<li><a href="#projects">Projets</a></li>
			<li><a href="#projects/{{project._id}}">{{project.name}}</a></li>
			<li class="active">Liste des indicateurs</li>
		</ol>

		<table class="table table-bordered table-stripped table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Périodicité</th>
					<th>Nombre de saisies</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(indicatorId, planning) in project.planning">
					<td>{{indicators[indicatorId].name}}</td>
					<td>{{planning.periodicity}}</td>
					<td>{{usage[indicatorId] || 0}}</td>
					<td><a href="#projects/{{project._id}}/plannings/{{indicatorId}}">Voir</a></td>
				</tr>
			</tbody>
		</table>

		<button class="btn btn-default" ng-click="create()">Collecter un autre indicateur</button>

	</div>
</div>
