<div class="row">
	<div class="col-md-2">
		<ng-include src="'partials/projects/menu.html'"></ng-include>
	</div>

	<div class="col-md-10">
		
		<ol class="breadcrumb">
			<li><a href="#projects">Projets</a></li>
			<li><a href="#projects/{{project._id}}">{{project.name}}</a></li>
			<li class="active">Liste des plannings de saisie</li>
		</ol>

		<div class="alert alert-info" role="alert">
			<a class="pull-right" ng-click="tellMeMore = true" ng-show="!tellMeMore">Cliquez-ici pour voir des exemples</a>
			<p>
				Vos indicateurs sont distribués sur un ou plusieurs <strong>plannings de saisies</strong>!
				Ceux-ci sont composés:
			</p>
			<ul>
				<li>d'une date de début, une date de fin et une périodicité</li>
				<li>d'une liste d'indicateurs</li>
				<li>du choix des formules pour calculer les indicateurs à partir de données de base.</li>
			</ul>

			<div ng-show="tellMeMore">
				<hr/>

				<p>
					<strong>Exemple 1:</strong>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p>
					<strong>Exemple 2:</strong>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="clearfix"></div>
		</div>


		<table class="table table-bordered table-stripped table-condensed">
			<thead>
				<tr>
					<th>Nom</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(planningId, planning) in project.plannings">
					<td>{{planning.name}}</td>
					<td>
						<a href="#projects/{{project._id}}/plannings/{{planningId}}" class="btn btn-default btn-xs">
							Editer
						</a>
						<button class="btn btn-danger btn-xs" ng-click="delete(planningId)">
							Supprimer
						</button>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="input-group input-group-sm" style="width: 100%">
							<input type="text" class="form-control" ng-model="newPlanning" placeholder="Nom du nouveau planning" ng-enter="create()">
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="create()">Ajouter</button>
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	


	</div>
</div>
