<style>
	table {
		font-size: 12px;
	}
	.small {
		font-size: 12px;
		font-weight: bold;
		line-height: 12px;
	}
</style>

<div class="row">
	<div class="col-md-2">
		<ng-include src="'partials/projects/menu.html'"></ng-include>
	</div>

	<div class="col-md-10">

		<ol class="breadcrumb">
			<li><a href="#projects">Projets</a></li>
			<li><a href="#projects/{{project._id}}">{{project.name}}</a></li>
			<li class="active">Statistiques</li>
		</ol>

		<form class="form-horizontal well well-sm" novalidate>

			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label">Date de début</label>
				<div class="col-sm-10">
					<input type="month" class="form-control" ng-model="begin" ng-change="updateData()" required />
				</div>
			</div>
			
			<div class="form-group">
				<label for="indicator" class="col-sm-2 control-label">Date de fin</label>
				<div class="col-sm-10">
					<input type="month" class="form-control" ng-model="end" ng-change="updateData()" required />
				</div>
			</div>

			<div class="form-group">
				<label for="group-by-input" class="col-sm-2 control-label">Colonnes</label>
				<div class="col-sm-10">
					<select class="form-control" id="group-by-input" ng-model="groupBy" ng-change="updateData()">
						<option value="month">Mois</option>
						<option value="year">Année</option>
						<option value="entity">Lieux d'activité</option>
						<option value="group">Groupe d'activité</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="display-input" class="col-sm-2 control-label">Afficher</label>
				<div class="col-sm-10">
					<select class="form-control" id="display-input" ng-model="display">
						<option value="display">Valeurs</option>
						<option value="totalPart">Pourcentage du total</option>
						<option value="targetPart">Pourcentage de l'objectif</option>
						<option value="baselinePart">Pourcentage de la baseline</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="colorize-input" class="col-sm-2 control-label">Colorer</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<input type="checkbox" id="colorize-input" ng-model="colorize" />
					</p>
				</div>
			</div>
		</form>

<!-- 		<div class="well well-sm">
			<nvd3-multi-bar-chart
				data="reportingData"
				id="showControlsExample"
				showXAxis="true"
				showYAxis="true"
				width="800"
				height="300">

				<svg style="width: 100%; height:300px;"></svg>
				
			</nvd3-multi-bar-chart>
		</div> -->

		<table class="table table-bordered table-stripped table-condensed" ng-init="purposeOpen=true">
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="col in cols">{{col.name || col}}</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr class="small">
					<td colspan="{{cols.length + 2}}">
						OG: {{project.logicalFrame.goal}}
					</td>
				</tr>
				<tr ng-repeat="indicatorId in project.logicalFrame.indicators">
					<td>
						{{indicatorsById[indicatorId].name || 'Indicateur inconnu'}}
					</td>
					<td ng-repeat="col in cols" ng-style="colorize && {'background-color': data[col.id][indicatorId].color}">
						{{data[col.id][indicatorId][display]}}<span ng-if="display=='display'">{{indicatorsById[indicatorId].unit}}</span>
					</td>
					<td ng-style="colorize && {'background-color': data.total[indicatorId].color}">
						{{data.total[indicatorId][display]}}<span ng-if="display=='display'">{{indicatorsById[indicatorId].unit}}</span>
					</td>
				</tr>
			</tbody>
			<tbody ng-repeat-start="purpose in project.logicalFrame.purposes" ng-init="purposeId=$index;purposeOpen=true;">
				<tr class="small">
					<td colspan="{{cols.length + 2}}">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a ng-click="purposeOpen=!purposeOpen">
							<i class="fa" ng-class="{'fa-minus-circle': purposeOpen, 'fa-plus-circle': !purposeOpen}"></i>
							OS.{{purposeId+1}}: {{purpose.description}}
						</a>
					</td>
				</tr>
				<tr ng-repeat="indicatorId in purpose.indicators" ng-if="purposeOpen">
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;{{indicatorsById[indicatorId].name || 'Indicateur inconnu'}}
					</td>
					<td ng-repeat="col in cols" ng-style="colorize && {'background-color': data[col.id][indicatorId].color}">
						{{data[col.id][indicatorId][display]}}<span ng-if="display=='display'">{{indicatorsById[indicatorId].unit}}</span>
					</td>
					<td ng-style="colorize && {'background-color': data.total[indicatorId].color}">
						{{data.total[indicatorId][display]}}<span ng-if="display=='display'">{{indicatorsById[indicatorId].unit}}</span>
					</td>
				</tr>
			</tbody>
			<tbody ng-repeat="output in purpose.outputs" ng-init="outputOpen=true" ng-if="purposeOpen">
				<tr class="small">
					<td colspan="{{cols.length + 2}}">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a ng-click="outputOpen=!outputOpen">
							<i class="fa" ng-class="{'fa-minus-circle': outputOpen, 'fa-plus-circle': !outputOpen}"></i>
							R.{{purposeId+1}}.{{$index+1}}: {{output.description}}
						</a>
					</td>
				</tr>
				<tr ng-repeat="indicatorId in output.indicators" ng-if="outputOpen">
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{indicatorsById[indicatorId].name || 'Indicateur inconnu'}}
					</td>
					<td ng-repeat="col in cols" ng-style="colorize && {'background-color': data[col.id][indicatorId].color}">
						{{data[col.id][indicatorId][display]}}<span ng-if="display=='display'">{{indicatorsById[indicatorId].unit}}</span>
					</td>
					<td ng-style="colorize && {'background-color': data.total[indicatorId].color}">
						{{data.total[indicatorId][display]}}<span ng-if="display=='display'">{{indicatorsById[indicatorId].unit}}</span>
					</td>
				</tr>
			</tbody>
			<tbody ng-repeat-end><!-- This may look a bit hackish... but is always better than nesting tables --></tbody>
		</table>

	</div>
</div>

