<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active">{{project.name}}</li>
	<li class="active" translate="project.basics"></li>
</ol>

<div class="alert alert-info">
	<p>
		Les données de bases de votre projet permettent de le classer parmi les autres.
		Une attention particulière doit être portée sur:
	</p>

	<ul>
		<li>Les thématiques, qui conditionneront les indicateurs transversaux à collecter</li>
		<li>Les dates, qui conditionneront les calendriers de saisie</li>
	</ul>
</div>

<legend translate="project.basics"></legend>

<form class="form-horizontal noprint" role="form" name="projectForm" novalidate>
	<fieldset>

		<div class="form-group" show-errors>
			<label for="input-country" class="col-sm-2 control-label" translate="shared.country"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.country">
				<input id="input-country"
					   type="text"
					   class="form-control"
					   name="country"
					   ng-model="project.country"
					   placeholder="{{'project.country_ph'|translate}}"
					   required />
				
				<p class="help-block" ng-if="projectForm.country.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="input-name" class="col-sm-2 control-label" translate="shared.name"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.name">
				<input id="input-name"
					   type="text"
					   class="form-control"
					   name="name"
					   ng-model="project.name"
					   placeholder="{{'project.name_ph'|translate}}"
					   required />
				
				<p class="help-block" ng-if="projectForm.name.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group">
			<label for="input-themes" class="col-sm-2 control-label" translate="indicator.themes"></label>
			<div class="col-sm-10">
				<ui-select id="input-themes" multiple ng-model="project.themes" name="themes" theme="bootstrap" required acl-has-project-role="owner">
					<ui-select-match placeholder="{{'indicator.select_themes'|translate}}">{{$item.name[language]}}</ui-select-match>
					<ui-select-choices repeat="theme._id as theme in themes">{{theme.name[language]}}</ui-select-choices>
				</ui-select>

				<p class="form-control-static" acl-lacks-project-role="owner">{{project.themes|getObjects:themes|pluck:'name'|pluck:language|join:', '}}</p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="input-start" class="col-sm-2 control-label" translate="project.start_date"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.start">

				<utc-datepicker ng-model="project.start" />

				<p class="help-block" ng-if="projectForm.start.$error.required" translate="form.mandatory"></p>
				<p class="help-block" ng-if="projectForm.start.$error.lowerThan" translate="form.start_lower_than_end"></p>
			</div>
		</div>

		<div class="form-group" show-errors>
			<label for="input-end" class="col-sm-2 control-label" translate="project.end_date"></label>
			<div class="col-sm-10" acl-has-project-role="owner" acl-fallback="project.end">

				<utc-datepicker ng-model="project.end" />

				<p class="help-block" ng-if="projectForm.end.$error.required" translate="form.mandatory"></p>
				<p class="help-block" ng-if="projectForm.end.$error.greaterThan" translate="form.end_greater_than_start"></p>
			</div>
		</div>

 	</fieldset>
</form>
