<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.structure.basics" ng-bind="project.name"></a></li>
	<li><a ui-sref="main.project.structure.collection_form_list" translate="project.collection_form_list"></a></li>
	<li class="active">{{project.forms[currentFormIndex].name}}</li>
</ol>

<div class="alert alert-danger noprint" ng-if="formUsage.length">
	 <span ng-bind-html="'project.collection_form_warning'|translate:{num_inputs:formUsage.length}|unsafe"></span>
</div>

<form class="form-horizontal" role="form" name="dataSourceForm" novalidate>
	<legend translate="project.collection_form_planning"></legend>
	
	<div class="form-group" show-errors>
		<label for="input-name" class="col-sm-2 control-label" translate="shared.name"></label>
		<div class="col-sm-10">
			<input type="text"
				   class="form-control"
				   id="input-name"
				   name="name"
				   ng-model="project.forms[currentFormIndex].name"
				   placeholder="{{'project.form_name_ph'|translate}}"
				   required />
			
			<p class="help-block" ng-if="dataSourceForm.name.$error.required" translate="form.mandatory"></p>
		</div>
	</div>

	<div class="form-group">
		<label for="collect-input" class="col-sm-2 control-label" translate="project.collect"></label>
		<div class="col-sm-10">
			<select class="form-control" name="collect" id="collect-input" ng-model="project.forms[currentFormIndex].collect">
				<option value="some_entity" translate="project.collects.some_entity"></option>
				<option value="entity" translate="project.collects.entity"></option>
				<option value="project" translate="project.collects.project"></option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="project.forms[currentFormIndex].collect == 'some_entity'">
		<label for="entities-input" class="col-sm-2 control-label" translate="project.collection_site_list"></label>
		<div class="col-sm-10">
			<ui-select multiple ng-model="project.forms[currentFormIndex].entities" theme="bootstrap" ui-required="true">
				<ui-select-match placeholder="">{{$item.name|translate}}</ui-select-match>
				<ui-select-choices repeat="entity.id as entity in project.entities">
					{{entity.name|translate}}
				</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<div class="form-group">
		<label for="periodicity-input" class="col-sm-2 control-label" translate="project.periodicity"></label>
		<div class="col-sm-10">
			<select class="form-control" name="periodicity" id="periodicity-input" ng-model="project.forms[currentFormIndex].periodicity">
				<option value="day" translate="project.periodicities.day"></option>
				<option value="week" translate="project.periodicities.week"></option>
				<option value="month" translate="project.periodicities.month"></option>
				<option value="quarter" translate="project.periodicities.quarter"></option>
				<option value="year" translate="project.periodicities.year"></option>
				<option value="free" translate="project.periodicities.free"></option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="project.forms[currentFormIndex].periodicity !== 'free'">
		<label for="periodicity" class="col-sm-2 control-label" translate="project.specific_start"></label>
		<div class="col-sm-10">
			<optional-date ng-model="project.forms[currentFormIndex].start" default="project.start" message="project.same_as_start"></optional-date>
		</div>
	</div>

	<div class="form-group" ng-if="project.forms[currentFormIndex].periodicity !== 'free'">
		<label for="periodicity" class="col-sm-2 control-label" translate="project.specific_end"></label>
		<div class="col-sm-10">
			<optional-date ng-model="project.forms[currentFormIndex].end" default="project.end" message="project.same_as_end"></optional-date>
		</div>
	</div>

	<legend translate="project.collection_form_structure"></legend>

	<!-- Editable table -->
	<table class="table table-bordered table-condensed table-aggregated-data">
		<thead>
			<tr>
				<th style="width: 30px"></th>
				<th style="min-width: 200px" translate="project.variable"></th>
				<th translate="project.aggregation" style="width: 140px"></th>
				<th translate="project.partitions" colspan="2"></th>
				<th style="width: 30px"></th>
			</tr>
		</thead>
		<tbody ng-sortable="variableSortOptions">

			<!-- variable row -->
			<tr ng-repeat-start="element in project.forms[currentFormIndex].elements track by element.id">

				<td rowspan="2" class="handle variable-handle"><i class="fa fa-bars"></i></td>

				<!-- variable name -->
				<td rowspan="2">
					<textarea full-height type="text" ng-model="element.name" required class="form-control"></textarea>
				</td>
				
				<!-- variable aggregation -->
				<td rowspan="2">
					{{'project.sites_agg'|translate}}<br/>
					<select ng-model="element.geoAgg">
						<option value="none" translate="project.none"></option>
						<option value="sum" translate="project.sum"></option>
						<option value="average" translate="project.average"></option>
						<option value="highest" translate="project.highest"></option>
						<option value="lowest" translate="project.lowest"></option>
						<option value="last" translate="project.last"></option>
					</select><br/>

					{{'project.time_agg'|translate}}<br/>
					<select ng-model="element.timeAgg">
						<option value="none" translate="project.none"></option>
						<option value="sum" translate="project.sum"></option>
						<option value="average" translate="project.average"></option>
						<option value="highest" translate="project.highest"></option>
						<option value="lowest" translate="project.lowest"></option>
						<option value="last" translate="project.last"></option>
					</select>
				</td>

				<!-- variable partitions -->
				<td style="text-align: center; vertical-align: middle">
					<i class="fa fa-columns fa-rotate-270"></i>
				</td>

				<td style="position: relative; padding-bottom: 23px; ">
					<span translate="project.no_partitions" ng-if="element.rowPartitions.length == 0"></span>

					<ul ng-sortable="{handle: '.partition-handle', group: element.id, onStart: dragStart, onEnd: dragEnd}"
					    ng-mouseenter="onSortableMouseEvent(true)"
					    ng-mouseleave="onSortableMouseEvent(false)">

						<li ng-repeat="partition in element.rowPartitions" style="margin-bottom: 2px">

							<a class="btn btn-xxs btn-default pull-right"
							   ng-click="editPartition(element.rowPartitions, partition)">

								<i class="fa fa-fw fa-pencil"></i>
								<span translate="shared.edit"></span>
							</a>

							<i class="fa fa-bars partition-handle"></i>

							<strong>{{partition.name}}</strong>
							
							<span ng-repeat="group in partition.groups">
								<span class="label label-info"><i class="fa fa-arrow-circle-right"></i> {{group.name}}</span>
							</span>
							
							<span ng-repeat="element in partition.elements">
								<span class="label label-default">{{element.name}}</span>
							</span>
						</li>
					</ul>

					<a ng-click="editPartition(element.rowPartitions, null)"
					   class="btn btn-xxs btn-default"
					   style="position: absolute; bottom: 4px; right: 3px">
						<i class="fa fa-plus"></i>
						<span translate="project.add_partition"></span>
					</a>
				</td>

				<!-- variable actions -->
				<td rowspan="2">
					<a class="btn btn-danger btn-sm" ng-click="remove(element, project.forms[currentFormIndex].elements)">
						<i class="fa fa-remove"></i>
					</a>
				</td>
 			</tr>
 			<tr ng-repeat-end>
				<td style="text-align: center; vertical-align: middle">
					<i class="fa fa-columns"></i>
				</td>

				<td style="position: relative; padding-bottom: 23px; ">
					<span translate="project.no_partitions" ng-if="element.colPartitions.length == 0"></span>


					<ul ng-sortable="{handle: '.partition-handle', group: element.id, onStart: dragStart, onEnd: dragEnd}"
					    ng-mouseenter="onSortableMouseEvent(true)"
					    ng-mouseleave="onSortableMouseEvent(false)">

						<li ng-repeat="partition in element.colPartitions" style="margin-bottom: 2px">

							<a class="btn btn-xxs btn-default pull-right"
							   ng-click="editPartition(element.colPartitions, partition)">

								<i class="fa fa-fw fa-pencil"></i>
								<span translate="shared.edit"></span>
							</a>

							<i class="fa fa-bars partition-handle"></i>

							<strong>{{partition.name}}</strong>
							
							<span ng-repeat="group in partition.groups">
								<span class="label label-info"><i class="fa fa-arrow-circle-right"></i> {{group.name}}</span>
							</span>
							
							<span ng-repeat="element in partition.elements">
								<span class="label label-default">{{element.name}}</span>
							</span>
						</li>
					</ul>

					<a ng-click="editPartition(element.colPartitions, null)"
					   class="btn btn-xxs btn-default"
					   style="position: absolute; bottom: 4px; right: 3px">
						<i class="fa fa-plus"></i>
						<span translate="project.add_partition"></span>
					</a>
				</td>

 			</tr>
		</tbody>
		<tfoot>
 			<!-- add new variable row --> 
			<tr>
				<td colspan="6" style="text-align: center">
					<a ng-click="newVariable()" class="btn btn-xs btn-default">
						<i class="fa fa-plus"></i>
						<span translate="project.add_variable"></span>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</form>

<div class="pull-right">
	<button ng-click="deleteForm()" ng-if="master.forms[currentFormIndex]" class="btn btn-danger">
		<i class="fa fa-times"></i>
		<span translate="shared.delete"></span>
	</button>
</div>
