<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.structure.basics" ng-bind="masterProject.name|maxLength:50"></a></li>
	<li class="active" translate="project.collection_form_list"></li>
</ol>

<div class="alert alert-info" translate="project.collection_form_list_info"></div>

<legend translate="project.collection_form_list"></legend>


<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th style="width: 30px"></th>
			<th translate="shared.name"></th>
			<th translate="shared.start"></th>
			<th translate="shared.end"></th>
			<th translate="project.periodicity"></th>
			<th translate="project.collect"></th>
		</tr>
	</thead>
	<tbody ng-if="editableProject.forms.length == 0">
		<tr>
			<td colspan="7" style="text-align: center" translate="project.no_forms"></td>
		</tr>
	</tbody>
	<tbody ng-if="editableProject.forms.length != 0" ng-sortable="{handle: '.handle'}">
		<tr ng-repeat="form in editableProject.forms">
			<td class="handle"><i class="fa fa-sort fa-fw"></i></td>
			<td>
				<a ui-sref="main.project.structure.collection_form_edition({formId: form.id})">
					{{form.name}}
				</a>
			</td>
	
			<td ng-if="form.start">{{form.start|date}}</td>
			<td ng-if="!form.start" translate="project.same_as_start"></td>
			<td ng-if="form.end">{{form.end|date}}</td>
			<td ng-if="!form.end" translate="project.same_as_end"></td>
			
			<td>{{'project.periodicities.' + form.periodicity|translate}}</td>
			<td>{{'project.collects.' + form.collect|translate}}</td>
 		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7" style="text-align: center">
				<a class="btn btn-default btn-xs" ng-click="createForm()">
					<i class="fa fa-plus"></i>
					<span translate="shared.add"></span>
				</a>
			</td>
		</tr>
	</tfoot>
</table>
