<ol class="breadcrumb">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.structure.basics" ng-bind="project.name"></a></li>
	<li><a ui-sref="main.project.structure.collection_form_list" translate="project.collection_form_list"></a></li>
	<li class="active">{{project.forms[currentFormIndex].name}}</li>
</ol>

<div class="alert alert-danger noprint" ng-if="formUsage.length">
	 <span ng-bind-html="'project.collection_form_warning'|translate:{num_inputs:formUsage.length}|unsafe"></span>
</div>

<form class="form-horizontal" role="form" name="dataSourceForm" novalidate>
	<legend translate="project.collection_form_planning"></legend>
	
	<div class="form-group" show-errors>
		<label for="input-name" class="col-sm-2 control-label" translate="shared.name"></label>
		<div class="col-sm-10">
			<span class="help-block" style="margin-bottom: 2px">
				<i class="fa fa-info-circle"></i>
				Comment s'apelle la source de laquelle vous voulez extraire des données? Par exemple: "Dossier patient informatisé", "Registre des centre de santé", "Rapport du système national d'information sanitaire", ...
			</span>

			<input type="text"
				   class="form-control"
				   id="input-name"
				   name="name"
				   ng-model="project.forms[currentFormIndex].name"
				   placeholder="{{'project.form_name_ph'|translate}}"
				   required />
			
			<p class="help-block" ng-if="dataSourceForm.name.$error.required" translate="form.mandatory"></p>
		</div>
	</div>

	<div class="form-group">
		<label for="collect-input" class="col-sm-2 control-label" translate="project.collect"></label>
		<div class="col-sm-10">

			<span class="help-block" style="margin-bottom: 2px">
				<i class="fa fa-info-circle"></i>
				Parmi les structures identifiées dans "Lieux de collecte", lesquelles font remonter cette source de donnée?
			</span>

			<select class="form-control" name="collect" id="collect-input" ng-model="project.forms[currentFormIndex].collect">
				<option value="some_entity" translate="project.collects.some_entity"></option>
				<option value="entity" translate="project.collects.entity"></option>
				<option value="project" translate="project.collects.project"></option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="project.forms[currentFormIndex].collect == 'some_entity'">
		<label for="entities-input" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<ui-select multiple ng-model="project.forms[currentFormIndex].entities" theme="bootstrap" ui-required="true">
				<ui-select-match placeholder="Choisir les structures pour lesquelles cette source de données s'applique">{{$item.name|translate}}</ui-select-match>
				<ui-select-choices repeat="entity.id as entity in project.entities">
					{{entity.name|translate}}
				</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<div class="form-group">
		<label for="periodicity-input" class="col-sm-2 control-label" translate="project.periodicity"></label>
		<div class="col-sm-10">
			<span class="help-block" style="margin-bottom: 2px">
				<i class="fa fa-info-circle"></i>
				À quelle fréquence ces données remontent-elles? Attention, cette fréquence est complétement decorrelée de la fréquence à laquelle le projet doit fournir du reporting.
			</span>

			<select class="form-control" name="periodicity" id="periodicity-input" ng-model="project.forms[currentFormIndex].periodicity">
				<option value="day" translate="project.periodicities.day"></option>
				<option value="week" translate="project.periodicities.week"></option>
				<option value="month" translate="project.periodicities.month"></option>
				<option value="quarter" translate="project.periodicities.quarter"></option>
				<option value="year" translate="project.periodicities.year"></option>
				<option value="free" translate="project.periodicities.free"></option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="project.forms[currentFormIndex].periodicity !== 'free'">
		<label for="periodicity" class="col-sm-2 control-label" translate="project.specific_start"></label>
		<div class="col-sm-10">
			<optional-date ng-model="project.forms[currentFormIndex].start" default="project.start" message="project.same_as_start"></optional-date>
		</div>
	</div>

	<div class="form-group" ng-if="project.forms[currentFormIndex].periodicity !== 'free'">
		<label for="periodicity" class="col-sm-2 control-label" translate="project.specific_end"></label>
		<div class="col-sm-10">
			<optional-date ng-model="project.forms[currentFormIndex].end" default="project.end" message="project.same_as_end"></optional-date>
		</div>
	</div>

	<legend translate="project.collection_form_structure"></legend>

	<div ng-sortable="{handle: '.variable-handle'}">
		<div class="panel panel-info" ng-repeat="(index, element) in project.forms[currentFormIndex].elements">
			<div class="panel-heading">

				<div class="pull-right">
					<a href="#" class="btn btn-xxs btn-default variable-handle">
						<i class="fa fa-sort fa-fw"></i>
						Restez appuyé pour glisser déposer
					</a>

					<a href="#" class="btn btn-xxs btn-danger">
						<i class="fa fa-times"></i>
						Supprimer cette variable
					</a>
				</div>

				<div class="panel-title">
					<strong>Variable {{index + 1}}:</strong> {{element.name}}
				</div>
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Que mesurez-vous?</label>
					<div class="col-sm-10">
						<span class="help-block" style="margin-bottom: 2px">
							<i class="fa fa-info-circle"></i>
							Nommez la variable que vous voulez extraire de/du <code>{{project.forms[currentFormIndex].name}}</code>. Par exemple "Nombre de diagnostics effectués".
						</span>

						<input type="text" class="form-control" ng-model="element.name" placeholder="ex: Nombre de diagnostics effectués">
					</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Comment grouper les<br/>valeurs de plusieurs sites</label>
					<div class="col-sm-10 form-control-static">

						<span class="help-block" style="margin-bottom: 2px">
							<i class="fa fa-info-circle"></i>
							Dans un projet avec deux sites, si <code>{{element.name}}</code> vaut 10 pour un site, et 20 pour l'autre, que vaut-il pour le projet?
						</span>

						<select name="" id="" class="form-control">
							<option value="">30 (la somme des valeurs)</option>
							<option value="">15 (la moyenne des valeurs)</option>
							<option value="">10 (la plus petite valeur)</option>
							<option value="">20 (la plus grande valeur)</option>
							<option value="">Impossible de faire ce calcul</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Comment grouper les<br/>valeurs de plusieurs périodes</label>
					<div class="col-sm-10 form-control-static">
						<span class="help-block" style="margin-bottom: 2px">
							<i class="fa fa-info-circle"></i>
							Dans un projet qui collecte mensuellement, si
							<code>{{element.name}}</code> vaut 10 en janvier, et 20 en
							février et 30 en mars que vaut-il pour le premier trimestre?
						</span>

						<select name="" id="" class="form-control">
							<option value="">60 (la somme des valeurs)</option>
							<option value="">20 (la moyenne des valeurs)</option>
							<option value="">10 (la plus petite valeur)</option>
							<option value="">30 (la plus grande valeur)</option>
							<option value="">30 (la dernière valeur)</option>
							<option value="">Impossible de faire ce calcul</option>
						</select>

					</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Quelles sont les désagrégations à utiliser sur cette variable?</label>
					
					<div class="col-sm-10 form-control-static">
						<span class="help-block" style="margin-bottom: 2px">
							<i class="fa fa-info-circle"></i>
							Veut-t'on être capable de différencier <code>{{element.name}}</code> par age, sexe, prise en charge, motif de consultation, pathologie, tranche horaire, reférencement effectif, ...?
						</span>

						<div class="well" style="padding: 5px;">
							<ul style="list-style-type: none; padding-left: 5px">
								<li ng-if="element.rowPartitions.length == 0">
									Aucune partition disponible sur cette variable
								</li>

								<li ng-repeat="partition in element.rowPartitions" style="margin-bottom: 2px">

									<a ng-click="editPartition(element.rowPartitions, partition)">

										<i class="fa fa-pencil"></i>
										<strong>{{partition.name}}</strong>
										({{partition.elements|pluck:"name"|join:", "}})
									</a>
								</li>
							</ul>

							<a ng-click="editPartition(element.rowPartitions, null)" class="btn btn-xxs btn-default">
								<i class="fa fa-plus"></i>
								<span translate="project.add_partition"></span>
							</a>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">
						Comment afficher le tableau de saisie de cette variable dans les formulaires?
					</label>

					<div class="col-sm-10 form-control-static">

						<span class="help-block" style="margin-bottom: 2px">
							<i class="fa fa-info-circle"></i>
							Cette disposition sera utilisée pour les formulaires de saisie en ligne, et pour les versions PDF à imprimer.
						</span>

						<partition-order partitions="element.rowPartitions"></partition-order>
					</div>
				</div>

			</div>
		</div>
	</div>

</form>

<div class="pull-right">
	<button ng-click="deleteForm()" ng-if="master.forms[currentFormIndex]" class="btn btn-danger">
		<i class="fa fa-times"></i>
		<span translate="shared.delete"></span>
	</button>
</div>
