<div class="modal-body">
	<form class="form-horizontal" role="form" name="planningForm" novalidate>
		<legend translate="project.edit_indicator" ng-if="!indicator"></legend>
		<legend ng-if="indicator" title="{{indicator.name[language]}}">{{indicator.name[language]|maxLength:90}}</legend>

		<p ng-if="indicator" style="text-align: center; margin-bottom: 10px">{{indicator.description[language]}}</p>


		<div class="form-group" ng-if="!indicator">
			<label for="display-input" class="col-sm-2 control-label" translate="project.display"></label>
			<div class="col-sm-10">

				<input id="display-input"
					   class="form-control"
					   name="display"
					   ng-model="planning.display"
					   placeholder="{{'project.display_ph'|translate}}"
					   required />

				<p class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.indicator_help_display"></span>
				</p>
			</div>
		</div>

		<div class="form-group">
			<label for="baseline-input" class="col-sm-2 control-label" translate="project.baseline"></label>
			<div class="col-sm-10">
				<optional-number ng-model="planning.baseline" default="0" message="project.value_unknown"></optional-number>
				<p class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.indicator_help_baseline"></span>
				</p>
			</div>
		</div>

		<div class="form-group">
			<label for="target-input" class="col-sm-2 control-label" translate="project.target"></label>
			<div class="col-sm-10">
				<optional-number ng-model="planning.target" default="100" message="project.value_unknown"></optional-number>
				<p class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.indicator_help_target"></span>
				</p>
			</div>
		</div>

		<div class="form-group" ng-show="planning.baseline !== null && planning.target !== null">
			<label for="colorize-input" class="col-sm-2 control-label" translate="shared.colorize"></label>
			<div class="col-sm-10">
				<input id="colorize-input" type="checkbox" ng-model="planning.colorize" />
				<p class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.indicator_help_colorize"></span>
				</p>
			</div>
		</div>

		<div class="form-group">
			<label for="computation-input" class="col-sm-2 control-label" translate="project.computation"></label>
			<div class="col-sm-10">
				<indicator-computation forms="editableProject.forms" ng-model="planning.computation"></indicator-computation>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button ng-click="save()" ng-disabled="planningForm.$invalid" class="btn btn-primary">
		<i class="fa fa-object-group"></i>
		<span translate="project.update_logframe"></span>
	</button>

	<button ng-click="delete()" class="btn btn-danger" ng-if="!isNew && !indicator">
		<i class="fa fa-remove"></i>
		<span translate="shared.delete"></span>
	</button>

	<button ng-click="cancel()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.cancel"></span>
	</button>
</div>
