<div class="modal-body">
	<form class="form-horizontal" role="form" name="planningForm" novalidate>
		<legend translate="project.edit_indicator"></legend>

		<div class="form-group" show-errors>
			<label for="display-input" class="col-sm-2 control-label" translate="project.display"></label>
			<div class="col-sm-10">
				<input class="form-control" id="display-input" name="display" ng-model="planning.display" placeholder="{{'project.display_ph'|translate}}" required />
				<p class="help-block" ng-if="planningForm.display.$error.required" translate="form.mandatory"></p>
			</div>
		</div>

		<div class="form-group">
			<label for="baseline-input" class="col-sm-2 control-label" translate="project.baseline"></label>
			<div class="col-sm-10">
				<optional-number ng-model="planning.baseline" default="0"></optional-number>
			</div>
		</div>

		<div class="form-group">
			<label for="target-input" class="col-sm-2 control-label" translate="project.target"></label>
			<div class="col-sm-10">
				<optional-number ng-model="planning.target" default="100"></optional-number>
			</div>
		</div>

		<div class="form-group">
			<label for="colorize-input" class="col-sm-2 control-label" translate="shared.colorize"></label>
			<div class="col-sm-10">
				<input id="colorize-input"
					   type="checkbox"
					   ng-model="planning.colorize"
					   ng-disabled="planning.baseline == null || planning.target == null" />
			</div>
		</div>

		<div class="form-group">
			<label for="targetType-input" class="col-sm-2 control-label" translate="indicator.target"></label>
			<div class="col-sm-10">
				<select id="input-target" class="form-control" ng-model="planning.targetType" required>
					<option value="lower_is_better" translate="indicator.lower_is_better"></option>
					<option value="higher_is_better" translate="indicator.higher_is_better"></option>
					<option value="around_is_better" translate="indicator.around_is_better"></option>
					<option value="non_relevant" translate="indicator.non_relevant"></option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="unit-input" class="col-sm-2 control-label" translate="indicator.unit"></label>
			<div class="col-sm-10">
				<select id="input-unit" name="unit" ng-model="planning.unit" class="form-control" required>
					<option value="none" translate="indicator.other"></option>
					<option value="%" translate="indicator.percent"></option>
					<option value="‰" translate="indicator.permille"></option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="formula-input" class="col-sm-2 control-label" translate="project.formula"></label>
			<div class="col-sm-10">
				<input expression id="colorize-input" class="form-control" ng-model="planning.formula" />
			</div>
		</div>

		<table class="table table-bordered table-condensed table-stripped">
			<thead>
				<tr>
					<th style="width: 15%" translate="project.parameter"></th>
					<th style="width: 30%" translate="project.variable"></th>
					<th style="width: 55%" translate="project.filters"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, parameter) in planning.parameters">
					<!-- parameter key (this one we edit in the formula) -->
					<td>{{key}}</td>

					<!-- elementId -->
					<td>
						<select required
								class="form-control"
								ng-model="parameter.elementId"
								ng-options="v.id as v.name group by v.group for v in selectElements"></select>
					</td>
					<td>
						<div class="row" ng-repeat="partition in elementsById[parameter.elementId].partitions" style="margin-bottom: 3px">
							<div class="col-sm-2">
								<div style="margin: 4px">
									<strong>{{partition.name}}</strong>
								</div>
							</div>
							<div class="col-sm-10">
								<partition-filter ng-model="parameter.filter[partition.id]" partition="partition"></partition-filter>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<div class="modal-footer">
	<button ng-click="save()" ng-disabled="planningForm.$invalid" class="btn btn-primary">
		<i class="fa fa-object-group"></i>
		<span translate="project.update_logframe"></span>
	</button>

	<button ng-click="delete()" class="btn btn-danger" ng-if="!isNew">
		<i class="fa fa-remove"></i>
		<span translate="shared.delete"></span>
	</button>

	<button ng-click="cancel()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.cancel"></span>
	</button>
</div>
