<div class="modal-body">
	<form class="form-horizontal" role="form" name="planningForm" novalidate>
		<legend translate="project.edit_indicator"></legend>

		<div class="form-group" show-errors>
			<label for="display-input" class="col-sm-2 control-label" translate="project.display"></label>
			<div class="col-sm-10">
				<input class="form-control" id="display-input" name="display" ng-model="planning.display" placeholder="{{'project.display_ph'|translate}}" required />
				
				<!-- <p class="help-block" ng-if="planningForm.display.$error.required" translate="form.mandatory"></p> -->
			</div>
		</div>

		<div class="form-group">
			<label for="baseline-input" class="col-sm-2 control-label" translate="project.baseline"></label>
			<div class="col-sm-10">
				<optional-number ng-model="planning.baseline" default="0"></optional-number>
			</div>
		</div>

		<div class="form-group">
			<label for="target-input" class="col-sm-2 control-label" translate="project.target"></label>
			<div class="col-sm-10">
				<optional-number ng-model="planning.target" default="100"></optional-number>
			</div>
		</div>

		<div class="form-group" ng-show="planning.baseline !== null && planning.target !== null">
			<label for="colorize-input" class="col-sm-2 control-label" translate="shared.colorize"></label>
			<div class="col-sm-10">
				<input id="colorize-input" type="checkbox" ng-model="planning.colorize" />
			</div>
		</div>

		<div class="form-group" ng-show="planning.baseline !== null && planning.target !== null">
			<label for="targetType-input" class="col-sm-2 control-label" translate="indicator.target"></label>
			<div class="col-sm-10">
				<select id="input-target" class="form-control" ng-model="planning.targetType" required>
					<option value="lower_is_better" translate="indicator.lower_is_better"></option>
					<option value="higher_is_better" translate="indicator.higher_is_better"></option>
					<option value="around_is_better" translate="indicator.around_is_better"></option>
					<option value="non_relevant" translate="indicator.non_relevant"></option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="computation-input" class="col-sm-2 control-label" translate="indicator.computation"></label>
			<div class="col-sm-10">
				<indicator-computation forms="project.forms" ng-model="indicator.computation"></indicator-computation>
			</div>
		</div>
	
	</form>
</div>

<div class="modal-footer">
	<button ng-click="save()" ng-disabled="planningForm.$invalid" class="btn btn-primary">
		<i class="fa fa-object-group"></i>
		<span translate="project.update_logframe"></span>
	</button>

	<button ng-click="delete()" class="btn btn-danger" ng-if="!isNew">
		<i class="fa fa-remove"></i>
		<span translate="shared.delete"></span>
	</button>

	<button ng-click="cancel()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.cancel"></span>
	</button>
</div>
