<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li><a ui-sref="main.project.structure.basics" ng-bind="editableProject.name|maxLength:50"></a></li>
	<li><a ui-sref="main.project.structure.logical_frame_list" translate="shared.logical_frames"></a></li>
	<li class="active">{{editableProject.logicalFrames[logicalFrameIndex].name|maxLength:50}}</li>
</ol>

<form class="form-horizontal noprint" role="form" name="projectForm" novalidate ng-if="logicalFrameIndex !== null">

	<fieldset>
		<legend>
			<span translate="project.general_informations"></span>
		</legend>

		<div class="form-group" show-errors>
			<label for="logframe-name-input" class="col-sm-2 control-label" translate="shared.name"></label>

			<div class="col-sm-10">
				<textarea auto-resize
						  class="form-control"
						  name="nameDesc"
						  id="logframe-name-input"
						  placeholder="{{'project.logframe_ph_name'|translate}}"
						  required
						  ng-model="editableProject.logicalFrames[logicalFrameIndex].name"></textarea>

				<span class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.logframe_help_name"></span>
				</span>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>
			<span translate="project.goal"></span>
		</legend>

		<div class="form-group" show-errors>
			<label for="logframe-goal-input" class="col-sm-2 control-label" translate="project.goal"></label>

			<div class="col-sm-10">
				<textarea auto-resize
						  class="form-control"
						  name="goalDesc"
						  id="logframe-goal-input"
						  placeholder="{{'project.intervention_logic_goal_ph'|translate}}"
						  ng-model="editableProject.logicalFrames[logicalFrameIndex].goal"></textarea>

				<span class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.logframe_help_goal"></span>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" translate="shared.indicators"></label>
			<div class="col-sm-10">
				<div class="form-control-static">
					<div class="drag-destination" ng-sortable="indicatorsSortOptions" ng-mouseenter="onSortableMouseEvent('indicators', true)" ng-mouseleave="onSortableMouseEvent('indicators', false)"><div class="panel panel-default indicator-panel" ng-repeat="indicator in editableProject.logicalFrames[logicalFrameIndex].indicators">
						<div class="panel-heading">
							<i class="fa fa-arrows fa-fw indicator-handle"></i>
							{{indicator.display}}
						</div>
						
						<div class="panel-body" style="padding-bottom: 10px">
							<strong>{{'project.baseline'|translate}}:</strong> {{indicator.baseline != null ? indicator.baseline : '?'}}<br/>
							<strong>{{'project.target'|translate}}:</strong> {{indicator.target != null ? indicator.target : '?'}}<br/>
							<p>
								<strong>{{'project.computation'|translate}}:</strong>
								<span class="text-danger" ng-if="!indicator.computation">
									{{'project.indicator_is_not_computed'|translate}}
									<i class="fa fa-unlink" ></i>
								</span>
								<span class="text-success" ng-if="indicator.computation">
									{{'project.indicator_is_computed'|translate}}
									<i class="fa fa-link" ></i>
								</span>
							</p>
							<button class="btn btn-xxs btn-default" style="width: 100%; display: block" ng-click="editIndicator(indicator, editableProject.logicalFrames[logicalFrameIndex].indicators)">
								<i class="fa fa-pencil"></i>
								{{'shared.edit'|translate}}
							</button>
						</div>
					</div></div>

					<p>
						<a class="btn btn-default btn-sm" ng-click="editIndicator(null, editableProject.logicalFrames[logicalFrameIndex].indicators)">
							<i class="fa fa-plus"></i>
							{{"project.add_indicator"|translate}}
						</a>
					</p>

					<span class="help-block">
						<i class="fa fa-info-circle"></i>
						<span translate="project.logframe_help_goal_indicators"></span>
					</span>

				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend translate="project.purposes"></legend>
		
		<p ng-if="editableProject.logicalFrames[logicalFrameIndex].purposes.length == 0" translate="project.no_purposes"></p>

		<div ng-sortable="purposeSortOptions" ng-mouseenter="onSortableMouseEvent('purposes', true)" ng-mouseleave="onSortableMouseEvent('purposes', false)">

			<div class="panel panel-primary" ng-repeat="(purposeId, purpose) in editableProject.logicalFrames[logicalFrameIndex].purposes">

				<div class="panel-heading">
					<div class="panel-title">
						<a class="btn btn-danger btn-xs pull-right"
						   ng-click="remove(purpose, editableProject.logicalFrames[logicalFrameIndex].purposes)">

							<i class="fa fa-remove"></i>
							<span translate="project.delete_purpose"></span>
						</a>

						<i class="fa fa-sort fa-fw purpose-handle"></i>

						{{'project.purpose'|translate}} {{purposeId + 1}}: {{purpose.description}}
					</div>
				</div>

				<div class="panel-body">
					<ng-form name="purposeForm">
						<div class="form-group" show-errors>
							<label for="purpose-desc-{{purposeId}}-input" class="col-sm-2 control-label" translate="project.purpose"></label>
							<div class="col-sm-10">
								<textarea auto-resize class="form-control"
										  name="description"
										  id="purpose-desc-{{purposeId}}-input"
										  placeholder="{{'project.intervention_logic_purpose_ph'|translate}}"
										  ng-model="purpose.description"></textarea>

								<span class="help-block">
									<i class="fa fa-info-circle"></i>
									<span translate="project.logframe_help_purpose_desc"></span>
								</span>
							</div>
						</div>

						<div class="form-group" show-errors>
							<label for="purpose-assum-{{purposeId}}-input" class="col-sm-2 control-label" translate="project.assumptions"></label>
							<div class="col-sm-10">
								<textarea auto-resize class="form-control"
										  name="assumptions"
										  id="purpose-assum-{{purposeId}}-input"
										  placeholder="{{'project.assumptions_purpose_ph'|translate}}"
										  ng-model="purpose.assumptions"></textarea>

								<span class="help-block">
									<i class="fa fa-info-circle"></i>
									<span translate="project.logframe_help_purpose_assumptions"></span>
								</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" translate="shared.indicators"></label>
							<div class="col-sm-10">
								<div class="form-control-static">

									<div class="drag-destination" ng-sortable="indicatorsSortOptions" ng-mouseenter="onSortableMouseEvent('indicators', true)" ng-mouseleave="onSortableMouseEvent('indicators', false)"><div class="panel panel-default indicator-panel" ng-repeat="indicator in purpose.indicators">
										<div class="panel-heading">
											<i class="fa fa-arrows fa-fw indicator-handle"></i>
											{{indicator.display}}
										</div>
										
										<div class="panel-body" style="padding-bottom: 10px">
											<strong>{{'project.baseline'|translate}}:</strong> {{indicator.baseline != null ? indicator.baseline : '?'}}<br/>
											<strong>{{'project.target'|translate}}:</strong> {{indicator.target != null ? indicator.target : '?'}}<br/>
											<p>
												<strong>{{'project.computation'|translate}}:</strong>
												<span class="text-danger" ng-if="!indicator.computation">
													{{'project.indicator_is_not_computed'|translate}}
													<i class="fa fa-unlink" ></i>
												</span>
												<span class="text-success" ng-if="indicator.computation">
													{{'project.indicator_is_computed'|translate}}
													<i class="fa fa-link" ></i>
												</span>
											</p>
											<button class="btn btn-xxs btn-default" style="width: 100%; display: block" ng-click="editIndicator(indicator, purpose.indicators)">
												<i class="fa fa-pencil"></i>
												{{'shared.edit'|translate}}
											</button>
										</div>
									</div></div>

									<p>
										<a class="btn btn-default btn-sm" ng-click="editIndicator(null, purpose.indicators)">
											<i class="fa fa-plus"></i>
											{{"project.add_indicator"|translate}}
										</a>
									</p>

									<span class="help-block">
										<i class="fa fa-info-circle"></i>
										<span translate="project.logframe_help_purpose_indicators"></span>
									</span>
								</div>
							</div>
						</div>

						<div ng-sortable="outputSortOptions" ng-mouseenter="onSortableMouseEvent('outputs', true)" ng-mouseleave="onSortableMouseEvent('outputs', false)">

							<div class="panel panel-info" ng-repeat="(outputId, output) in purpose.outputs">
								<div class="panel-heading">
									<div class="panel-title">
										<span class="pull-right">
											<a class="btn btn-danger btn-xs" ng-click="remove(output, purpose.outputs)">
												<i class="fa fa-remove"></i>
												<span translate="project.delete_result"></span>
											</a>
										</span>
										<i class="fa fa-sort fa-fw output-handle"></i>
										{{'project.output'|translate}} {{purposeId + 1}}.{{outputId + 1}}: {{output.description}}
									</div>
								</div>

								<div class="panel-body">
									<ng-form name="outputForm">
										<div class="form-group" show-errors>
											<label for="output-desc-{{purposeId}}-{{outputId}}-input" class="col-sm-2 control-label" translate="project.output"></label>
											<div class="col-sm-10">
												<textarea auto-resize class="form-control"
														  id="output-desc-{{purposeId}}-{{outputId}}-input"
														  name="description"
														  placeholder="{{'project.output_desc_ph'|translate}}"
														  ng-model="output.description"></textarea>

												<span class="help-block">
													<i class="fa fa-info-circle"></i>
													<span translate="project.logframe_help_output_desc"></span>
												</span>
											</div>
										</div>

										<div class="form-group" show-errors>
											<label for="output-assump-{{purposeId}}-{{outputId}}-input" class="col-sm-2 control-label" translate="project.assumptions"></label>
											<div class="col-sm-10">
												<textarea auto-resize class="form-control"
														  id="output-assump-{{purposeId}}-{{outputId}}-input"
														  name="assumptions"
														  placeholder="{{'project.output_assumptions_ph'|translate}}"
														  ng-model="output.assumptions"></textarea>

												<span class="help-block">
													<i class="fa fa-info-circle"></i>
													<span translate="project.logframe_help_output_assumptions"></span>
												</span>
											</div>
										</div>

										<div class="form-group">
											<label class="col-sm-2 control-label" translate="shared.indicators"></label>
											<div class="col-sm-10">
												<div class="form-control-static">

													<div class="drag-destination" ng-sortable="indicatorsSortOptions" ng-mouseenter="onSortableMouseEvent('indicators', true)" ng-mouseleave="onSortableMouseEvent('indicators', false)"><div class="panel panel-default indicator-panel" ng-repeat="indicator in output.indicators">
														<div class="panel-heading">
															<i class="fa fa-arrows fa-fw indicator-handle"></i>
															{{indicator.display}}
														</div>
														
														<div class="panel-body" style="padding-bottom: 10px">
															<strong>{{'project.baseline'|translate}}:</strong> {{indicator.baseline != null ? indicator.baseline : '?'}}<br/>
															<strong>{{'project.target'|translate}}:</strong> {{indicator.target != null ? indicator.target : '?'}}<br/>
															<p>
																<strong>{{'project.computation'|translate}}:</strong>
																<span class="text-danger" ng-if="!indicator.computation">
																	{{'project.indicator_is_not_computed'|translate}}
																	<i class="fa fa-unlink" ></i>
																</span>
																<span class="text-success" ng-if="indicator.computation">
																	{{'project.indicator_is_computed'|translate}}
																	<i class="fa fa-link" ></i>
																</span>
															</p>
															<button class="btn btn-xxs btn-default" style="width: 100%; display: block" ng-click="editIndicator(indicator, output.indicators)">
																<i class="fa fa-pencil"></i>
																{{'shared.edit'|translate}}
															</button>
														</div>
													</div></div>

													<p>
														<a class="btn btn-default btn-sm" ng-click="editIndicator(null, output.indicators)">
															<i class="fa fa-plus"></i>
															{{"project.add_indicator"|translate}}
														</a>
													</p>

													<span class="help-block">
														<i class="fa fa-info-circle"></i>
														<span translate="project.logframe_help_output_indicators"></span>
													</span>
												</div>
											</div>
										</div>
									</ng-form>
								</div>
							</div>
						</div>
						<a class="btn btn-default" ng-click="addOutput(purpose)">
							<i class="fa fa-plus"></i>
							<span translate="project.add_output"></span>
						</a>
					</ng-form>
				</div>
			</div>
		</div>

		<a class="btn btn-default" ng-click="addPurpose()">
			<i class="fa fa-plus"></i>
			<span translate="project.add_purpose"></span>
		</a>
	</fieldset>

</form>

<br/>

<div class="pull-right">
	<button ng-click="deleteLogicalFrame()" ng-if="masterProject.logicalFrames[logicalFrameIndex]" class="btn btn-danger">
		<i class="fa fa-times"></i>
		<span translate="project.delete_logical_frame"></span>
	</button>
</div>

