
<div class="row">
	<div class="col-md-2 noprint">
		<div class="panel-group">

			<div class="panel panel-default" acl-has-project-role="owner">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.structure"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">
						<a ui-sref="main.project.structure.basics"
						   ui-sref-active="active"
						   class="list-group-item">

							<i class="fa fa-object-group fa-fw"></i>
							<span translate="project.basics"></span>
						</a>

						<a ui-sref="main.project.structure.collection_site_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!masterProject._rev">

							<span class="label label-default pull-right">{{masterProject.entities.length}}</span>
							<i class="fa fa-map-marker fa-fw"></i>
							<span translate="project.collection_site_list"></span>
						</a>

						<a ui-sref="main.project.structure.collection_form_list"
						   class="list-group-item"
						   ui-sref-active="active"
						   disable-if="!masterProject._rev">

							<span class="label label-default pull-right">{{masterProject.forms.length}}</span>
							<i class="fa fa-sign-in fa-fw"></i>
							<span translate="project.collection_form_list"></span>
						</a>

						<a ui-sref="main.project.structure.logical_frame_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!masterProject._rev">

							<span class="label label-default pull-right">{{masterProject.logicalFrames.length}}</span>
							<i class="fa fa-sign-out fa-fw"></i>
							<span translate="shared.logical_frames"></span>
						</a>

						<a ui-sref="main.project.structure.cross_cutting"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!masterProject._rev">

							<span class="label label-default pull-right">{{masterProject.crossCutting|length}}</span>
							<i class="fa fa-sign-out fa-fw"></i>
							<span translate="indicator.cross_cutting"></span>
						</a>

						<a ui-sref="main.project.structure.extra"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!masterProject._rev">

							<span class="label label-default pull-right">{{masterProject.extraIndicators.length}}</span>
							<i class="fa fa-sign-out fa-fw"></i>
							<span translate="indicator.extra"></span>
						</a>

						<a ui-sref="main.project.structure.user_list"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!masterProject._rev">

						   <span class="label label-default pull-right">{{masterProject.users.length}}</span>
							<i class="fa fa-user fa-fw"></i>
							<span translate="project.users"></span>
						</a>


						<a ui-sref="main.project.structure.revisions"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!masterProject._rev">

							<i class="fa fa-history fa-fw"></i>
							<span translate="project.revisions"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="panel panel-default" acl-has-project-role="input">
				<div class="panel-heading">
					<h4 class="panel-title" translate="project.input"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">

						<a ui-sref="main.project.input.list({formId: form.id})"
						   ui-sref-active="active"
						   class="list-group-item"
						   acl-has-input-form="form.id"
						   ng-repeat="form in masterProject.forms"
						   disable-if="!projectReadyForReporting">
							<i class="fa fa-pencil fa-fw"></i>
							<span>{{form.name}}</span>
						</a>


						<a class="list-group-item" ng-if="!masterProject.forms.length" disable-if="1">
							<i class="fa fa-pencil fa-fw"></i>
							<span translate="project.no_data_source"></span>
						</a>

					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="shared.reporting"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">

						<a ui-sref="main.project.reporting.general"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!projectReadyForReporting">

							<i class="fa fa-line-chart fa-fw"></i>
							<span translate="shared.reporting_general"></span>
						</a>

						<a ui-sref="main.project.reporting.detailed"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!projectReadyForReporting">
							<i class="fa fa-bar-chart fa-fw"></i>
							<span translate="project.reporting_compare_sites"></span>
						</a>

						<a ui-sref="main.project.reporting.olap"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!projectReadyForReporting">
							<i class="fa fa-table fa-fw"></i>
							<span translate="project.pivot_table"></span>
						</a>
 					</div>
				</div>
			</div>

			<div class="panel panel-default" ng-if="userCtx.type == 'user'">
				<div class="panel-collapse">
					<div class="list-group">
						<a class="list-group-item list-group-item-info" ng-click="cloneProject()" disable-if="!masterProject._rev" acl-has-project-creation>
							<i class="fa fa-clone fa-fw"></i>
							<span translate="shared.clone"></span>
						</a>

						<a class="list-group-item list-group-item-info" disable-if="1" acl-lacks-project-creation style="cursor: not-allowed">
							<i class="fa fa-clone fa-fw"></i>
							<span translate="shared.clone"></span>
						</a>

						<a class="list-group-item list-group-item-danger" ng-click="deleteProject()" disable-if="!masterProject._rev" acl-has-project-role="owner">
							<i class="fa fa-trash fa-fw"></i>
							<span translate="shared.delete"></span>
						</a>
 					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-10 print-full-width" ui-view></div>
</div>

