<table class="partition-order">
	<thead>
		<tr ng-repeat="headerRow in table.headerRows">
			<td ng-repeat="leftCol in table.leftCols"></td>
			<td>
				<select ng-model="orderedPartitions[headerRow]" ng-options="p as (p.name + ' (' + p.elements.length + ')') for p in partitions"></select>
			</td>
		</tr>
	</thead>
	<tr>
		<td ng-repeat="leftCol in table.leftCols">
			<select ng-model="orderedPartitions[leftCol]" ng-options="p as (p.name + ' (' + p.elements.length + ')') for p in partitions"></select>
		</td>
		<td class="data-field">Données ({{size}})</td>
	</tr>
</table>
