<div class="input-group" ng-repeat="p in partition track by p.id" style="margin-bottom: 2px;">
	<input class="form-control input-xs" ng-model="p.name" required>
	<span class="input-group-addon" ng-click="remove(p, partition)">
		<i class="fa fa-fw fa-times text-danger"></i>
	</span>
</div>

<div class="input-group" style="margin-bottom: 2px;">
	<input class="form-control input-xs" disabled>
	<span class="input-group-addon" ng-click="newPartitionElement(partition)">
		<i class="fa fa-fw fa-plus"></i>
	</span>
</div>

