<label for="{{partitionOrder.uniqueIdentifier}}" class="partition-table-item" ng-repeat="partitionOrder in tables">
	<table class="table table-bordered">
		<thead>
			<tr ng-repeat="headerRow in partitionOrder.headerRows">
				<td ng-repeat="leftCol in partitionOrder.leftCols"></td>
				<td>
					<strong>Intitulé</strong>
				</td>
			</tr>
		</thead>
		<tr>
			<td ng-repeat="leftCol in partitionOrder.leftCols">
				<strong>Intitulé</strong>
			</td>
			<td class="data-field">Données</td>
		</tr>
	</table>

	<input type="radio"
		   name="{{uniqueIdentifier}}"
		   id="{{partitionOrder.uniqueIdentifier}}"
		   ng-model="container.distribution"
		   ng-value="partitionOrder.numColumns" />

</label>
