
<table class="table table-bordered table-condensed">
	<thead>
		<th translate="shared.indicator"></th>
		<th translate="indicator.geo_aggregation"></th>
		<th translate="indicator.time_aggregation"></th>
		<th translate="project.source"></th>
	</thead>
	<tbody ng-repeat="field in form.fields">
		<tr form-edit-field
				field="field"
				indicator="indicatorsById[field.indicatorId]"
				raw-data="form.rawData">
		</tr>
		<tr ng-repeat="(key, subField) in field.parameters"
			class="indent1"
			form-edit-field
				field="subField"
				indicator="indicatorsById[field.indicatorId].formulas[field.formulaId].parameters[key]"
				raw-data="form.rawData">
		</tr>
	</tbody>
</table>

<div class="input-group">
	<select class="form-control"
			acl-has-project-role="owner"
			ng-model="newIndicatorId"
			ng-options="i._id as i.name for i in addableIndicators">
	</select>
	
	<span class="input-group-btn">
		<button class="btn btn-default" ng-click="add()" translate="project.add_new_indicator_to_form"></button>
	</span>
</div>
