<td acl-has-project-role="owner" acl-fallback="indicator.name">
	<a ng-click="remove()" class="remove-action" ng-if="field.indicatorId">
		<i class="fa fa-times" style="color: red"></i>
	</a>
	{{indicator.name[language] || indicator.name}}
</td>
<td form-edit-field-summable type="geo" field="field" indicator="indicator"></td>
<td form-edit-field-summable type="time" field="field" indicator="indicator"></td>
<td acl-has-project-role="owner">
	<select
		class="form-control input-sm"
		ng-model="source"
		ng-options="f.name group by f.group for f in sources">
	</select>

	<div ng-if="field.type === 'raw' && source.element.partition1.length">
		<form-edit-filter element="source.element" value="field.filter"></form-edit-filter>
	</div>
</td>
<td acl-lacks-project-role="owner">{{source.name}}</td>
