
<a class="btn btn-primary pull-right" ng-click="$ctrl.createProject()" acl-has-project-creation>
	<i class="fa fa-plus"></i>
	<span translate="project.create"></span>
</a>

<div class="pull-right"  title="{{'project.cant_create'|translate}}" acl-lacks-project-creation style="cursor: not-allowed">
	<a class="btn btn-primary disabled">
		<i class="fa fa-plus"></i>
		<span translate="project.create"></span>
	</a>
</div>

<ul class="nav nav-tabs" role="tablist">
	<li ng-class="{active:$ctrl.tab == 'my'}">
		<a ng-click="$ctrl.changeTab('my')">{{'project.my_projects'|translate}}</a>
	</li>
	<li ng-class="{active:$ctrl.tab == 'running'}">
		<a ng-click="$ctrl.changeTab('running')">{{'project.running'|translate}}</a>
	</li>
	<li ng-class="{active:$ctrl.tab == 'finished'}">
		<a ng-click="$ctrl.changeTab('finished')">{{'project.finished'|translate}}</a>
	</li>
</ul>

<br/>

<table class="table table-bordered table-stripped table-condensed">
	<thead>
		<tr>
			<th style="width: 50px"></th>
			<th><a ng-click="$ctrl.pred='country';rev=!rev">{{'shared.country'|translate}}</a></th>
			<th><a ng-click="$ctrl.pred='name';rev=!rev">{{'shared.name'|translate}}</a></th>
			<th><a ng-click="$ctrl.pred='themes';rev=!rev">{{'theme.themes'|translate}}</a></th>
			<th style="width: 100px;"><a ng-click="$ctrl.pred='start';rev=!rev">{{'shared.start'|translate}}</a></th>
			<th style="width: 100px;"><a ng-click="$ctrl.pred='end';rev=!rev">{{'shared.end'|translate}}</a></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="$ctrl.displayedProjects.length == 0">
			<td colspan="6" style="text-align: center" translate="project.noproject">
		</tr>
		<tr ng-repeat="project in $ctrl.displayedProjects|orderBy:$ctrl.pred:rev">
			<td style="text-align: center">
				<i	class="fa fa-fw fa-eye-slash"
					ng-if="project.visibility == 'private'"
					title="{{'project.visibility.private'|translate}}"></i>

				<i	class="fa fa-fw fa-eye"
					ng-if="project.visibility == 'public'"
					title="{{'project.visibility.public'|translate}}"></i>
			</td>
			<td>{{project.country}}</td>
			<td><a ng-click="$ctrl.open(project)">{{project.name}}</a></td>
			<td>{{project.themes|getObjects:$ctrl.themes|pluck:'name'|pluck:$root.language|join:', '}}</td>
			<td>{{project.start|date}}</td>
			<td>{{project.end|date}}</td>
		</tr>
	</tbody>
</table>
