
<select class="form-control" ng-model="computation.type">
	<option value="unavailable" translate="project.computations.unavailable"></option>
	<option value="fixed" translate="project.computations.fixed"></option>
	<option value="copy" translate="project.computations.copy"></option>
	<option value="percentage" translate="project.computations.percentage"></option>
	<option value="permille" translate="project.computations.permille"></option>
	<option value="formula" translate="project.computations.formula"></option>
</select>


<input type="text"
	   class="form-control"
	   ng-if="computation.type === 'fixed'"
	   style="margin-top: 3px"
	   ng-model="computation.formula"
	   ng-pattern="'\\d+'"
	   required
	   placeholder="{{'project.indicator_ph_fixed'|translate}}" />

<p class="help-block">
	<i class="fa fa-info-circle"></i>
	<span translate="project.indicator_help_computation"></span>
</p>

<table class="table table-bordered table-condensed table-stripped"
	   style="margin-top: 10px"
	   ng-if="computation.type !== 'unavailable' && computation.type !== 'fixed'">

	<thead>
		<tr>
			<th style="width: 15%" translate="project.parameter"></th>
			<th style="width: 30%" translate="project.variable"></th>
			<th style="width: 55%" translate="project.partitions"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="computation.type === 'formula'">
			<td colspan="3">
				<input expression class="form-control" ng-model="computation.formula" />
			</td>
		</tr>
		<tr ng-repeat="(key, parameter) in computation.parameters">
			<!-- parameter key (this one we edit in the formula) -->
			<td>
				<span ng-if="computation.type !== 'formula'">{{('project.formula.' + key)|translate}}</span>
				<span ng-if="computation.type === 'formula'">{{key}}</span>
			</td>

			<!-- elementId -->
			<td>
				<select required
						class="form-control"
						ng-model="parameter.elementId"
						ng-options="v.id as v.name group by v.group for v in selectElements"></select>

				<p class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.which_variable"></span>
				</p>
			</td>

			<td ng-show="elementsById[parameter.elementId].partitions.length">
				<partitions-filter ng-model="parameter.filter" element="elementsById[parameter.elementId]"></partitions-filter>

				<p class="help-block">
					<i class="fa fa-info-circle"></i>
					<span translate="project.which_partitions"></span>
				</p>
			</td>

			<td ng-hide="elementsById[parameter.elementId].partitions.length"
				style="background-color: #f3f3f3"></td>
		</tr>
	</tbody>
</table>

