<div style="clear: both"></div>
<label for="{{distrib.radioId}}" class="partition-table-item" ng-repeat="distrib in $ctrl.distributions">
	<table class="table table-bordered">
		<thead>
			<tr ng-repeat="headerRow in distrib.headerRows">
				<td ng-repeat="leftCol in distrib.leftCols"></td>
				<td>
					<strong translate="project.titles"></strong>
				</td>
			</tr>
		</thead>
		<tr>
			<td ng-repeat="leftCol in distrib.leftCols">
				<strong translate="project.titles"></strong>
			</td>
			<td class="data-field" translate="project.data"></td>
		</tr>
	</table>

	<input type="radio"
		   name="{{radioName}}"
		   id="{{distrib.radioId}}"
		   ng-model="$ctrl.distribution"
		   ng-value="distrib.value"
		   ng-change="$ctrl.onValueChange()" />
</label>
